// Styleguide
// ==========

@include set-grid(12 (4em 1em) show inside);

html {
  @include pie-clearfix;
  font-family: sans-serif;
  color: color(darker);
  background: color(white);
}

body {
  padding: 1em;
}

// Header
// ------

.sg-title {
  @include span(100%);
  @include trailing-border(1px,.5);
  @include trailer;
  font-weight: bold;
}

// Nav
// ---

.sg-nav {
  @include span(25%);
  @include adjust-font-size-to($smallpx);
}

.sg-nav-title {
  font-weight: bold;
}

// Body
// ----

.sg-body {
  @include span(last 75%)
}

// Pattern
// -------

.pattern {
  @include trailing-border(1px,1);
  @include trailer;
  border-color: color(lighter);
}

.pattern-title {
  @include trailer;
  font-weight: bold;
}

.demo {
  @include rhythm-borders(1px,1);
  @include trailer;
  @include border-radius(.25em);
  @include box-shadow(inset color(light) 0 0 3px);
  background: color(lightest,.5);
}

