// Demo
// ====

@import "site";

// Layout
// ------

@include set-grid(10 (4em 1em) after hide);
$container: null;

[role="banner"] {
  @extend %fixed-banner;

  .brand, .meta {
    float: left;
    width: 50%;
  }
  .vcard {
    display: inline-block;
  }
  .org {
    @include after(": What's Possible") { font-weight: normal; }
  }

  .meta {
    float: right;
    margin-left: -1em;
    text-align: right;
    .vcard {
      @include transition(opacity 300ms);
      opacity: 1;
      margin-left: 1em;
      &.empty { display: none; }
    }
  }
}

[role="main"] {
  @include container;
  padding: rhythm(1) 1em;
}

$footer-base: color($base light);

[role="contentinfo"] {
  @extend %banner-layout;
  @extend %banner-colors;
  @include adjust-font-size-to($smallpx);
  @include leading-border(1px,.5);
  clear: both;
  color: $footer-base;

  strong { font-weight: bold; }
  a, .phone {
    display: inline-block;
    @include before(' | ') { color: $footer-base; }
  }
}

// Headers
// -------

%demo-headers {
  h2 {
    @include serif;
    @include adjust-font-size-to($xlargepx);
    a {
      #{$link} { color: color($alt dark); }
      #{$focus} { color: color($accent dark); }
    }
  }

  h3 {
    @include trailer(.5);
    text-transform: uppercase;
  }

  h4 {
    @include leader;
    font-weight: bold;
  }
}

// Patterns
// --------

$steps: teacher-login learner-login topic-select learning-session results profiles relationships;

%hide-tab-toggle { top: auto; }

%hide-tab-content {
  @include trailer(0);
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}
%show-tab-content {
  @include transition(all .5s linear);
  @include trailer(1);
  opacity: 1;
  max-height: 80em;
  overflow: visible;
}
%active-tab-title {
  @include trailer(1);
  display: inline-block;
  font-weight: bold;
}

// General
// -------

.demo {
  @extend %type;
  @extend %demo-headers;
  @include padding-leader(3);
  min-height: 100%;
  counter-reset: demo;

  button, .next-button { @extend %button; }
  button:disabled { @extend %button-disabled }
  .next-button { background-color: color($green lightest); }
  .label { @include trailer(0); }
  label { cursor: pointer; }

  img {
    @include trailer;
    max-width: 100%;
    border: 1px solid $base;
  }

  @include tabs($steps, '.step h2' '.step');
}

// Intro
// -----

.intro {
  @include rhythm-margins(2);
  @include serif;
  @include adjust-font-size-to($medpx);
  @include arrow(bottom center rhythm(.5) $orange);
  @include rhythm-borders(2px,2);
  @include border-radius(.25em);
  border-color: $orange;
  background: color(white,.75);
}

// Instructions
// ------------

.instructions {
  @include leader;
  @include adjust-font-size-to($smallpx);
  @include rhythm-borders(1px,.5);
  @include arrow(top center .5em $orange);
  @include border-radius(.25em);
  clear: both;
  border-color: $orange;
  background: color(white,.5);
}

// Steps
// -----

.step {
  @include pie-clearfix;
  @include leader(.5);
  @include leading-border(2px,.5);
  position: relative;
  padding-left: span(1);
  padding-right: span(1);
  border-top: 2px dotted color($blue,.25);
  counter-increment: demo;

  h2 {
    margin: 0 0 - span(1 of 8);
    color: color($accent);
    @include before(unquote('counter(demo) " : "')) {
      color: color(light);
      text-transform: uppercase;
    }
  }

}

// Learning Session
// ----------------

.collaborate {
  @include pie-clearfix;
  @include trailer;
  border: 1px solid;
  background: color(white,.75);
  .work {
    float: left;
    width: space(5);
    padding: rhythm(6) rhythm(1);
    border-right: 1px solid;
    text-align: center;
  }
  .session {
    float: right;
    width: span(3);
    height: 100%;
    margin-left: -1em;
    padding: rhythm(.5);
  }
  .time, .chat {
    @include trailing-border(1px,.5);
  }
  .chat {
    @include rhythm-padding(4);
  }
  .voice {
    @include padding-leader(.5);
  }
}

.learner-feedback {
  @include span(4 of 8);
}

.teacher-feedback {
  @include span(last 4 of 8);
}

.feedback-item {
  @include adjust-font-size-to($smallpx);
  &.positive button { background-color: color($green lightest,.5); }
  &.negative button { background-color: color($red lightest,.5); }
  [class$="-count"] {
    @include adjust-font-size-to($medpx);
  }
}

// Results
// -------

.results-table, .relationships-table {
  @include trailer(1);
  @include h-borders(1px,.5);
  width: 100%;
  th { font-weight: bold; }
  th, td {
    padding: rhythm(.25);
  }
  .yay {
    color: color($green dark);
    .after { font-weight: bold; }
  }

  &.soft {
    th + th { width: 21%; }
  }
}

// Profiles
// --------

.learner-profile {
  @include span(4 of 8);
  @include trailer;
}

.teacher-profile {
  @include span(last 4 of 8);
  @include trailer;
}

.measure {
  .property {
    font-weight: normal;
    text-transform: uppercase;
  }
  .value {
    @include wrap-content("[" "]");
    color: color(light);
  }
  .description {
    @include adjust-font-size-to($smallpx);
    @include rhythm-margins(.5);
    margin-left: rhythm(1);
  }
}

