// Landing
// =======

@import "site";

// Grid
// ----

@include set-grid(10 (4em 1em) after hide);

$landing-break: 40em;

// Root
// ----

html { background: color($cyan light,.25); }

.landing {
  max-width: 60em;

  @include breakpoint($landing-break) {
    header { @include gone; }
  }
}

[role="banner"] { @extend %banner; }

.brand { @include span(40% no-gutters); }
.user-nav {
  @extend %user-nav;
  @include span(60% no-gutters);
}

[role="main"] {
  @include container;
  padding: rhythm(1) 1em;
}

// Call to Action
// --------------

.call-to-action {
  @include trailer;

  @include after(attr(data-tagline)) {
    @extend %logo;
    @extend %tagline;
    margin-top: -26%;
    display: none;
    @include breakpoint($landing-break) { display: block; }
  }

  @include breakpoint($landing-break) { @include trailer(3); }
}

%intro-section {
  @include trailer(1);
  position: relative;
  z-index: 20;

  @include breakpoint($landing-break) { margin-left: outer-span(5); }
}

.intro {
  @extend %intro-section;
  @include serif;
  @include adjust-font-size-to($medpx);
  @include trailer;
  color: $red;

  @include breakpoint($landing-break) {
    @include adjust-font-size-to($largepx);
    @include trailer(2);
  }
}

.signup {
  @extend %intro-section;
  @include pie-clearfix;
  label {
    @extend %label;
  }
  input {
    @include span(3 of 5);
    @include adjust-font-size-to($smallpx);
    background: white;
  }
  button {
    @extend %primary-button;
    @include span(last 2 of 5);
  }
  @include breakpoint($landing-break) {
    button {
      @include adjust-font-size-to($normpx);
      margin-top: -1px;
    }
  }
}

.desc {
  @include clearfix;
  @include h-borders(2px,1);
  @include trailer;
  margin: 0 rhythm(-1);
  padding-left: rhythm(1);
  padding-right: rhythm(1);
  border-style: dashed;
  border-color: color(dark $blue,.25);

  h2 {
    @include serif;
    color: $alt;
    font-weight: bold;
  }
  p {
    @include adjust-font-size-to($smallpx);
    @include trailer;
  }

  @include breakpoint($landing-break) {
    @include h-borders(2px,2);
    border-style: dashed;
  }
}

@include breakpoint($landing-break) {
  .feature {
    @include span(3 of 9);
    @include nth-omega(3n);

    p { margin: 0; }
  }
}

