// Banner
// ======

[role="banner"] {
  @include pie-clearfix;
  @include trailing-border(1px,.5);
  @include padding-leader(.5);
  @include background(color(white,.95) linear-gradient(to top, color(lightest,.75), color(lightest,0)));
  padding-left: 1em;
  padding-right: 1em;

  .org {
    #{$link} {
      font-weight: bold;
      color: $base;
    }
    #{$focus} { color: $accent; }
  }
}

// Fixed Banner

%fixed-banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 900;
}
