// Layout
// ======

[role="banner"] {
  @include pie-clearfix;
  @include trailing-border(1px,.5);
  @include padding-leader(.5);
  @include background(color(white,.95) linear-gradient(to top, color(lightest,.75), color(lightest,0)));
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: rhythm(.5);
  padding-right: rhythm(.5);
  z-index: 900;
  .branding, .meta {
    float: left;
    width: 50%;
  }
  .meta {
    float: right;
    margin-left: -1em;
    text-align: right;
  }
  .company, .pagetitle, .vcard {
    display: inline-block;
  }
  .company {
    @include after(":");
    font-weight: bold;
  }
  .vcard {
    @include transition(opacity 300ms);
    opacity: 1;
    margin-left: 1em;
    &.empty { display: none; }
  }
}

[role="main"] {
  @include container;
  padding: rhythm(1) 1em;
}

.logo {
  @include replace-text('wordmark.svg');
  @include background-size;
  @include fluid-ratio(728.665 / 270.667);
}
.tagline {
  @include adjust-font-size-to($smallpx);
  @include serif;
  font-weight: bold;
  text-align: right;
}
