// Layout
// ======

[role="banner"] {
  @include pie-clearfix;
  @include trailing-border(1px,.5);
  @include padding-leader(.5);
  @include background(white linear-gradient(to top, color(lightest), color(lightest,0)));
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: rhythm(.5);
  padding-right: rhythm(.5);
  z-index: 900;
  .branding, .meta {
    float: left;
    width: 50%;
  }
  .meta {
    float: right;
    margin-left: -1em;
    text-align: right;
  }
  .logo, .pagetitle, .vcard {
    display: inline-block;
  }
  .logo {
    @include after(":");
    font-weight: bold;
  }
  .vcard {
    @include transition(opacity 300ms);
    opacity: 1;
    margin-left: 1em;
    &.empty { opacity: 0; }
  }
}

[role="main"] {
  @include container;
  @include leader(3);
  padding: 0 1em;
}
