{% load floppyforms form_utils %}

{% block row %}
  {% for field in fields %}
    {% with classes=field.css_classes label=label|default:field.label help_text=help_text|default:field.help_text %}
      {% block field %}
        {% block errors %}
          {% include "floppyforms/errors.html" with errors=field.errors %}
        {% endblock %}
        <div class="formfield {{ field.name }}-field{% if field|optional %} optional{% endif %}{% if field.errors %} errors{% endif %} {{ classes }}">
          {% if not field|is_checkbox %}
            <label for="{{ field|id }}" class="form-type">{{ label }}</label>
          {% endif %}
          {% block widget %}{% formfield field %}{% endblock %}
          {% if field|is_checkbox %}
            <label for="{{ field|id }}">{{ label }}</label>
          {% endif %}
          {% if help_text %}<span class="helptext">{{ help_text }}</span>{% endif %}
          {% for field in hidden_fields %}{{ field.as_hidden }}{% endfor %}
        </div>
      {% endblock %}
    {% endwith %}
  {% endfor %}
{% endblock %}
