{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="/static/css/styleguide.css" media="screen" />
{% endblock %}

{% block bodyclasses %}styleguide{% endblock %}

{% block body %}
<h1 class="sg-title">
  <a href="/" rel="home">KNetwork Style Guide</a>
</h1>

<nav class="sg-nav">
  <ul>
    <li>
      <b class="sg-nav-title">Base</b>
      <ul>
        <li><a href="#size-pattern">Size</a></li>
        <li><a href="#color-pattern">Color</a></li>
      </ul>
    </li>
  </ul>
</nav>

<div class="sg-body">

<!-- Base -->
{% include "styleguide/base/_size.html" with pattern_name="size" %}
{% include "styleguide/base/_color.html" with pattern_name="color" %}

</div>
{% endblock %}
