// Content Info
// ============

$footer-back: color($base 85%);
$footer-base: color(light $base);

[role="contentinfo"] {
  @extend %container;
  @include leading-border(2px,1);
  @include padding-trailer(1);
  position: relative;
  background: $footer-back;
  border-color: $footer-base;
  z-index: 40;
}

.info {
  @include adjust-font-size-to($smallpx);
  @include gutters;
  color: $footer-base;

  strong { font-weight: bold; }
  div { display: inline-block; }

  .adr {
    margin-left: rhythm(.5);
    padding-left: rhythm(.5);
    border-left: 1px solid color(dark $base, .5);
  }
}
