// Content Info
// ============

$footer-base: color(light $base);

[role="contentinfo"] {
  @extend %container;
  @include rhythm-padding(.5);
  background: color(85%, .8);
}

.info {
  @include adjust-font-size-to($smallpx);
  color: $footer-base;

  strong { font-weight: bold; }
  div { display: inline-block; }

  .adr {
    margin-left: rhythm(.5);
    padding-left: rhythm(.5);
    border-left: 1px solid color(dark $base, .5);
  }
}
