// Feature
// =======

$feature-shadow : $feature-shadow-color,
                  transparent $feature-shadow-size;
$feature-grad   : color(-25% lighter $blue),
                  color(-50% lighter $blue),
                  color(-50% lighter $green),
                  color(-25% light $blue);

.feature {
  @extend %container;
  @include pie-clearfix;
  @include rhythm-padding(4,3);
  @include background(
    linear-gradient(to top, $feature-shadow...) no-repeat scroll,
    linear-gradient(to bottom right, $feature-grad...) no-repeat fixed
  );
}

.intro {
  @extend %large-title;
  @include trailer(3);
  text-shadow: color(white,.5) 0 1px 0;
  text-align: center;
}

// Feature Links
// -------------

$feature-offset: 3%;

.feature-links { @include pad(rhythm(1)); }

.feature-title {
  @extend %sub-title;
  @include trailer(0);
}

.feature-block {
  #{$link} {
    @include rhythm-borders(1px, 1.5);
    @include box-shadow($base 0 0 3px inset);
    float: left;
    width: span(percentage(1/3) - $feature-offset);
    margin-right: -200%;
    background: color(white, .8);
    color: $base;
    border-color: $base;
    text-align: center;
  }

  #{$focus} {
    color: $accent;
  }

  &.pyo {
    @include border-left-radius(rhythm(.25));
    border-right: 0;
  }

  &.consult {
    @include adjust-font-size-to($medpx);
    @include leader(-2);
    @include box-shadow($base 0 0 6px);
    @include transition(all 300ms);
    position: relative;
    width: span(percentage(1/3) + ($feature-offset * 2));
    margin-left: percentage(1/3) - $feature-offset;
    background: color(white, .85);
    z-index: 10;

    #{$focus} {
      @include scale(1.1);
      background: white;
    }
  }

  &.tcs {
    @include border-right-radius(rhythm(.25));
    float: right;
    margin-right: 0;
    border-left: 0;
  }

  [class^="icon-"] {
    @include trailer(.5);
    display: block;
    text-align: center;
  }
}

.icon-consult {
  @include adjust-font-size-to($xxxlargepx);
  @include icon(cord);
  color: $accent;
}
.icon-pyo {
  @include adjust-font-size-to($xxlargepx);
  @include icon(bubbles);
  color: $alt;
}
.icon-tcs {
  @include adjust-font-size-to($xxlargepx);
  @include icon(bubble-heart);
  color: $alt;
}

