// Knet Layout
// ===========

$back: color(95%);

html { background: $back; }

@include set-grid(70em 12 .25 inside);

%container {
  > [class$="-wrap"] {
    @include container;
    padding: 0 rhythm(.5);
  }
}

%boilerplate {
  @extend %container;
  @include rhythm-padding(.5);
  background: color(80%, .8);
}

%large-title {
  @include serif;
  @include adjust-font-size-to($xxlargepx);
}
