// Knet Layout
// ===========

@include set-grid(70em 12 .25 inside);

%container {
  > [class$="-wrap"] {
    @include container;
    padding: 0 rhythm(.5);
  }
}

%boilerplate {
  @extend %container;
  @include rhythm-padding(.5);
  background: color(lightest, .25);
}

// Banner
// ------

[role="banner"] {
  @extend %boilerplate;
  @include serif;
  .brand { font-weight: bold; }
}

// Main
// ----

[role="main"] {
  @extend %container;
  @extend %type;
  @include rhythm-padding(2);
}

.why {
  @extend %main-title;
  @include padding-leader;
  @include trailing-border(2px, 3);
  @include trailer;
  border-bottom: 2px dotted color(lightest,.5);
}

.section-title {
  @include serif;
  @include adjust-font-size-to($largepx);
  @include trailer;
  text-align: center;
  text-transform: uppercase;
}

.what, .who { @include clearfix; }

.block-title { @extend %sub-title; }

.what {
  @include trailing-border(2px, 1);
  border-bottom: 2px dotted color(lightest,.5);
}

.what-block {
  @include gallery(4, of-type);
}

.who {
  @include padding-leader;
}

.who-block {
  @include gallery(6, of-type);
}

// Content Info
// ------------

$footer-base: color(light $base);

[role="contentinfo"] {
  @extend %boilerplate;
}

.info {
  @include adjust-font-size-to($smallpx);
  color: $footer-base;

  strong { font-weight: bold; }
  a, .phone {
    display: inline-block;
    @include before(' | ') { color: $footer-base; }
  }
}
