// Sections
// ========

@include keyframes(pulse) {
  0% { @include scale(1); }
  50% { @include scale(1.1); }
  100% { @include scale(1); }
}

%section {
  @extend %container;
  > [class$="-wrap"] {
    @include pie-clearfix;
    @include rhythm-padding(2);
  }

  &:target, &.target {
    @include animation(pulse 600ms 1);
  }
}

.section-title {
  @include serif;
  @include adjust-font-size-to($largepx);
  @include trailer;
  text-align: center;
  text-transform: uppercase;
}

.block-title { @extend %sub-title; }

// Layout
// ------

.what, .who, .why {
  @extend %section;
}

// Why
// ---

.why {
  @include arrow(top center $back $largepx, 2px solid color($base, .25));
  z-index: 20;

  > [class$="-wrap"] {
    @include background(image-url('girl.svg') no-repeat scroll span(1) center);
    @include background-size(span(5) auto);
    @include rhythm-padding(6);
  }

  h1, p { @include pre(6); }

  h1 { @extend %main-title; }
  p {
    @include serif;
    @include adjust-font-size-to($medpx);
    font-weight: bold;
  }
}

// What
// ----

$what-back: color(lightest $yellow);
$what-border: color($yellow);

.what {
  @include arrow(top center $what-back $normpx, 2px solid $what-border);
  @include leading-border(2px,2);
  background: $what-back;
  border-color: $what-border;
  > [class$="-wrap"] { @include padding-leader(0); }
}

.what-block {
  @include gallery(4, of-type);
  @include background(no-repeat scroll);
  @include background-size(auto rhythm(6));
  padding-top: rhythm(8);

  &.personal {
    background-image: image-url('students.svg');
    background-position: center rhythm(.5);
  }

  &.khan {
    @include background-size(auto rhythm(7));
    background-image: image-url('khan-logo.png');
    background-position: top;
  }

  &.flipped {
    @include background-size(auto rhythm(5));
    background-image: image-url('flip.svg');
    background-position: center rhythm(1.5);
  }
}

// Who
// ---

.who {
  @include arrow(top center $back $normpx, 2px solid $what-border);
  @include leading-border(2px,2);
  border-color: $what-border;
  background: $back;
  > [class$="-wrap"] { @include padding-leader(0); }
}

.who-block {
  @include gallery(6, of-type);

  .fn { @include trailer(0); }

  .photo {
    @include span(2 of 6 split);
    margin-left: 0;
    border: 2px solid $alt;
  }

  .note {
    @include trailer(.5);
  }

  .contact {
    @include adjust-font-size-to($smallpx);
    margin-left: span(2 of 6 no-gutters) + gutter(of 6);
  }

  strong { font-weight: bold; }

  .email {
    @include before('Email: ') {
      font-weight: bold;
      color: $base;
    }
  }

  .contact, .note { @include clearfix; }
}
