// ----------------------------------------------------------------------------
// Imports

@import "compass/reset";
@import "fonts";

// ----------------------------------------------------------------------------
// Root

@include establish-baseline;
@include border-box-sizing;

html {
  @include sans;
  color: $base;
  background: color($cyan light,.25);
}

html, body {
  height: 100%;
}

// ----------------------------------------------------------------------------
// More

@import "type";
@import "icons";
@import "icomoon";
@import "forms";
