// Root
// ====

@include establish-baseline;

* { @include box-sizing(border-box); }

html {
  @include sans;
  color: $base;
  background: color(lightest,.25);
}

html, body {
  height: 100%;
  width: 100%;
}

body { overflow-x: hidden; }
