// Links
// -----

a {
  &:hover, &:active { outline: none; }
  #{$link} {
    color: $alt;
    text-decoration: none;
  }
  #{$focus} { color: $accent; }
}

// Ampersand
// ---------

.amp {
  @include serif;
  font-style: italic;
}

// Alt text
// --------

.alt-text { @include gone; }

// Headers
// -------

$main-title-size: $xxlargepx;

%main-title {
  @include serif;
  @include adjust-font-size-to($main-title-size);
}

%headers {
  h1 {
    @extend main-title;
    a {
      #{$link} { color: color($alt dark); }
      #{$focus} { color: color($accent dark); }
    }
  }

  h2 {
    @include trailer(.5);
    text-transform: uppercase;
  }

  h3 {
    @include leader;
    font-weight: bold;
  }
}

// Type
// ----

%type {
  strong { font-weight: bold; }
  em { font-style: italic; }

  p, ul, ol, pre { @include trailer; }

  ul { list-style: disc; }
  ol { list-style: decimal; }
}
