.demo [id*="teacher-login"], .demo [id*="learner-login"], .demo [id*="topic-select"], .demo [id*="learning-session"], .demo [id*="results"], .demo [id*="profiles"], .demo [id*="relationships"] {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridge_round-webfont.woff?c7ba474b557be0488fe28221743e7eb29c1f69ae') format("woff"), url('../fonts/cambridge_round-webfont.ttf?865377a86d1b4904d0f76ba8435166816442a6ab') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridge_round_bold-webfont.woff?df7ddb9e5eaf388adedba2ee0aa4a55e2d6b827b') format("woff"), url('../fonts/cambridge_round_bold-webfont.ttf?acd8deab7e980c6970895de1cd07f253021f64ae') format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridge_round_it-webfont.woff?11ef3d900fe3069ef306b4e3f7a3a41ef6e2cbc9') format("woff"), url('../fonts/cambridge_round_it-webfont.ttf?3abaa0fcd8183c9493ee828b27d7043ff4a946a6') format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "CambridgeRoundCond";
  src: url('../fonts/cambridge_round_cond-webfont.woff?99e7b0e86e336df328bb50ec2d7daed74c72bc53') format("woff"), url('../fonts/cambridge_round_cond-webfont.ttf?c4abd97e162a8e4e6b9e46be80166bc72580848a') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRoundCond";
  src: url('../fonts/cambridge_round_bold_cond-webfont.woff?0b5ba5bfb74943887792d317e945685b51baa1de') format("woff"), url('../fonts/cambridge_round_bold_cond-webfont.ttf?6b044a207b0b8353660a263e55a1e687fe89096d') format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRoundCond";
  src: url('../fonts/cambridge_round_cond_it-webfont.woff?58eada5c8ae1b4f0b4a55a88f972985579e42136') format("woff"), url('../fonts/cambridge_round_cond_it-webfont.ttf?03d4b9da950ac07c8a4bc5a0f579e083ccaf0e55') format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SquareSerif";
  src: url('../fonts/SquareSerif-Book-webfont.woff?31cd36d4e01a68c8d49d3e12a3c08fca83d07465') format("woff"), url('../fonts/SquareSerif-Book-webfont.ttf?b0508596ea07c33ee24cdbb930ab1140a6017dc7') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SquareSerif";
  src: url('../fonts/SquareSerif-Bold-webfont.woff?3da5837fb7ab6755560104f435ed094d325bca58') format("woff"), url('../fonts/SquareSerif-Bold-webfont.ttf?3545979a74333ca540b29546915ca6b74f36e65c') format("truetype");
  font-weight: bold;
  font-style: normal;
}

html {
  font-size: 112.5%;
  line-height: 1.27778em;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "CambridgeRound", "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #4c4c4c;
  background: rgba(229, 229, 229, 0.25);
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
}

a:hover, a:active {
  outline: none;
}
a:link, a:visited {
  color: #007474;
  text-decoration: none;
}
a:focus, a:hover, a:active {
  color: #94001a;
}

.amp {
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-style: italic;
}

.alt-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.demo strong {
  font-weight: bold;
}
.demo em {
  font-style: italic;
}
.demo p, .demo ul, .demo ol, .demo pre {
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
}
.demo ul {
  list-style: disc;
}
.demo ol {
  list-style: decimal;
}
.demo ul ul, .demo ul ol, .demo ol ul, .demo ol ol {
  margin-left: 1.5em;
}
@media (max-width: 46em) {
  .demo ul, .demo ol {
    margin-left: 1.5em;
  }
}

@font-face {
  font-family: "knet";
  src: url('../fonts/knet.woff?379c738ad09a479a82bdfd30492987144a42f17a') format("woff"), url('../fonts/knet.ttf?43b4ced329a56e09bdd065d4b279fde1a2989038') format("truetype");
  font-weight: normal;
  font-style: normal;
}

#messages .close:before, .announce:before, .message:before, .loading-icon:before, [data-icon]:before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-family: "knet";
  font-style: normal;
  speak: none;
}

#messages .close {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  min-width: 1em;
  text-indent: -9999px;
}
#messages .close:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-indent: 0;
  text-align: center;
}

[data-icon]:before {
  content: attr(data-icon);
}

#messages .close:before {
  content: "\e006";
}

.announce:before, .message:before {
  content: "\e008";
}

.message.success:before {
  content: "\e009";
}

.message.warning:before {
  content: "\e00a";
}

.message.error:before {
  content: "\e00b";
}

.loading-icon:before {
  content: "\e00e";
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  background: none;
  color: inherit;
  cursor: pointer;
}

.primary-action, .demo button, .demo .next-button {
  border-width: 1px;
  border-width: 0.05556rem;
  border-style: solid;
  padding: 2px;
  padding: 0.10417rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  border-radius: 0.25rem;
  background-image: -webkit-linear-gradient(top, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: -moz-linear-gradient(top, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: -o-linear-gradient(top, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: linear-gradient(to bottom, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  display: inline-block;
  padding-left: 0.63889rem;
  padding-right: 0.63889rem;
  cursor: pointer;
}

.primary-action:hover, .demo button:hover, .demo .next-button:hover, .primary-action:focus, .demo button:focus, .demo .next-button:focus {
  -webkit-box-shadow: rgba(102, 189, 189, 0.25) 0 0 0.31944rem;
  -moz-box-shadow: rgba(102, 189, 189, 0.25) 0 0 0.31944rem;
  box-shadow: rgba(102, 189, 189, 0.25) 0 0 0.31944rem;
}

.primary-action:active, .demo button:active, .demo .next-button:active {
  -webkit-box-shadow: rgba(15, 15, 15, 0.5) 0 0 0.25rem inset;
  -moz-box-shadow: rgba(15, 15, 15, 0.5) 0 0 0.25rem inset;
  box-shadow: rgba(15, 15, 15, 0.5) 0 0 0.25rem inset;
  background-image: -webkit-linear-gradient(bottom, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: -moz-linear-gradient(bottom, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: -o-linear-gradient(bottom, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: linear-gradient(to top, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
}

.primary-action {
  border-width: 1px;
  border-width: 0.05556rem;
  border-style: solid;
  padding: 5px;
  padding: 0.26389rem;
  padding-left: 1.27778rem;
  padding-right: 1.27778rem;
  background-color: #8be266;
}
.primary-action:after {
  content: " »";
}

.demo button:disabled {
  opacity: .5;
  background: rgba(252, 238, 204, 0.5);
  cursor: default;
}
.demo button:focus:disabled, .demo button:hover:disabled, .demo button:active:disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-image: none;
}

.form-actions {
  text-align: right;
}

.formfield {
  margin-bottom: 12px;
  margin-bottom: 0.63889rem;
}
.formfield:after {
  content: "";
  display: table;
  clear: both;
}

.form-help {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  color: #6f6f6f;
}
.form-help a:link, .form-help a:visited {
  color: #338f8f;
}
.form-help a:focus, .form-help a:hover, .form-help a:active {
  color: #94001a;
}

[type="text"], [type="email"], [type="url"],
[type="password"], [type="datetime"], [type="date"], [type="time"], [type="number"], [multiple], textarea {
  margin: 0;
  padding: 0;
  border: 0;
}

[type="text"], [type="email"], [type="url"],
[type="password"], [type="datetime"], [type="date"], [type="time"], [type="number"], [multiple], textarea, select {
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-size: 1rem;
  line-height: 23px;
  line-height: 1.27778rem;
}

[type="text"], [type="email"], [type="url"],
[type="password"], [type="datetime"], [type="date"], [type="time"], [type="number"], [multiple], textarea {
  border-width: 1px;
  border-width: 0.05556rem;
  border-style: solid;
  padding: 5px;
  padding: 0.26389rem;
  font-size: 23px;
  font-size: 1.27778rem;
  line-height: 35px;
  line-height: 1.91667rem;
  -webkit-box-shadow: rgba(76, 76, 76, 0.5) 0 0 3px inset;
  -moz-box-shadow: rgba(76, 76, 76, 0.5) 0 0 3px inset;
  box-shadow: rgba(76, 76, 76, 0.5) 0 0 3px inset;
  display: block;
  width: 100%;
  color: #6f6f6f;
  background: rgba(229, 229, 229, 0.25);
  border-color: #b2b2b2;
}

[type="text"]:focus, [type="email"]:focus, [type="url"]:focus,
[type="password"]:focus, [type="datetime"]:focus, [type="date"]:focus, [type="time"]:focus, [type="number"]:focus, [multiple]:focus, textarea:focus {
  border-color: #66abab;
  outline: 0;
}

[type="text"]:focus:invalid, [type="email"]:focus:invalid, [type="url"]:focus:invalid,
[type="password"]:focus:invalid, [type="datetime"]:focus:invalid, [type="date"]:focus:invalid, [type="time"]:focus:invalid, [type="number"]:focus:invalid, [multiple]:focus:invalid, textarea:focus:invalid {
  border-color: #ee667e;
}

[type="text"], [type="email"], [type="url"],
[type="password"], [type="datetime"], [type="date"], [type="time"], [type="number"] {
  height: 1.91667rem;
}

[multiple], textarea {
  height: 8.30556rem;
  resize: vertical;
}

[type="file"] {
  display: block;
}

select {
  display: block;
  min-width: 50%;
}

[multiple] {
  font-size: 18px;
  font-size: 1rem;
  line-height: 23px;
  line-height: 1.27778rem;
}

[type="checkbox"] {
  vertical-align: middle;
}

[type="number"] {
  padding-top: 0;
}

.form-type, .radio-type, .checkbox-type {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  cursor: pointer;
}

.form-type {
  font-weight: bold;
}

.formfield.optional .form-type:after {
  content: " [optional]";
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  color: #999999;
  font-weight: normal;
}

[role="banner"], [role="contentinfo"] {
  padding: 0.63889rem 1em;
}
[role="banner"]:after, [role="contentinfo"]:after {
  content: "";
  display: table;
  clear: both;
}

[role="banner"], [role="contentinfo"] {
  background: rgba(235, 235, 235, 0.95);
  border-color: #b2b2b2;
}

[role="banner"] {
  border-bottom-width: 1px;
  border-bottom-width: 0.05556rem;
  border-bottom-style: solid;
  padding-bottom: 11px;
  padding-bottom: 0.58333rem;
}
[role="banner"] .org:link, [role="banner"] .org:visited {
  font-weight: bold;
  color: #4c4c4c;
}
[role="banner"] .org:focus, [role="banner"] .org:hover, [role="banner"] .org:active {
  color: #94001a;
}

[role="banner"] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 900;
}

.tooltip {
  position: absolute;
  padding: 0.31944rem 0.63889rem;
  color: #dbdbdb;
  background: #4c4c4c;
  border: 1px solid #dbdbdb;
  white-space: nowrap;
  display: none;
}
[data-tooltip].tooltip:after {
  content: attr(data-tooltip);
}

.tooltip {
  bottom: 100%;
  margin-bottom: 0.31944rem;
}

.tooltip {
  right: 0;
}
.tooltip:before {
  content: " ";
  position: absolute;
  height: 0;
  width: 0;
  border: solid transparent;
  pointer-events: none;
  top: 100%;
  border-top-color: #4c4c4c;
  border-width: 0.31944rem;
  right: 0.31944rem;
}

@-moz-keyframes announce-in {
  0% {
    opacity: 0;
    -moz-transform: translateY(-12.77778rem);
    transform: translateY(-12.77778rem);
  }

  100% {
    opacity: 0.95;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes announce-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-12.77778rem);
    transform: translateY(-12.77778rem);
  }

  100% {
    opacity: 0.95;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes announce-in {
  0% {
    opacity: 0;
    -o-transform: translateY(-12.77778rem);
    transform: translateY(-12.77778rem);
  }

  100% {
    opacity: 0.95;
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes announce-in {
  0% {
    opacity: 0;
    transform: translateY(-12.77778rem);
  }

  100% {
    opacity: 0.95;
    transform: translateY(0);
  }
}

@-moz-keyframes announce-out {
  0% {
    opacity: 0.95;
    -moz-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -moz-transform: translateX(38.33333rem);
    transform: translateX(38.33333rem);
  }
}

@-webkit-keyframes announce-out {
  0% {
    opacity: 0.95;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(38.33333rem);
    transform: translateX(38.33333rem);
  }
}

@-o-keyframes announce-out {
  0% {
    opacity: 0.95;
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -o-transform: translateX(38.33333rem);
    transform: translateX(38.33333rem);
  }
}

@keyframes announce-out {
  0% {
    opacity: 0.95;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(38.33333rem);
  }
}

#messages {
  position: fixed;
  top: 0.63889rem;
  right: 0.63889rem;
  width: 80%;
  max-width: 20em;
  z-index: 999;
}
#messages .close {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  position: absolute;
  display: inline-block;
  right: .125rem;
  top: 0;
  width: 1em;
}

.announce, .message {
  font-size: 23px;
  font-size: 1.27778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  -webkit-animation: announce-in 1s ease backwards;
  -moz-animation: announce-in 1s ease backwards;
  -o-animation: announce-in 1s ease backwards;
  animation: announce-in 1s ease backwards;
  border-width: 1px;
  border-width: 0.05556rem;
  border-style: solid;
  padding: 16px;
  padding: 0.90278rem;
  overflow: hidden;
  opacity: 0.95;
  -webkit-box-shadow: #4c4c4c 0 0 0.31944rem;
  -moz-box-shadow: #4c4c4c 0 0 0.31944rem;
  box-shadow: #4c4c4c 0 0 0.31944rem;
  position: relative;
}
.announce:before, .message:before {
  position: absolute;
  top: 0.95833rem;
  left: 0.95833rem;
}
.announce .body, .message .body {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  margin: 0 0.31944rem 0 1.91667rem;
}
.announce .body a:link, .message .body a:link, .announce .body a:visited, .message .body a:visited {
  color: #007474;
  text-decoration: underline;
}
.announce .body a:focus, .message .body a:focus, .announce .body a:hover, .message .body a:hover, .announce .body a:active, .message .body a:active {
  color: #e9ccd1;
}

.closed.announce, .closed.message, .message.closed-timeout {
  -webkit-animation: announce-out 800ms ease forwards;
  -moz-animation: announce-out 800ms ease forwards;
  -o-animation: announce-out 800ms ease forwards;
  animation: announce-out 800ms ease forwards;
}

.announce, .message {
  color: #e5e5e5;
  background: #009191;
}
.announce .close:link, .message .close:link, .announce .close:visited, .message .close:visited {
  color: rgba(229, 229, 229, 0.75);
}
.announce .close:focus, .message .close:focus, .announce .close:hover, .message .close:hover, .announce .close:active, .message .close:active {
  color: #e5e5e5;
}

.message.success {
  color: #4c4c4c;
  background: #3ed000;
}
.message.success .close:link, .message.success .close:visited {
  color: rgba(76, 76, 76, 0.75);
}
.message.success .close:focus, .message.success .close:hover, .message.success .close:active {
  color: #4c4c4c;
}

.message.warning {
  color: #4c4c4c;
  background: #f2ac00;
}
.message.warning .close:link, .message.warning .close:visited {
  color: rgba(76, 76, 76, 0.75);
}
.message.warning .close:focus, .message.warning .close:hover, .message.warning .close:active {
  color: #4c4c4c;
}

.message.error {
  color: #e5e5e5;
  background: #e30028;
}
.message.error .close:link, .message.error .close:visited {
  color: rgba(229, 229, 229, 0.75);
}
.message.error .close:focus, .message.error .close:hover, .message.error .close:active {
  color: #e5e5e5;
}

.logo {
  position: relative;
  height: 0;
  padding-top: 36.95833%;
  width: 100%;
  background: url('../images/wordmark.svg?c2ba4f4cd8028a60a7d8ab360e81e63e7036d0c5') no-repeat scroll top;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}
.logo > * {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin: 0;
  padding: 0;
}

.tagline {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #007474;
  font-weight: bold;
}
@media (min-width: 30em) {
  .tagline {
    text-align: right;
  }
}

.logo {
  text-indent: -9999px;
  overflow: hidden;
}

.tagline {
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
}

.js .message.js-warning {
  display: none;
}

@-moz-keyframes loadingStart {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes loadingStart {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes loadingStart {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes loadingStart {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes loading {
  0% {
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
    color: rgba(0, 116, 116, 0.5);
  }

  50% {
    -moz-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    color: rgba(0, 116, 116, 0.75);
  }

  100% {
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
    color: rgba(0, 116, 116, 0.5);
  }
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    color: rgba(0, 116, 116, 0.5);
  }

  50% {
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    color: rgba(0, 116, 116, 0.75);
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    color: rgba(0, 116, 116, 0.5);
  }
}

@-o-keyframes loading {
  0% {
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    color: rgba(0, 116, 116, 0.5);
  }

  50% {
    -o-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    color: rgba(0, 116, 116, 0.75);
  }

  100% {
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    color: rgba(0, 116, 116, 0.5);
  }
}

@keyframes loading {
  0% {
    transform: scale(1, 1);
    color: rgba(0, 116, 116, 0.5);
  }

  50% {
    transform: scale(1.5, 1.5);
    color: rgba(0, 116, 116, 0.75);
  }

  100% {
    transform: scale(1, 1);
    color: rgba(0, 116, 116, 0.5);
  }
}

.loading {
  position: relative;
}
.loading .loading-overlay {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-animation: loadingStart 3s 300ms linear 1 both;
  -moz-animation: loadingStart 3s 300ms linear 1 both;
  -o-animation: loadingStart 3s 300ms linear 1 both;
  animation: loadingStart 3s 300ms linear 1 both;
  text-align: center;
  z-index: 990;
}

.loading-spinner {
  margin: -1.91667rem auto 0;
  color: #191919;
  text-align: center;
}

.loading-text {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  margin-top: -35px;
  margin-top: -1.91667rem;
  text-shadow: white 0 0 1em, white 0 0 0.5em, white 0 0 0.25em;
  position: relative;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 992;
}
.loading-text:after {
  content: "...";
}

.loading-icon {
  font-size: 43px;
  font-size: 2.38889rem;
  line-height: 58px;
  line-height: 3.19444rem;
  text-shadow: rgba(255, 255, 255, 0.75) 0 0 0.5em;
  -webkit-animation: loading 3s linear infinite;
  -moz-animation: loading 3s linear infinite;
  -o-animation: loading 3s linear infinite;
  animation: loading 3s linear infinite;
  display: block;
  vertical-align: middle;
}
.loading-icon:before {
  vertical-align: middle;
}

[role="banner"] .brand, [role="banner"] .meta {
  float: left;
  width: 50%;
}
[role="banner"] .vcard {
  display: inline-block;
}
[role="banner"] .org:after {
  content: ": What's Possible";
  font-weight: normal;
}
[role="banner"] .meta {
  float: right;
  margin-left: -1em;
  text-align: right;
}
[role="banner"] .meta .vcard {
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
  opacity: 1;
  margin-left: 1em;
}
[role="banner"] .meta .vcard.empty {
  display: none;
}

[role="main"] {
  max-width: 49em;
  margin-left: auto;
  margin-right: auto;
  padding: 1.27778rem 1em;
}
[role="main"]:after {
  content: "";
  display: table;
  clear: both;
}

[role="contentinfo"] {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  border-top-width: 1px;
  border-top-width: 0.05556rem;
  border-top-style: solid;
  padding-top: 11px;
  padding-top: 0.58333rem;
  clear: both;
  color: #6f6f6f;
}
[role="contentinfo"] strong {
  font-weight: bold;
}
[role="contentinfo"] a, [role="contentinfo"] .phone {
  display: inline-block;
}
[role="contentinfo"] a:before, [role="contentinfo"] .phone:before {
  content: " | ";
  color: #6f6f6f;
}

.demo h2 {
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 43px;
  font-size: 2.38889rem;
  line-height: 58px;
  line-height: 3.19444rem;
}
.demo h2 a:link, .demo h2 a:visited {
  color: #005c5c;
}
.demo h2 a:focus, .demo h2 a:hover, .demo h2 a:active {
  color: #760014;
}
.demo h3 {
  margin-bottom: 12px;
  margin-bottom: 0.63889rem;
  text-transform: uppercase;
}
.demo h4 {
  margin-top: 23px;
  margin-top: 1.27778rem;
  font-weight: bold;
}

.demo [id*="teacher-login"], .demo [id*="learner-login"], .demo [id*="topic-select"], .demo [id*="learning-session"], .demo [id*="results"], .demo [id*="profiles"], .demo [id*="relationships"] {
  top: auto;
}

.demo [class*="teacher-login"], .demo [class*="learner-login"], .demo [class*="topic-select"], .demo [class*="learning-session"], .demo [class*="results"], .demo [class*="profiles"], .demo [class*="relationships"] {
  margin-bottom: 0px;
  margin-bottom: 0rem;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.demo [id*="teacher-login"]:checked ~ .step [class*="teacher-login"], .demo [id*="learner-login"]:checked ~ .step [class*="learner-login"], .demo [id*="topic-select"]:checked ~ .step [class*="topic-select"], .demo [id*="learning-session"]:checked ~ .step [class*="learning-session"], .demo [id*="results"]:checked ~ .step [class*="results"], .demo [id*="profiles"]:checked ~ .step [class*="profiles"], .demo [id*="relationships"]:checked ~ .step [class*="relationships"] {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
  opacity: 1;
  max-height: 80em;
  overflow: visible;
}

.demo [id*="teacher-login"]:checked ~ .step h2 [for*="teacher-login"], .demo [id*="learner-login"]:checked ~ .step h2 [for*="learner-login"], .demo [id*="topic-select"]:checked ~ .step h2 [for*="topic-select"], .demo [id*="learning-session"]:checked ~ .step h2 [for*="learning-session"], .demo [id*="results"]:checked ~ .step h2 [for*="results"], .demo [id*="profiles"]:checked ~ .step h2 [for*="profiles"], .demo [id*="relationships"]:checked ~ .step h2 [for*="relationships"] {
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
  display: inline-block;
  font-weight: bold;
}

.demo {
  padding-top: 69px;
  padding-top: 3.83333rem;
  min-height: 100%;
  counter-reset: demo;
}
.demo .next-button {
  background-color: #d8f5cc;
}
.demo .label {
  margin-bottom: 0px;
  margin-bottom: 0rem;
}
.demo label {
  cursor: pointer;
}
.demo img {
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
  max-width: 100%;
  border: 1px solid #4c4c4c;
}

.intro {
  margin-top: 46px;
  margin-top: 2.55556rem;
  margin-bottom: 46px;
  margin-bottom: 2.55556rem;
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 23px;
  font-size: 1.27778rem;
  line-height: 35px;
  line-height: 1.91667rem;
  position: relative;
  border-width: 2px;
  border-width: 0.11111rem;
  border-style: solid;
  padding: 44px;
  padding: 2.44444rem;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  border-color: #f26e00;
  background: rgba(255, 255, 255, 0.75);
}
.intro:before {
  content: " ";
  position: absolute;
  height: 0;
  width: 0;
  border: solid transparent;
  pointer-events: none;
  top: 100%;
  border-top-color: #f26e00;
  border-width: 0.63889rem;
  left: 50%;
  margin-left: -0.63889rem;
}

.instructions {
  margin-top: 23px;
  margin-top: 1.27778rem;
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  border-width: 1px;
  border-width: 0.05556rem;
  border-style: solid;
  padding: 11px;
  padding: 0.58333rem;
  position: relative;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  clear: both;
  border-color: #f26e00;
  background: rgba(255, 255, 255, 0.5);
}
.instructions:before {
  content: " ";
  position: absolute;
  height: 0;
  width: 0;
  border: solid transparent;
  pointer-events: none;
  bottom: 100%;
  border-bottom-color: #f26e00;
  border-width: 0.5em;
  left: 50%;
  margin-left: -0.5em;
}

.step {
  margin-top: 12px;
  margin-top: 0.63889rem;
  border-top-width: 2px;
  border-top-width: 0.11111rem;
  border-top-style: solid;
  padding-top: 10px;
  padding-top: 0.52778rem;
  position: relative;
  padding-left: 8.16327%;
  padding-right: 8.16327%;
  border-top: 2px dotted rgba(0, 145, 145, 0.25);
  counter-increment: demo;
}
.step:after {
  content: "";
  display: table;
  clear: both;
}
.step h2 {
  margin: 0 -10.25641%;
  color: #94001a;
}
.step h2:before {
  content: counter(demo) " : ";
  color: #999999;
  text-transform: uppercase;
}

.collaborate {
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
  border: 1px solid;
  background: rgba(255, 255, 255, 0.75);
}
.collaborate:after {
  content: "";
  display: table;
  clear: both;
}
.collaborate .work {
  float: left;
  width: space(5);
  padding: 7.66667rem 1.27778rem;
  border-right: 1px solid;
  text-align: center;
}
.collaborate .session {
  float: right;
  width: 28.57143%;
  height: 100%;
  margin-left: -1em;
  padding: 0.63889rem;
}
.collaborate .time, .collaborate .chat {
  border-bottom-width: 1px;
  border-bottom-width: 0.05556rem;
  border-bottom-style: solid;
  padding-bottom: 11px;
  padding-bottom: 0.58333rem;
}
.collaborate .chat {
  padding-top: 92px;
  padding-top: 5.11111rem;
  padding-bottom: 92px;
  padding-bottom: 5.11111rem;
}
.collaborate .voice {
  padding-top: 12px;
  padding-top: 0.63889rem;
}

.learner-feedback {
  width: 48.71795%;
  float: left;
  margin-right: 2.5641%;
}

.teacher-feedback {
  width: 48.71795%;
  float: right;
}

.feedback-item {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
}
.feedback-item.positive button {
  background-color: rgba(216, 245, 204, 0.5);
}
.feedback-item.negative button {
  background-color: rgba(249, 204, 212, 0.5);
}
.feedback-item [class$="-count"] {
  font-size: 23px;
  font-size: 1.27778rem;
  line-height: 35px;
  line-height: 1.91667rem;
}

.results-table, .relationships-table {
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
  border-top-width: 1px;
  border-top-width: 0.05556rem;
  border-top-style: solid;
  padding-top: 11px;
  padding-top: 0.58333rem;
  border-bottom-width: 1px;
  border-bottom-width: 0.05556rem;
  border-bottom-style: solid;
  padding-bottom: 11px;
  padding-bottom: 0.58333rem;
  width: 100%;
}
.results-table th, .relationships-table th {
  font-weight: bold;
}
.results-table th, .results-table td, .relationships-table th, .relationships-table td {
  padding: 0.31944rem;
}
.results-table .yay, .relationships-table .yay {
  color: #31a600;
}
.results-table .yay .after, .relationships-table .yay .after {
  font-weight: bold;
}
.results-table.soft th + th, .relationships-table.soft th + th {
  width: 21%;
}

.learner-profile {
  width: 48.71795%;
  float: left;
  margin-right: 2.5641%;
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
}

.teacher-profile {
  width: 48.71795%;
  float: right;
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
}

.measure .property {
  font-weight: normal;
  text-transform: uppercase;
}
.measure .value {
  color: #999999;
}
.measure .value:before {
  content: "[";
}
.measure .value:after {
  content: "]";
}
.measure .description {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  margin-top: 12px;
  margin-top: 0.63889rem;
  margin-bottom: 12px;
  margin-bottom: 0.63889rem;
  margin-left: 1.27778rem;
}
