html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridge_round-webfont.woff?c7ba474b557be0488fe28221743e7eb29c1f69ae') format("woff"), url('../fonts/cambridge_round-webfont.ttf?865377a86d1b4904d0f76ba8435166816442a6ab') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridge_round_bold-webfont.woff?df7ddb9e5eaf388adedba2ee0aa4a55e2d6b827b') format("woff"), url('../fonts/cambridge_round_bold-webfont.ttf?acd8deab7e980c6970895de1cd07f253021f64ae') format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridge_round_it-webfont.woff?11ef3d900fe3069ef306b4e3f7a3a41ef6e2cbc9') format("woff"), url('../fonts/cambridge_round_it-webfont.ttf?3abaa0fcd8183c9493ee828b27d7043ff4a946a6') format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "CambridgeRoundCond";
  src: url('../fonts/cambridge_round_cond-webfont.woff?99e7b0e86e336df328bb50ec2d7daed74c72bc53') format("woff"), url('../fonts/cambridge_round_cond-webfont.ttf?c4abd97e162a8e4e6b9e46be80166bc72580848a') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRoundCond";
  src: url('../fonts/cambridge_round_bold_cond-webfont.woff?0b5ba5bfb74943887792d317e945685b51baa1de') format("woff"), url('../fonts/cambridge_round_bold_cond-webfont.ttf?6b044a207b0b8353660a263e55a1e687fe89096d') format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRoundCond";
  src: url('../fonts/cambridge_round_cond_it-webfont.woff?58eada5c8ae1b4f0b4a55a88f972985579e42136') format("woff"), url('../fonts/cambridge_round_cond_it-webfont.ttf?03d4b9da950ac07c8a4bc5a0f579e083ccaf0e55') format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SquareSerif";
  src: url('../fonts/SquareSerif-Book-webfont.woff?31cd36d4e01a68c8d49d3e12a3c08fca83d07465') format("woff"), url('../fonts/SquareSerif-Book-webfont.ttf?b0508596ea07c33ee24cdbb930ab1140a6017dc7') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SquareSerif";
  src: url('../fonts/SquareSerif-Bold-webfont.woff?3da5837fb7ab6755560104f435ed094d325bca58') format("woff"), url('../fonts/SquareSerif-Bold-webfont.ttf?3545979a74333ca540b29546915ca6b74f36e65c') format("truetype");
  font-weight: bold;
  font-style: normal;
}

html {
  font-size: 112.5%;
  line-height: 1.27778em;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "CambridgeRound", "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #4c4c4c;
  background: rgba(229, 229, 229, 0.25);
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
}

a:hover, a:active {
  outline: none;
}
a:link, a:visited {
  color: #007474;
  text-decoration: none;
}
a:focus, a:hover, a:active {
  color: #94001a;
}

.amp {
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-style: italic;
}

.alt-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.why h1 {
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 43px;
  font-size: 2.38889rem;
  line-height: 58px;
  line-height: 3.19444rem;
}

.feature-title, .block-title {
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin-bottom: 12px;
  margin-bottom: 0.63889rem;
  text-transform: uppercase;
  font-weight: bold;
}

@font-face {
  font-family: "knet";
  src: url('../fonts/knet.woff?ea3e07afb11021754430b10596f37feabe85fe0e') format("woff"), url('../fonts/knet.ttf?92ba68062e26e7ab027978359f4c45e3d4b20ccf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

#messages .close:before, .announce:before, .message:before, .loading-icon:before, [data-icon]:before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-family: "knet";
  font-style: normal;
  speak: none;
}

#messages .close {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  min-width: 1em;
  text-indent: -9999px;
}
#messages .close:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-indent: 0;
  text-align: center;
}

[data-icon]:before {
  content: attr(data-icon);
}

#messages .close:before {
  content: "\e006";
}

.announce:before, .message:before {
  content: "\e008";
}

.message.success:before {
  content: "\e009";
}

.message.warning:before {
  content: "\e00a";
}

.message.error:before {
  content: "\e00b";
}

.loading-icon:before {
  content: "\e00e";
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  background: none;
  color: inherit;
  cursor: pointer;
}

.primary-action {
  border-width: 1px;
  border-width: 0.05556rem;
  border-style: solid;
  padding: 2px;
  padding: 0.10417rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  border-radius: 0.25rem;
  background-image: -webkit-linear-gradient(top, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: -moz-linear-gradient(top, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: -o-linear-gradient(top, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: linear-gradient(to bottom, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  display: inline-block;
  padding-left: 0.63889rem;
  padding-right: 0.63889rem;
  cursor: pointer;
}

.primary-action:hover, .primary-action:focus {
  -webkit-box-shadow: rgba(102, 189, 189, 0.25) 0 0 0.31944rem;
  -moz-box-shadow: rgba(102, 189, 189, 0.25) 0 0 0.31944rem;
  box-shadow: rgba(102, 189, 189, 0.25) 0 0 0.31944rem;
}

.primary-action:active {
  -webkit-box-shadow: rgba(15, 15, 15, 0.5) 0 0 0.25rem inset;
  -moz-box-shadow: rgba(15, 15, 15, 0.5) 0 0 0.25rem inset;
  box-shadow: rgba(15, 15, 15, 0.5) 0 0 0.25rem inset;
  background-image: -webkit-linear-gradient(bottom, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: -moz-linear-gradient(bottom, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: -o-linear-gradient(bottom, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: linear-gradient(to top, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
}

.primary-action {
  border-width: 1px;
  border-width: 0.05556rem;
  border-style: solid;
  padding: 5px;
  padding: 0.26389rem;
  padding-left: 1.27778rem;
  padding-right: 1.27778rem;
  background-color: #8be266;
}
.primary-action:after {
  content: " »";
}

.form-actions {
  text-align: right;
}

.formfield {
  margin-bottom: 12px;
  margin-bottom: 0.63889rem;
}
.formfield:after {
  content: "";
  display: table;
  clear: both;
}

.form-help {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  color: #6f6f6f;
}
.form-help a:link, .form-help a:visited {
  color: #338f8f;
}
.form-help a:focus, .form-help a:hover, .form-help a:active {
  color: #94001a;
}

[type="text"], [type="email"], [type="url"],
[type="password"], [type="datetime"], [type="date"], [type="time"], [type="number"], [multiple], textarea {
  margin: 0;
  padding: 0;
  border: 0;
}

[type="text"], [type="email"], [type="url"],
[type="password"], [type="datetime"], [type="date"], [type="time"], [type="number"], [multiple], textarea, select {
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-size: 1rem;
  line-height: 23px;
  line-height: 1.27778rem;
}

[type="text"], [type="email"], [type="url"],
[type="password"], [type="datetime"], [type="date"], [type="time"], [type="number"], [multiple], textarea {
  border-width: 1px;
  border-width: 0.05556rem;
  border-style: solid;
  padding: 5px;
  padding: 0.26389rem;
  font-size: 23px;
  font-size: 1.27778rem;
  line-height: 35px;
  line-height: 1.91667rem;
  -webkit-box-shadow: rgba(76, 76, 76, 0.5) 0 0 3px inset;
  -moz-box-shadow: rgba(76, 76, 76, 0.5) 0 0 3px inset;
  box-shadow: rgba(76, 76, 76, 0.5) 0 0 3px inset;
  display: block;
  width: 100%;
  color: #6f6f6f;
  background: rgba(229, 229, 229, 0.25);
  border-color: #b2b2b2;
}

[type="text"]:focus, [type="email"]:focus, [type="url"]:focus,
[type="password"]:focus, [type="datetime"]:focus, [type="date"]:focus, [type="time"]:focus, [type="number"]:focus, [multiple]:focus, textarea:focus {
  border-color: #66abab;
  outline: 0;
}

[type="text"]:focus:invalid, [type="email"]:focus:invalid, [type="url"]:focus:invalid,
[type="password"]:focus:invalid, [type="datetime"]:focus:invalid, [type="date"]:focus:invalid, [type="time"]:focus:invalid, [type="number"]:focus:invalid, [multiple]:focus:invalid, textarea:focus:invalid {
  border-color: #ee667e;
}

[type="text"], [type="email"], [type="url"],
[type="password"], [type="datetime"], [type="date"], [type="time"], [type="number"] {
  height: 1.91667rem;
}

[multiple], textarea {
  height: 8.30556rem;
  resize: vertical;
}

[type="file"] {
  display: block;
}

select {
  display: block;
  min-width: 50%;
}

[multiple] {
  font-size: 18px;
  font-size: 1rem;
  line-height: 23px;
  line-height: 1.27778rem;
}

[type="checkbox"] {
  vertical-align: middle;
}

[type="number"] {
  padding-top: 0;
}

.form-type, .radio-type, .checkbox-type {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  cursor: pointer;
}

.form-type {
  font-weight: bold;
}

.formfield.optional .form-type:after {
  content: " [optional]";
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  color: #999999;
  font-weight: normal;
}

.tooltip {
  position: absolute;
  padding: 0.31944rem 0.63889rem;
  color: #dbdbdb;
  background: #4c4c4c;
  border: 1px solid #dbdbdb;
  white-space: nowrap;
  display: none;
}
[data-tooltip].tooltip:after {
  content: attr(data-tooltip);
}

.tooltip {
  bottom: 100%;
  margin-bottom: 0.31944rem;
}

.tooltip {
  right: 0;
}
.tooltip:before {
  content: " ";
  position: absolute;
  height: 0;
  width: 0;
  border: solid transparent;
  pointer-events: none;
  top: 100%;
  border-top-color: #4c4c4c;
  border-width: 0.31944rem;
  right: 0.31944rem;
}

@-moz-keyframes announce-in {
  0% {
    opacity: 0;
    -moz-transform: translateY(-12.77778rem);
    transform: translateY(-12.77778rem);
  }

  100% {
    opacity: 0.95;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes announce-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-12.77778rem);
    transform: translateY(-12.77778rem);
  }

  100% {
    opacity: 0.95;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes announce-in {
  0% {
    opacity: 0;
    -o-transform: translateY(-12.77778rem);
    transform: translateY(-12.77778rem);
  }

  100% {
    opacity: 0.95;
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes announce-in {
  0% {
    opacity: 0;
    transform: translateY(-12.77778rem);
  }

  100% {
    opacity: 0.95;
    transform: translateY(0);
  }
}

@-moz-keyframes announce-out {
  0% {
    opacity: 0.95;
    -moz-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -moz-transform: translateX(38.33333rem);
    transform: translateX(38.33333rem);
  }
}

@-webkit-keyframes announce-out {
  0% {
    opacity: 0.95;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(38.33333rem);
    transform: translateX(38.33333rem);
  }
}

@-o-keyframes announce-out {
  0% {
    opacity: 0.95;
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -o-transform: translateX(38.33333rem);
    transform: translateX(38.33333rem);
  }
}

@keyframes announce-out {
  0% {
    opacity: 0.95;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(38.33333rem);
  }
}

#messages {
  position: fixed;
  top: 0.63889rem;
  right: 0.63889rem;
  width: 80%;
  max-width: 20em;
  z-index: 999;
}
#messages .close {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  position: absolute;
  display: inline-block;
  right: .125rem;
  top: 0;
  width: 1em;
}

.announce, .message {
  font-size: 23px;
  font-size: 1.27778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  -webkit-animation: announce-in 1s ease backwards;
  -moz-animation: announce-in 1s ease backwards;
  -o-animation: announce-in 1s ease backwards;
  animation: announce-in 1s ease backwards;
  border-width: 1px;
  border-width: 0.05556rem;
  border-style: solid;
  padding: 16px;
  padding: 0.90278rem;
  overflow: hidden;
  opacity: 0.95;
  -webkit-box-shadow: #4c4c4c 0 0 0.31944rem;
  -moz-box-shadow: #4c4c4c 0 0 0.31944rem;
  box-shadow: #4c4c4c 0 0 0.31944rem;
  position: relative;
}
.announce:before, .message:before {
  position: absolute;
  top: 0.95833rem;
  left: 0.95833rem;
}
.announce .body, .message .body {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  margin: 0 0.31944rem 0 1.91667rem;
}
.announce .body a:link, .message .body a:link, .announce .body a:visited, .message .body a:visited {
  color: #007474;
  text-decoration: underline;
}
.announce .body a:focus, .message .body a:focus, .announce .body a:hover, .message .body a:hover, .announce .body a:active, .message .body a:active {
  color: #e9ccd1;
}

.closed.announce, .closed.message, .message.closed-timeout {
  -webkit-animation: announce-out 800ms ease forwards;
  -moz-animation: announce-out 800ms ease forwards;
  -o-animation: announce-out 800ms ease forwards;
  animation: announce-out 800ms ease forwards;
}

.announce, .message {
  color: #e5e5e5;
  background: #009191;
}
.announce .close:link, .message .close:link, .announce .close:visited, .message .close:visited {
  color: rgba(229, 229, 229, 0.75);
}
.announce .close:focus, .message .close:focus, .announce .close:hover, .message .close:hover, .announce .close:active, .message .close:active {
  color: #e5e5e5;
}

.message.success {
  color: #4c4c4c;
  background: #3ed000;
}
.message.success .close:link, .message.success .close:visited {
  color: rgba(76, 76, 76, 0.75);
}
.message.success .close:focus, .message.success .close:hover, .message.success .close:active {
  color: #4c4c4c;
}

.message.warning {
  color: #4c4c4c;
  background: #f2ac00;
}
.message.warning .close:link, .message.warning .close:visited {
  color: rgba(76, 76, 76, 0.75);
}
.message.warning .close:focus, .message.warning .close:hover, .message.warning .close:active {
  color: #4c4c4c;
}

.message.error {
  color: #e5e5e5;
  background: #e30028;
}
.message.error .close:link, .message.error .close:visited {
  color: rgba(229, 229, 229, 0.75);
}
.message.error .close:focus, .message.error .close:hover, .message.error .close:active {
  color: #e5e5e5;
}

.logo {
  position: relative;
  height: 0;
  padding-top: 36.95833%;
  width: 100%;
  background: url('../images/wordmark.svg?c2ba4f4cd8028a60a7d8ab360e81e63e7036d0c5') no-repeat scroll top;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}
.logo > * {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin: 0;
  padding: 0;
}

.tagline {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #007474;
  font-weight: bold;
}
@media (min-width: 30em) {
  .tagline {
    text-align: right;
  }
}

.logo {
  text-indent: -9999px;
  overflow: hidden;
}

.tagline {
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
}

.js .message.js-warning {
  display: none;
}

@-moz-keyframes loadingStart {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes loadingStart {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes loadingStart {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes loadingStart {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes loading {
  0% {
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
    color: rgba(0, 116, 116, 0.5);
  }

  50% {
    -moz-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    color: rgba(0, 116, 116, 0.75);
  }

  100% {
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
    color: rgba(0, 116, 116, 0.5);
  }
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    color: rgba(0, 116, 116, 0.5);
  }

  50% {
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    color: rgba(0, 116, 116, 0.75);
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    color: rgba(0, 116, 116, 0.5);
  }
}

@-o-keyframes loading {
  0% {
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    color: rgba(0, 116, 116, 0.5);
  }

  50% {
    -o-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    color: rgba(0, 116, 116, 0.75);
  }

  100% {
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    color: rgba(0, 116, 116, 0.5);
  }
}

@keyframes loading {
  0% {
    transform: scale(1, 1);
    color: rgba(0, 116, 116, 0.5);
  }

  50% {
    transform: scale(1.5, 1.5);
    color: rgba(0, 116, 116, 0.75);
  }

  100% {
    transform: scale(1, 1);
    color: rgba(0, 116, 116, 0.5);
  }
}

.loading {
  position: relative;
}
.loading .loading-overlay {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-animation: loadingStart 3s 300ms linear 1 both;
  -moz-animation: loadingStart 3s 300ms linear 1 both;
  -o-animation: loadingStart 3s 300ms linear 1 both;
  animation: loadingStart 3s 300ms linear 1 both;
  text-align: center;
  z-index: 990;
}

.loading-spinner {
  margin: -1.91667rem auto 0;
  color: #191919;
  text-align: center;
}

.loading-text {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  margin-top: -35px;
  margin-top: -1.91667rem;
  text-shadow: white 0 0 1em, white 0 0 0.5em, white 0 0 0.25em;
  position: relative;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 992;
}
.loading-text:after {
  content: "...";
}

.loading-icon {
  font-size: 43px;
  font-size: 2.38889rem;
  line-height: 58px;
  line-height: 3.19444rem;
  text-shadow: rgba(255, 255, 255, 0.75) 0 0 0.5em;
  -webkit-animation: loading 3s linear infinite;
  -moz-animation: loading 3s linear infinite;
  -o-animation: loading 3s linear infinite;
  animation: loading 3s linear infinite;
  display: block;
  vertical-align: middle;
}
.loading-icon:before {
  vertical-align: middle;
}

html {
  background: #f8f8f8;
}

[role="banner"] > [class$="-wrap"], [role="contentinfo"] > [class$="-wrap"], .feature > [class$="-wrap"], .what > [class$="-wrap"], .who > [class$="-wrap"], .why > [class$="-wrap"], .contact > [class$="-wrap"] {
  max-width: 70em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.63889rem;
}
[role="banner"] > [class$="-wrap"]:after, [role="contentinfo"] > [class$="-wrap"]:after, .feature > [class$="-wrap"]:after, .what > [class$="-wrap"]:after, .who > [class$="-wrap"]:after, .why > [class$="-wrap"]:after, .contact > [class$="-wrap"]:after {
  content: "";
  display: table;
  clear: both;
}

[role="banner"], [role="contentinfo"] {
  padding-top: 12px;
  padding-top: 0.63889rem;
  padding-bottom: 12px;
  padding-bottom: 0.63889rem;
  background: rgba(229, 229, 229, 0.8);
}

.intro {
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 57px;
  font-size: 3.16667rem;
  line-height: 69px;
  line-height: 3.83333rem;
}

[role="banner"] {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-box-shadow: rgba(76, 76, 76, 0.75) 0 0 6px;
  -moz-box-shadow: rgba(76, 76, 76, 0.75) 0 0 6px;
  box-shadow: rgba(76, 76, 76, 0.75) 0 0 6px;
}
[role="banner"] .brand {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 0.84746%;
  padding-right: 0.84746%;
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: bold;
}
[role="banner"] .page-nav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: right;
  padding-left: 0.84746%;
  padding-right: 0.84746%;
  text-align: right;
}
[role="banner"] .page-nav a {
  display: inline-block;
}
[role="banner"] .page-nav a + a:before {
  content: " | ";
  color: #4c4c4c;
}

.info {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  color: #6f6f6f;
}
.info strong {
  font-weight: bold;
}
.info a, .info .phone {
  display: inline-block;
}
.info a:before, .info .phone:before {
  content: " | ";
  color: #6f6f6f;
}

.feature {
  padding-top: 81px;
  padding-top: 4.47222rem;
  padding-bottom: 69px;
  padding-bottom: 3.83333rem;
  background: -webkit-linear-gradient(bottom, rgba(76, 76, 76, 0.25), transparent 6px) no-repeat scroll, -webkit-linear-gradient(top, #71b2b2, #7ca7a7, #97c385, #429899) no-repeat fixed;
  background: -moz-linear-gradient(bottom, rgba(76, 76, 76, 0.25), transparent 6px) no-repeat scroll, -moz-linear-gradient(top, #71b2b2, #7ca7a7, #97c385, #429899) no-repeat fixed;
  background: -o-linear-gradient(bottom, rgba(76, 76, 76, 0.25), transparent 6px) no-repeat scroll, -o-linear-gradient(top, #71b2b2, #7ca7a7, #97c385, #429899) no-repeat fixed;
  background: linear-gradient(to top, rgba(76, 76, 76, 0.25), transparent 6px) no-repeat scroll, linear-gradient(to bottom right, #71b2b2, #7ca7a7, #97c385, #429899) no-repeat fixed;
}
.feature:after {
  content: "";
  display: table;
  clear: both;
}

.intro {
  margin-bottom: 58px;
  margin-bottom: 3.19444rem;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  text-align: center;
}

.feature-links {
  padding-left: 1.27778rem;
  padding-right: 1.27778rem;
}

.feature-block {
  border-width: 1px;
  border-width: 0.05556rem;
  border-style: solid;
  padding: 34px;
  padding: 1.86111rem;
  -webkit-box-shadow: #4c4c4c 0 0 3px inset;
  -moz-box-shadow: #4c4c4c 0 0 3px inset;
  box-shadow: #4c4c4c 0 0 3px inset;
  float: left;
  width: 30.33333%;
  margin-right: -200%;
  background: rgba(255, 255, 255, 0.8);
  border-color: #4c4c4c;
}
.feature-block.pyo {
  -moz-border-radius-topleft: 0.31944rem;
  -webkit-border-top-left-radius: 0.31944rem;
  border-top-left-radius: 0.31944rem;
  -moz-border-radius-bottomleft: 0.31944rem;
  -webkit-border-bottom-left-radius: 0.31944rem;
  border-bottom-left-radius: 0.31944rem;
  border-right: 0;
}
.feature-block.consult {
  font-size: 23px;
  font-size: 1.27778rem;
  line-height: 35px;
  line-height: 1.91667rem;
  margin-top: -23px;
  margin-top: -1.27778rem;
  border-top-width: 1px;
  border-top-width: 0.05556rem;
  border-top-style: solid;
  padding-top: 45px;
  padding-top: 2.5rem;
  border-bottom-width: 1px;
  border-bottom-width: 0.05556rem;
  border-bottom-style: solid;
  padding-bottom: 45px;
  padding-bottom: 2.5rem;
  -webkit-box-shadow: #4c4c4c 0 0 6px;
  -moz-box-shadow: #4c4c4c 0 0 6px;
  box-shadow: #4c4c4c 0 0 6px;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  position: relative;
  width: 39.33333%;
  margin-left: 30.33333%;
  background: rgba(255, 255, 255, 0.85);
  color: #94001a;
  z-index: 10;
}
.feature-block.consult:focus, .feature-block.consult:hover, .feature-block.consult:active {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  background: white;
}
.feature-block.tcs {
  -moz-border-radius-topright: 0.31944rem;
  -webkit-border-top-right-radius: 0.31944rem;
  border-top-right-radius: 0.31944rem;
  -moz-border-radius-bottomright: 0.31944rem;
  -webkit-border-bottom-right-radius: 0.31944rem;
  border-bottom-right-radius: 0.31944rem;
  float: right;
  margin-right: 0;
  border-left: 0;
}

.what > [class$="-wrap"], .who > [class$="-wrap"], .why > [class$="-wrap"], .contact > [class$="-wrap"] {
  padding-top: 46px;
  padding-top: 2.55556rem;
  padding-bottom: 46px;
  padding-bottom: 2.55556rem;
}
.what > [class$="-wrap"]:after, .who > [class$="-wrap"]:after, .why > [class$="-wrap"]:after, .contact > [class$="-wrap"]:after {
  content: "";
  display: table;
  clear: both;
}

.who > [class$="-wrap"], .what > [class$="-wrap"], .contact > [class$="-wrap"] {
  border-top-width: 2px;
  border-top-width: 0.11111rem;
  border-top-style: solid;
  padding-top: 44px;
  padding-top: 2.44444rem;
  border-top: 2px dotted rgba(153, 153, 153, 0.5);
}

.section-title {
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-size: 1.77778rem;
  line-height: 46px;
  line-height: 2.55556rem;
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
  text-align: center;
  text-transform: uppercase;
}

.why {
  position: relative;
  z-index: 20;
}
.why:before, .why:after {
  content: " ";
  position: absolute;
  height: 0;
  width: 0;
  border: solid transparent;
  pointer-events: none;
  bottom: 100%;
  border-bottom-color: #f8f8f8;
  border-width: 32px;
  left: 50%;
  margin-left: -32px;
}
.why:before {
  border-width: 35px;
  border-bottom-color: rgba(76, 76, 76, 0.25);
  margin-left: -35px;
}
.why > [class$="-wrap"] {
  background: url('../images/girl.svg?2ccf1d0ea3ba646c84ffa54eed7fa6d543b9c47d') no-repeat scroll 8.33333% center;
  -webkit-background-size: 41.66667% auto;
  -moz-background-size: 41.66667% auto;
  -o-background-size: 41.66667% auto;
  background-size: 41.66667% auto;
  padding-top: 92px;
  padding-top: 5.11111rem;
  padding-bottom: 92px;
  padding-bottom: 5.11111rem;
}
.why h1, .why p {
  margin-left: 50%;
}
.why p {
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 23px;
  font-size: 1.27778rem;
  line-height: 35px;
  line-height: 1.91667rem;
  font-weight: bold;
}

.what-block {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  margin-right: -100%;
  padding-left: 0.84746%;
  padding-right: 0.84746%;
}
.what-block:nth-of-type(3n + 1) {
  margin-left: 0;
  clear: left;
}
.what-block:nth-of-type(3n + 2) {
  margin-left: 33.33333%;
  clear: none;
}
.what-block:nth-of-type(3n + 3) {
  margin-left: 66.66667%;
  clear: none;
}

.who-block {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  margin-right: -100%;
  padding-left: 0.84746%;
  padding-right: 0.84746%;
}
.who-block:nth-of-type(2n + 1) {
  margin-left: 0;
  clear: left;
}
.who-block:nth-of-type(2n + 2) {
  margin-left: 50%;
  clear: none;
}

.contact-block {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  margin-right: -100%;
  padding-left: 0.84746%;
  padding-right: 0.84746%;
}
.contact-block:nth-of-type(3n + 1) {
  margin-left: 0;
  clear: left;
}
.contact-block:nth-of-type(3n + 2) {
  margin-left: 33.33333%;
  clear: none;
}
.contact-block:nth-of-type(3n + 3) {
  margin-left: 66.66667%;
  clear: none;
}
