html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridge_round-webfont.woff?1342738619') format("woff"), url('../fonts/cambridge_round-webfont.ttf?1358363476') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridge_round_bold-webfont.woff?1342738619') format("woff"), url('../fonts/cambridge_round_bold-webfont.ttf?1358363476') format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridge_round_it-webfont.woff?1342738619') format("woff"), url('../fonts/cambridge_round_it-webfont.ttf?1358363477') format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "CambridgeRoundCond";
  src: url('../fonts/cambridge_round_cond-webfont.woff?1351286140') format("woff"), url('../fonts/cambridge_round_cond-webfont.ttf?1358363477') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRoundCond";
  src: url('../fonts/cambridge_round_bold_cond-webfont.woff?1351286140') format("woff"), url('../fonts/cambridge_round_bold_cond-webfont.ttf?1358363476') format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRoundCond";
  src: url('../fonts/cambridge_round_cond_it-webfont.woff?1351286140') format("woff"), url('../fonts/cambridge_round_cond_it-webfont.ttf?1358363477') format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SquareSerif";
  src: url('../fonts/SquareSerif-Book-webfont.woff?1342738619') format("woff"), url('../fonts/SquareSerif-Book-webfont.ttf?1358363476') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SquareSerif";
  src: url('../fonts/SquareSerif-Bold-webfont.woff?1342738619') format("woff"), url('../fonts/SquareSerif-Bold-webfont.ttf?1358363476') format("truetype");
  font-weight: bold;
  font-style: normal;
}

html {
  font-size: 112.5%;
  line-height: 1.27778em;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "CambridgeRound", "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #4c4c4c;
  background: rgba(229, 229, 229, 0.25);
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
}

a:hover, a:active {
  outline: none;
}
a:link, a:visited {
  color: #007474;
  text-decoration: none;
}
a:focus, a:hover, a:active {
  color: #94001a;
}

.amp {
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-style: italic;
}

.alt-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

@font-face {
  font-family: "knet";
  src: url('../fonts/knet.woff?1370641551') format("woff"), url('../fonts/knet.ttf?1370641551') format("truetype");
  font-weight: normal;
  font-style: normal;
}

.user-nav [name="logout"]:before, #messages .close:before, .user-nav .fb-login:before, .announce:before, .message:before, .loading-icon:before, [data-icon]:before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-family: "knet";
  font-style: normal;
  speak: none;
}

.user-nav [name="logout"], #messages .close {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  min-width: 1em;
  text-indent: -9999px;
}
.user-nav [name="logout"]:before, #messages .close:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-indent: 0;
  text-align: center;
}

[data-icon]:before {
  content: attr(data-icon);
}

#messages .close:before {
  content: "\e006";
}

.user-nav .fb-login:before {
  content: "\e007";
}

.announce:before, .message:before {
  content: "\e008";
}

.message.success:before {
  content: "\e009";
}

.message.warning:before {
  content: "\e00a";
}

.message.error:before {
  content: "\e00b";
}

.user-nav [name="logout"]:before {
  content: "\e00c";
}

.loading-icon:before {
  content: "\e00e";
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  background: none;
  color: inherit;
  cursor: pointer;
}

.primary-action, .signup button {
  border-width: 1px;
  border-width: 0.05556rem;
  border-style: solid;
  padding: 2px;
  padding: 0.10417rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  border-radius: 0.25rem;
  background-image: -webkit-linear-gradient(top, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: -moz-linear-gradient(top, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: -o-linear-gradient(top, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: linear-gradient(to bottom, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  display: inline-block;
  padding-left: 0.63889rem;
  padding-right: 0.63889rem;
  cursor: pointer;
}

.primary-action:hover, .signup button:hover, .primary-action:focus, .signup button:focus {
  -webkit-box-shadow: rgba(102, 189, 189, 0.25) 0 0 0.31944rem;
  -moz-box-shadow: rgba(102, 189, 189, 0.25) 0 0 0.31944rem;
  box-shadow: rgba(102, 189, 189, 0.25) 0 0 0.31944rem;
}

.primary-action:active, .signup button:active {
  -webkit-box-shadow: rgba(15, 15, 15, 0.5) 0 0 0.25rem inset;
  -moz-box-shadow: rgba(15, 15, 15, 0.5) 0 0 0.25rem inset;
  box-shadow: rgba(15, 15, 15, 0.5) 0 0 0.25rem inset;
  background-image: -webkit-linear-gradient(bottom, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: -moz-linear-gradient(bottom, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: -o-linear-gradient(bottom, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: linear-gradient(to top, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
}

.primary-action, .signup button {
  border-width: 1px;
  border-width: 0.05556rem;
  border-style: solid;
  padding: 5px;
  padding: 0.26389rem;
  padding-left: 1.27778rem;
  padding-right: 1.27778rem;
  background-color: #8be266;
}
.primary-action:after, .signup button:after {
  content: " »";
}

.form-actions {
  text-align: right;
}

.formfield {
  margin-bottom: 12px;
  margin-bottom: 0.63889rem;
}
.formfield:after {
  content: "";
  display: table;
  clear: both;
}

.form-help {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  color: #6f6f6f;
}
.form-help a:link, .form-help a:visited {
  color: #338f8f;
}
.form-help a:focus, .form-help a:hover, .form-help a:active {
  color: #94001a;
}

[type="text"], [type="email"], [type="url"],
[type="password"], [type="datetime"], [type="date"], [type="time"], [type="number"], [multiple], textarea {
  margin: 0;
  padding: 0;
  border: 0;
}

[type="text"], [type="email"], [type="url"],
[type="password"], [type="datetime"], [type="date"], [type="time"], [type="number"], [multiple], textarea, select {
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-size: 1rem;
  line-height: 23px;
  line-height: 1.27778rem;
}

[type="text"], [type="email"], [type="url"],
[type="password"], [type="datetime"], [type="date"], [type="time"], [type="number"], [multiple], textarea {
  border-width: 1px;
  border-width: 0.05556rem;
  border-style: solid;
  padding: 5px;
  padding: 0.26389rem;
  font-size: 23px;
  font-size: 1.27778rem;
  line-height: 35px;
  line-height: 1.91667rem;
  -webkit-box-shadow: rgba(76, 76, 76, 0.5) 0 0 3px inset;
  -moz-box-shadow: rgba(76, 76, 76, 0.5) 0 0 3px inset;
  box-shadow: rgba(76, 76, 76, 0.5) 0 0 3px inset;
  display: block;
  width: 100%;
  color: #6f6f6f;
  background: rgba(229, 229, 229, 0.25);
  border-color: #b2b2b2;
}

[type="text"]:focus, [type="email"]:focus, [type="url"]:focus,
[type="password"]:focus, [type="datetime"]:focus, [type="date"]:focus, [type="time"]:focus, [type="number"]:focus, [multiple]:focus, textarea:focus {
  border-color: #66abab;
  outline: 0;
}

[type="text"]:focus:invalid, [type="email"]:focus:invalid, [type="url"]:focus:invalid,
[type="password"]:focus:invalid, [type="datetime"]:focus:invalid, [type="date"]:focus:invalid, [type="time"]:focus:invalid, [type="number"]:focus:invalid, [multiple]:focus:invalid, textarea:focus:invalid {
  border-color: #ee667e;
}

[type="text"], [type="email"], [type="url"],
[type="password"], [type="datetime"], [type="date"], [type="time"], [type="number"] {
  height: 1.91667rem;
}

[multiple], textarea {
  height: 8.30556rem;
  resize: vertical;
}

[type="file"] {
  display: block;
}

select {
  display: block;
  min-width: 50%;
}

[multiple] {
  font-size: 18px;
  font-size: 1rem;
  line-height: 23px;
  line-height: 1.27778rem;
}

[type="checkbox"] {
  vertical-align: middle;
}

[type="number"] {
  padding-top: 0;
}

.form-type, .signup label, .radio-type, .checkbox-type {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  cursor: pointer;
}

.form-type, .signup label {
  font-weight: bold;
}

[role="banner"] {
  border-bottom-width: 1px;
  border-bottom-width: 0.05556rem;
  border-bottom-style: solid;
  padding-bottom: 11px;
  padding-bottom: 0.58333rem;
  padding-top: 12px;
  padding-top: 0.63889rem;
  background: rgba(255, 255, 255, 0.95) -webkit-linear-gradient(bottom, rgba(229, 229, 229, 0.75), rgba(229, 229, 229, 0));
  background: rgba(255, 255, 255, 0.95) -moz-linear-gradient(bottom, rgba(229, 229, 229, 0.75), rgba(229, 229, 229, 0));
  background: rgba(255, 255, 255, 0.95) -o-linear-gradient(bottom, rgba(229, 229, 229, 0.75), rgba(229, 229, 229, 0));
  background: rgba(255, 255, 255, 0.95) linear-gradient(to top, rgba(229, 229, 229, 0.75), rgba(229, 229, 229, 0));
  padding-left: 1em;
  padding-right: 1em;
}
[role="banner"]:after {
  content: "";
  display: table;
  clear: both;
}
[role="banner"] .org:link, [role="banner"] .org:visited {
  font-weight: bold;
  color: #4c4c4c;
}
[role="banner"] .org:focus, [role="banner"] .org:hover, [role="banner"] .org:active {
  color: #94001a;
}

.user-nav {
  text-align: right;
}
.user-nav .fb-login:before {
  padding-right: 0.31944rem;
}
.user-nav .user-name, .user-nav .logout-form {
  display: inline-block;
}
.user-nav [name="logout"] {
  padding: 0 0.31944rem;
}
.user-nav [name="logout"]:focus, .user-nav [name="logout"]:hover, .user-nav [name="logout"]:active {
  color: #94001a;
}

@-moz-keyframes announce-in {
  0% {
    opacity: 0;
    -moz-transform: translateY(-12.77778rem);
    transform: translateY(-12.77778rem);
  }

  100% {
    opacity: 0.95;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes announce-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-12.77778rem);
    transform: translateY(-12.77778rem);
  }

  100% {
    opacity: 0.95;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes announce-in {
  0% {
    opacity: 0;
    -o-transform: translateY(-12.77778rem);
    transform: translateY(-12.77778rem);
  }

  100% {
    opacity: 0.95;
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes announce-in {
  0% {
    opacity: 0;
    transform: translateY(-12.77778rem);
  }

  100% {
    opacity: 0.95;
    transform: translateY(0);
  }
}

@-moz-keyframes announce-out {
  0% {
    opacity: 0.95;
    -moz-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -moz-transform: translateX(38.33333rem);
    transform: translateX(38.33333rem);
  }
}

@-webkit-keyframes announce-out {
  0% {
    opacity: 0.95;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(38.33333rem);
    transform: translateX(38.33333rem);
  }
}

@-o-keyframes announce-out {
  0% {
    opacity: 0.95;
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -o-transform: translateX(38.33333rem);
    transform: translateX(38.33333rem);
  }
}

@keyframes announce-out {
  0% {
    opacity: 0.95;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(38.33333rem);
  }
}

#messages {
  position: fixed;
  top: 0.63889rem;
  right: 0.63889rem;
  width: 80%;
  max-width: 20em;
  z-index: 999;
}
#messages .close {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  position: absolute;
  display: inline-block;
  right: .125rem;
  top: 0;
  width: 1em;
}

.announce, .message {
  font-size: 23px;
  font-size: 1.27778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  -webkit-animation: announce-in 1s ease backwards;
  -moz-animation: announce-in 1s ease backwards;
  -o-animation: announce-in 1s ease backwards;
  animation: announce-in 1s ease backwards;
  border-width: 1px;
  border-width: 0.05556rem;
  border-style: solid;
  padding: 16px;
  padding: 0.90278rem;
  overflow: hidden;
  opacity: 0.95;
  -webkit-box-shadow: #4c4c4c 0 0 0.31944rem;
  -moz-box-shadow: #4c4c4c 0 0 0.31944rem;
  box-shadow: #4c4c4c 0 0 0.31944rem;
  position: relative;
}
.announce:before, .message:before {
  position: absolute;
  top: 0.95833rem;
  left: 0.95833rem;
}
.announce .body, .message .body {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  margin: 0 0.31944rem 0 1.91667rem;
}
.announce .body a:link, .message .body a:link, .announce .body a:visited, .message .body a:visited {
  color: #007474;
  text-decoration: underline;
}
.announce .body a:focus, .message .body a:focus, .announce .body a:hover, .message .body a:hover, .announce .body a:active, .message .body a:active {
  color: #e9ccd1;
}

.closed.announce, .closed.message, .message.closed-timeout {
  -webkit-animation: announce-out 800ms ease forwards;
  -moz-animation: announce-out 800ms ease forwards;
  -o-animation: announce-out 800ms ease forwards;
  animation: announce-out 800ms ease forwards;
}

.announce, .message {
  color: #e5e5e5;
  background: #009191;
}
.announce .close:link, .message .close:link, .announce .close:visited, .message .close:visited {
  color: rgba(229, 229, 229, 0.75);
}
.announce .close:focus, .message .close:focus, .announce .close:hover, .message .close:hover, .announce .close:active, .message .close:active {
  color: #e5e5e5;
}

.message.success {
  color: #4c4c4c;
  background: #3ed000;
}
.message.success .close:link, .message.success .close:visited {
  color: rgba(76, 76, 76, 0.75);
}
.message.success .close:focus, .message.success .close:hover, .message.success .close:active {
  color: #4c4c4c;
}

.message.warning {
  color: #4c4c4c;
  background: #f2ac00;
}
.message.warning .close:link, .message.warning .close:visited {
  color: rgba(76, 76, 76, 0.75);
}
.message.warning .close:focus, .message.warning .close:hover, .message.warning .close:active {
  color: #4c4c4c;
}

.message.error {
  color: #e5e5e5;
  background: #e30028;
}
.message.error .close:link, .message.error .close:visited {
  color: rgba(229, 229, 229, 0.75);
}
.message.error .close:focus, .message.error .close:hover, .message.error .close:active {
  color: #e5e5e5;
}

.logo, .call-to-action:after {
  position: relative;
  height: 0;
  padding-top: 36.95833%;
  width: 100%;
  background: url('../images/wordmark.svg?1369776473') no-repeat scroll top;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}
.logo > *, .call-to-action:after > * {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin: 0;
  padding: 0;
}

.tagline, .call-to-action:after {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #007474;
  font-weight: bold;
}
@media (min-width: 30em) {
  .tagline, .call-to-action:after {
    text-align: right;
  }
}

.logo {
  text-indent: -9999px;
  overflow: hidden;
}

.tagline {
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
}

.js .message.js-warning {
  display: none;
}

@-moz-keyframes loadingStart {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes loadingStart {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes loadingStart {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes loadingStart {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes loading {
  0% {
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
    color: rgba(0, 116, 116, 0.5);
  }

  50% {
    -moz-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    color: rgba(0, 116, 116, 0.75);
  }

  100% {
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
    color: rgba(0, 116, 116, 0.5);
  }
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    color: rgba(0, 116, 116, 0.5);
  }

  50% {
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    color: rgba(0, 116, 116, 0.75);
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    color: rgba(0, 116, 116, 0.5);
  }
}

@-o-keyframes loading {
  0% {
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    color: rgba(0, 116, 116, 0.5);
  }

  50% {
    -o-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    color: rgba(0, 116, 116, 0.75);
  }

  100% {
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    color: rgba(0, 116, 116, 0.5);
  }
}

@keyframes loading {
  0% {
    transform: scale(1, 1);
    color: rgba(0, 116, 116, 0.5);
  }

  50% {
    transform: scale(1.5, 1.5);
    color: rgba(0, 116, 116, 0.75);
  }

  100% {
    transform: scale(1, 1);
    color: rgba(0, 116, 116, 0.5);
  }
}

.loading {
  position: relative;
}
.loading .loading-overlay {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-animation: loadingStart 3s 300ms linear 1 both;
  -moz-animation: loadingStart 3s 300ms linear 1 both;
  -o-animation: loadingStart 3s 300ms linear 1 both;
  animation: loadingStart 3s 300ms linear 1 both;
  text-align: center;
  z-index: 990;
}

.loading-spinner {
  margin: -1.91667rem auto 0;
  color: #191919;
  text-align: center;
}

.loading-text {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  margin-top: -35px;
  margin-top: -1.91667rem;
  text-shadow: white 0 0 1em, white 0 0 0.5em, white 0 0 0.25em;
  position: relative;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 992;
}
.loading-text:after {
  content: "...";
}

.loading-icon {
  font-size: 43px;
  font-size: 2.38889rem;
  line-height: 58px;
  line-height: 3.19444rem;
  text-shadow: rgba(255, 255, 255, 0.75) 0 0 0.5em;
  -webkit-animation: loading 3s linear infinite;
  -moz-animation: loading 3s linear infinite;
  -o-animation: loading 3s linear infinite;
  animation: loading 3s linear infinite;
  display: block;
  vertical-align: middle;
}
.loading-icon:before {
  vertical-align: middle;
}

html {
  background: rgba(123, 211, 211, 0.25);
}

.landing {
  max-width: 60em;
}
@media (min-width: 40em) {
  .landing header {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
}

.brand {
  width: 40%;
  float: left;
}

.user-nav {
  width: 60%;
  float: left;
}

[role="main"] {
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
  padding: 1.27778rem 1em;
}
[role="main"]:after {
  content: "";
  display: table;
  clear: both;
}

.call-to-action {
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
}
.call-to-action:after {
  content: attr(data-tagline);
  margin-top: -26%;
  display: none;
}
@media (min-width: 40em) {
  .call-to-action:after {
    display: block;
  }
}
@media (min-width: 40em) {
  .call-to-action {
    margin-bottom: 69px;
    margin-bottom: 3.83333rem;
  }
}

.intro, .signup {
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
  position: relative;
  z-index: 20;
}
@media (min-width: 40em) {
  .intro, .signup {
    margin-left: 53.14626%;
  }
}

.intro {
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 23px;
  font-size: 1.27778rem;
  line-height: 35px;
  line-height: 1.91667rem;
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
  color: #e30028;
}
@media (min-width: 40em) {
  .intro {
    font-size: 32px;
    font-size: 1.77778rem;
    line-height: 46px;
    line-height: 2.55556rem;
    margin-bottom: 46px;
    margin-bottom: 2.55556rem;
  }
}

.signup:after {
  content: "";
  display: table;
  clear: both;
}
.signup input {
  width: 58.33333%;
  float: left;
  margin-right: 4.16667%;
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  background: white;
}
.signup button {
  width: 37.5%;
  float: right;
}
@media (min-width: 40em) {
  .signup button {
    font-size: 18px;
    font-size: 1rem;
    line-height: 23px;
    line-height: 1.27778rem;
    margin-top: -1px;
  }
}

.desc {
  overflow: hidden;
  border-top-width: 2px;
  border-top-width: 0.11111rem;
  border-top-style: solid;
  padding-top: 21px;
  padding-top: 1.16667rem;
  border-bottom-width: 2px;
  border-bottom-width: 0.11111rem;
  border-bottom-style: solid;
  padding-bottom: 21px;
  padding-bottom: 1.16667rem;
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
  margin: 0 -1.27778rem;
  padding-left: 1.27778rem;
  padding-right: 1.27778rem;
  border-style: dashed;
  border-color: rgba(0, 116, 116, 0.25);
}
.desc h2 {
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #007474;
  font-weight: bold;
}
.desc p {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
}
@media (min-width: 40em) {
  .desc {
    border-top-width: 2px;
    border-top-width: 0.11111rem;
    border-top-style: solid;
    padding-top: 44px;
    padding-top: 2.44444rem;
    border-bottom-width: 2px;
    border-bottom-width: 0.11111rem;
    border-bottom-style: solid;
    padding-bottom: 44px;
    padding-bottom: 2.44444rem;
    border-style: dashed;
  }
}

@media (min-width: 40em) {
  .feature {
    width: 31.81818%;
    float: left;
    margin-right: 2.27273%;
  }
  .feature:nth-child(3n) {
    float: right;
    margin-right: 0;
  }
  .feature p {
    margin: 0;
  }
}
