html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridge_round-webfont.woff') format('woff'), url('../fonts/cambridge_round-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridge_round_bold-webfont.woff') format('woff'), url('../fonts/cambridge_round_bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridge_round_it-webfont.woff') format('woff'), url('../fonts/cambridge_round_it-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "CambridgeRoundCond";
  src: url('../fonts/cambridge_round_cond-webfont.woff') format('woff'), url('../fonts/cambridge_round_cond-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRoundCond";
  src: url('../fonts/cambridge_round_bold_cond-webfont.woff') format('woff'), url('../fonts/cambridge_round_bold_cond-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRoundCond";
  src: url('../fonts/cambridge_round_cond_it-webfont.woff') format('woff'), url('../fonts/cambridge_round_cond_it-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SquareSerif";
  src: url('../fonts/SquareSerif-Book-webfont.woff') format('woff'), url('../fonts/SquareSerif-Book-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SquareSerif";
  src: url('../fonts/SquareSerif-Bold-webfont.woff') format('woff'), url('../fonts/SquareSerif-Bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html {
  font-size: 112.5%;
  line-height: 1.27778em;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "CambridgeRound", "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #005e5e;
  background: rgba(123, 211, 211, 0.25);
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
}

a:hover, a:active {
  outline: none;
}
a:link, a:visited {
  color: #009191;
  text-decoration: none;
}
a:focus, a:hover, a:active {
  color: #94001a;
}

.amp {
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-style: italic;
}

.alt-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* Use the following CSS code if you want to have a class per icon */
.message .close:before, [data-icon]:before {
  font-family: 'knet';
  font-style: normal;
  speak: none;
}

.message .close {
  position: relative;
  min-width: 1em;
  text-indent: -9999px;
}
.message .close:before {
  position: absolute;
  top: 0;
  left: 0;
  text-indent: 0;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  content: attr(data-icon);
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  background: none;
  color: inherit;
  cursor: pointer;
}

.primary-action, .signup button {
  border-width: 1px;
  border-width: 0.05556rem;
  border-style: solid;
  padding: 2px;
  padding: 0.10417rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  border-radius: 0.25rem;
  background-image: -webkit-linear-gradient(top, rgba(0, 94, 94, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: -moz-linear-gradient(top, rgba(0, 94, 94, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: -o-linear-gradient(top, rgba(0, 94, 94, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: linear-gradient(to bottom, rgba(0, 94, 94, 0) 40%, rgba(229, 229, 229, 0.25));
  display: inline-block;
  padding-left: 0.63889rem;
  padding-right: 0.63889rem;
  cursor: pointer;
}

.primary-action:hover, .signup button:hover, .primary-action:focus, .signup button:focus {
  -webkit-box-shadow: rgba(102, 189, 189, 0.25) 0 0 0.31944rem;
  -moz-box-shadow: rgba(102, 189, 189, 0.25) 0 0 0.31944rem;
  box-shadow: rgba(102, 189, 189, 0.25) 0 0 0.31944rem;
}

.primary-action:active, .signup button:active {
  -webkit-box-shadow: rgba(0, 18, 18, 0.5) 0 0 0.25rem inset;
  -moz-box-shadow: rgba(0, 18, 18, 0.5) 0 0 0.25rem inset;
  box-shadow: rgba(0, 18, 18, 0.5) 0 0 0.25rem inset;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 94, 94, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: -moz-linear-gradient(bottom, rgba(0, 94, 94, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: -o-linear-gradient(bottom, rgba(0, 94, 94, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: linear-gradient(to top, rgba(0, 94, 94, 0) 40%, rgba(229, 229, 229, 0.25));
}

.primary-action {
  border-width: 1px;
  border-width: 0.05556rem;
  border-style: solid;
  padding: 5px;
  padding: 0.26389rem;
  padding-left: 1.27778rem;
  padding-right: 1.27778rem;
  background-color: #8be266;
}
.primary-action:after {
  content: " »";
}

.form-actions {
  text-align: right;
}

.formfield {
  margin-bottom: 12px;
  margin-bottom: 0.63889rem;
}
.formfield:after {
  content: "";
  display: table;
  clear: both;
}

.form-help {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  color: #337e7e;
}

[type="text"], [type="email"], [type="password"], [type="url"], textarea {
  margin: 0;
  padding: 0;
  border: 0;
}

[type="text"], [type="email"], [type="password"], [type="url"], textarea {
  border-width: 1px;
  border-width: 0.05556rem;
  border-style: solid;
  padding: 5px;
  padding: 0.26389rem;
  font-size: 12px;
  font-size: 0.66667rem;
  line-height: 23px;
  line-height: 1.27778rem;
  display: block;
  width: 100%;
  border-color: #b2b2b2;
}

[type="text"], [type="email"], [type="password"], [type="url"] {
  height: 1.91667rem;
}

textarea {
  min-height: 4.47222rem;
  resize: vertical;
}

label {
  display: inline-block;
  cursor: pointer;
}

[role="banner"] {
  border-bottom-width: 1px;
  border-bottom-width: 0.05556rem;
  border-bottom-style: solid;
  padding-bottom: 11px;
  padding-bottom: 0.58333rem;
  padding-top: 12px;
  padding-top: 0.63889rem;
  background: rgba(255, 255, 255, 0.95) -webkit-linear-gradient(bottom, rgba(229, 229, 229, 0.75), rgba(229, 229, 229, 0));
  background: rgba(255, 255, 255, 0.95) -moz-linear-gradient(bottom, rgba(229, 229, 229, 0.75), rgba(229, 229, 229, 0));
  background: rgba(255, 255, 255, 0.95) -o-linear-gradient(bottom, rgba(229, 229, 229, 0.75), rgba(229, 229, 229, 0));
  background: rgba(255, 255, 255, 0.95) linear-gradient(to top, rgba(229, 229, 229, 0.75), rgba(229, 229, 229, 0));
  padding-left: 1em;
  padding-right: 1em;
}
[role="banner"]:after {
  content: "";
  display: table;
  clear: both;
}
[role="banner"] .org:link, [role="banner"] .org:visited {
  font-weight: bold;
  color: #005e5e;
}
[role="banner"] .org:focus, [role="banner"] .org:hover, [role="banner"] .org:active {
  color: #94001a;
}

[role="main"] {
  max-width: 49em;
  margin-left: auto;
  margin-right: auto;
  padding: 1.27778rem 1em;
}
[role="main"]:after {
  content: "";
  display: table;
  clear: both;
}

.logo, .call-to-action:after {
  position: relative;
  height: 0;
  padding-top: 36.95833%;
  width: 100%;
  background: url('../images/wordmark.svg?1369776473') no-repeat scroll top;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}
.logo > *, .call-to-action:after > * {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin: 0;
  padding: 0;
}

.tagline, .call-to-action:after {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: bold;
}
@media (min-width: 30em) {
  .tagline, .call-to-action:after {
    text-align: right;
  }
}

.logo {
  text-indent: -9999px;
  overflow: hidden;
}

.tagline {
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
}

.landing {
  max-width: 60em;
}
@media (min-width: 40em) {
  .landing header {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
}

.call-to-action {
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
}
.call-to-action:after {
  content: attr(data-tagline);
  margin-top: -26%;
  display: none;
}
@media (min-width: 40em) {
  .call-to-action:after {
    display: block;
  }
}
@media (min-width: 40em) {
  .call-to-action {
    margin-bottom: 69px;
    margin-bottom: 3.83333rem;
  }
}

.intro, .signup, .message {
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
  position: relative;
  z-index: 20;
}
@media (min-width: 40em) {
  .intro, .signup, .message {
    margin-left: 53.14626%;
  }
}

.intro {
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 23px;
  font-size: 1.27778rem;
  line-height: 35px;
  line-height: 1.91667rem;
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
  color: #e30028;
}
@media (min-width: 40em) {
  .intro {
    font-size: 35px;
    font-size: 1.94444rem;
    line-height: 46px;
    line-height: 2.55556rem;
    margin-bottom: 46px;
    margin-bottom: 2.55556rem;
  }
}

.signup:after {
  content: "";
  display: table;
  clear: both;
}
.signup label {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  display: block;
  font-weight: bold;
}
.signup input {
  width: 58.33333%;
  float: left;
  margin-right: 4.16667%;
}
.signup button {
  width: 37.5%;
  float: right;
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: rgba(37, 124, 0, 0.75) 0 1px 0;
  background-color: #31a600;
  border-color: #257c00;
  font-weight: bold;
}
@media (min-width: 40em) {
  .signup button {
    font-size: 18px;
    font-size: 1rem;
    line-height: 23px;
    line-height: 1.27778rem;
    margin-top: -1px;
  }
}

.message {
  border-width: 1px;
  border-width: 0.05556rem;
  border-style: solid;
  padding: 11px;
  padding: 0.58333rem;
  position: relative;
  color: #e5e5e5;
  border-color: #005e5e;
}
.message.success {
  background: #257c00;
}
.message.error {
  background: #880018;
}
.message .close {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 1em;
  color: rgba(229, 229, 229, 0.5);
}
.message .close:focus, .message .close:hover, .message .close:active {
  color: white;
}
.message .close:before {
  content: "x";
  font-family: inherit;
}

.desc {
  overflow: hidden;
  border-top-width: 2px;
  border-top-width: 0.11111rem;
  border-top-style: solid;
  padding-top: 21px;
  padding-top: 1.16667rem;
  border-bottom-width: 2px;
  border-bottom-width: 0.11111rem;
  border-bottom-style: solid;
  padding-bottom: 21px;
  padding-bottom: 1.16667rem;
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
  margin: 0 -1.27778rem;
  padding-left: 1.27778rem;
  padding-right: 1.27778rem;
  border-style: dashed;
  border-color: rgba(0, 116, 116, 0.25);
}
.desc h2 {
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.desc p {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
}
@media (min-width: 40em) {
  .desc {
    border-top-width: 2px;
    border-top-width: 0.11111rem;
    border-top-style: solid;
    padding-top: 44px;
    padding-top: 2.44444rem;
    border-bottom-width: 2px;
    border-bottom-width: 0.11111rem;
    border-bottom-style: solid;
    padding-bottom: 44px;
    padding-bottom: 2.44444rem;
    border-style: dashed;
  }
}

@media (min-width: 40em) {
  .feature {
    width: 31.81818%;
    float: left;
    margin-right: 2.27273%;
  }
  .feature:nth-child(3n) {
    float: right;
    margin-right: 0;
  }
  .feature p {
    margin: 0;
  }
}
