.demo [id*="teacher-login"], .demo [id*="learner-login"], .demo [id*="topic-select"], .demo [id*="learning-session"], .demo [id*="results"], .demo [id*="profiles"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      FontSite Inc.
 * License URL: http://www.fontspring.com/fflicense/fontsite
 *
 *
 */
@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridge_round-webfont.eot');
  src: url('../fonts/cambridge_round-webfont.eot?#iefix') format('eot'), url('../fonts/cambridge_round-webfont.woff') format('woff'), url('../fonts/cambridge_round-webfont.ttf') format('truetype'), url('../fonts/cambridge_round-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridge_round_semibold-webfont.eot');
  src: url('../fonts/cambridge_round_semibold-webfont.eot?#iefix') format('eot'), url('../fonts/cambridge_round_semibold-webfont.woff') format('woff'), url('../fonts/cambridge_round_semibold-webfont.ttf') format('truetype'), url('../fonts/cambridge_round_semibold-webfont.svg#webfont') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridge_round_bold-webfont.eot');
  src: url('../fonts/cambridge_round_bold-webfont.eot?#iefix') format('eot'), url('../fonts/cambridge_round_bold-webfont.woff') format('woff'), url('../fonts/cambridge_round_bold-webfont.ttf') format('truetype'), url('../fonts/cambridge_round_bold-webfont.svg#webfont') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridge_round_it-webfont.eot');
  src: url('../fonts/cambridge_round_it-webfont.eot?#iefix') format('eot'), url('../fonts/cambridge_round_it-webfont.woff') format('woff'), url('../fonts/cambridge_round_it-webfont.ttf') format('truetype'), url('../fonts/cambridge_round_it-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "CambridgeRoundCond";
  src: url('../fonts/cambridge_round_cond-webfont.eot');
  src: url('../fonts/cambridge_round_cond-webfont.eot?#iefix') format('eot'), url('../fonts/cambridge_round_cond-webfont.woff') format('woff'), url('../fonts/cambridge_round_cond-webfont.ttf') format('truetype'), url('../fonts/cambridge_round_cond-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRoundCond";
  src: url('../fonts/cambridge_round_bold_cond-webfont.eot');
  src: url('../fonts/cambridge_round_bold_cond-webfont.eot?#iefix') format('eot'), url('../fonts/cambridge_round_bold_cond-webfont.woff') format('woff'), url('../fonts/cambridge_round_bold_cond-webfont.ttf') format('truetype'), url('../fonts/cambridge_round_bold_cond-webfont.svg#webfont') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRoundCond";
  src: url('../fonts/cambridge_round_cond_it-webfont.eot');
  src: url('../fonts/cambridge_round_cond_it-webfont.eot?#iefix') format('eot'), url('../fonts/cambridge_round_cond_it-webfont.woff') format('woff'), url('../fonts/cambridge_round_cond_it-webfont.ttf') format('truetype'), url('../fonts/cambridge_round_cond_it-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SquareSerif";
  src: url('../fonts/SquareSerif-Book-webfont.eot');
  src: url('../fonts/SquareSerif-Book-webfont.eot?#iefix') format('eot'), url('../fonts/SquareSerif-Book-webfont.woff') format('woff'), url('../fonts/SquareSerif-Book-webfont.ttf') format('truetype'), url('../fonts/SquareSerif-Book-webfont.svg#SquareSerifBook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SquareSerif";
  src: url('../fonts/SquareSerif-Bold-webfont.eot');
  src: url('../fonts/SquareSerif-Bold-webfont.eot?#iefix') format('eot'), url('../fonts/SquareSerif-Bold-webfont.woff') format('woff'), url('../fonts/SquareSerif-Bold-webfont.ttf') format('truetype'), url('../fonts/SquareSerif-Bold-webfont.svg#SquareSerifBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

html {
  font-size: 112.5%;
  line-height: 1.27778em;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "CambridgeRound", "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #657b83;
  background: white;
}

a:hover, a:active {
  outline: none;
}
a:link, a:visited {
  color: #268bd2;
  text-decoration: none;
}
a:focus, a:hover, a:active {
  color: #d33682;
}

.amp {
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-style: italic;
}

.alt-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.demo h1 {
  font-size: 35px;
  font-size: 1.94444rem;
  line-height: 46px;
  line-height: 2.55556rem;
}
.demo h1 a:link, .demo h1 a:visited {
  color: #1e6fa8;
}
.demo h1 a:focus, .demo h1 a:hover, .demo h1 a:active {
  color: #a82b68;
}
.demo h2 {
  margin-bottom: 12px;
  margin-bottom: 0.63889rem;
  text-transform: uppercase;
}
.demo h3, .demo h4, .demo strong {
  font-weight: bold;
}
.demo em {
  font-style: italic;
}
.demo p, .demo ul, .demo ol, .demo pre {
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
}
.demo ul {
  list-style: disc;
}
.demo code, .demo .code {
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
  font-size: 12px;
  font-size: 0.66667rem;
  line-height: 23px;
  line-height: 1.27778rem;
}
.demo code {
  display: inline-block;
  padding: 0 .5em;
  background: rgba(22, 83, 126, 0.125);
}
.demo .code {
  line-height: 17px;
  line-height: 0.95833rem;
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
  -webkit-box-shadow: #657b83 0 0 0.25em inset;
  -moz-box-shadow: #657b83 0 0 0.25em inset;
  box-shadow: #657b83 0 0 0.25em inset;
  overflow: auto;
  padding: 0.63889rem 0.95833rem;
  border-left: 0.31944rem solid rgba(7, 27, 41, 0.25);
}

/* Use the following CSS code if you want to have a class per icon */
[data-icon]:before {
  font-family: 'knet';
  font-style: normal;
  speak: none;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  content: attr(data-icon);
}

.demo button, .demo .next-button {
  border-width: 1px;
  border-width: 0.05556rem;
  border-style: solid;
  padding: 5px;
  padding: 0.26389rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(top, rgba(101, 123, 131, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: -moz-linear-gradient(top, rgba(101, 123, 131, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: -o-linear-gradient(top, rgba(101, 123, 131, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: linear-gradient(to bottom, rgba(101, 123, 131, 0) 40%, rgba(229, 229, 229, 0.25));
  display: inline-block;
  padding-left: 0.63889rem;
  padding-right: 0.63889rem;
  cursor: pointer;
}

.demo button:hover, .demo .next-button:hover, .demo button:focus, .demo .next-button:focus {
  -webkit-box-shadow: rgba(124, 185, 228, 0.25) 0 0 0.31944rem;
  -moz-box-shadow: rgba(124, 185, 228, 0.25) 0 0 0.31944rem;
  box-shadow: rgba(124, 185, 228, 0.25) 0 0 0.31944rem;
}

.demo button:active, .demo .next-button:active {
  -webkit-box-shadow: #657b83 0 0 0.31944rem inset;
  -moz-box-shadow: #657b83 0 0 0.31944rem inset;
  box-shadow: #657b83 0 0 0.31944rem inset;
  background-image: -webkit-linear-gradient(bottom, rgba(101, 123, 131, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: -moz-linear-gradient(bottom, rgba(101, 123, 131, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: -o-linear-gradient(bottom, rgba(101, 123, 131, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: linear-gradient(to top, rgba(101, 123, 131, 0) 40%, rgba(229, 229, 229, 0.25));
}

.demo button:disabled {
  opacity: .5;
  background: rgba(240, 231, 204, 0.5);
  cursor: default;
}
.demo button:focus:disabled, .demo button:hover:disabled, .demo button:active:disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-image: none;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  background: none;
  color: inherit;
}

.formfield {
  margin-bottom: 12px;
  margin-bottom: 0.63889rem;
}
.formfield:after {
  content: "";
  display: table;
  clear: both;
}

[type="text"], [type="email"], [type="password"] {
  border-width: 1px;
  border-width: 0.05556rem;
  border-style: solid;
  padding: 5px;
  padding: 0.26389rem;
  font-size: 12px;
  font-size: 0.66667rem;
  line-height: 23px;
  line-height: 1.27778rem;
  display: block;
  width: 100%;
  border-color: #b2b2b2;
  height: 1.91667rem;
}

[role="banner"] {
  border-bottom-width: 1px;
  border-bottom-width: 0.05556rem;
  border-bottom-style: solid;
  padding-bottom: 11px;
  padding-bottom: 0.58333rem;
  padding-top: 12px;
  padding-top: 0.63889rem;
  background: white -webkit-linear-gradient(bottom, #e5e5e5, rgba(229, 229, 229, 0));
  background: white -moz-linear-gradient(bottom, #e5e5e5, rgba(229, 229, 229, 0));
  background: white -o-linear-gradient(bottom, #e5e5e5, rgba(229, 229, 229, 0));
  background: white linear-gradient(to top, #e5e5e5, rgba(229, 229, 229, 0));
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 0.63889rem;
  padding-right: 0.63889rem;
  z-index: 900;
}
[role="banner"]:after {
  content: "";
  display: table;
  clear: both;
}
[role="banner"] .branding, [role="banner"] .meta {
  float: left;
  width: 50%;
}
[role="banner"] .meta {
  float: right;
  margin-left: -1em;
  text-align: right;
}
[role="banner"] .logo, [role="banner"] .pagetitle, [role="banner"] .vcard {
  display: inline-block;
}
[role="banner"] .logo {
  font-weight: bold;
}
[role="banner"] .logo:after {
  content: ":";
}
[role="banner"] .vcard {
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
  opacity: 1;
  margin-left: 1em;
}
[role="banner"] .vcard.empty {
  opacity: 0;
}

[role="main"] {
  max-width: 39em;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 69px;
  margin-top: 3.83333rem;
  padding: 0 1em;
}
[role="main"]:after {
  content: "";
  display: table;
  clear: both;
}

.landing .logo {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/logo.jpg?1366317383');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  height: 274px;
}
.landing .tagline {
  text-align: right;
}

.demo [class*="teacher-login"], .demo [class*="learner-login"], .demo [class*="topic-select"], .demo [class*="learning-session"], .demo [class*="results"], .demo [class*="profiles"] {
  margin-bottom: 0px;
  margin-bottom: 0rem;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.demo [id*="teacher-login"]:checked ~ .step [class*="teacher-login"], .demo [id*="learner-login"]:checked ~ .step [class*="learner-login"], .demo [id*="topic-select"]:checked ~ .step [class*="topic-select"], .demo [id*="learning-session"]:checked ~ .step [class*="learning-session"], .demo [id*="results"]:checked ~ .step [class*="results"], .demo [id*="profiles"]:checked ~ .step [class*="profiles"] {
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
  opacity: 1;
  max-height: 80em;
  overflow: visible;
}

.demo [id*="teacher-login"]:checked ~ .step h2 [for*="teacher-login"], .demo [id*="learner-login"]:checked ~ .step h2 [for*="learner-login"], .demo [id*="topic-select"]:checked ~ .step h2 [for*="topic-select"], .demo [id*="learning-session"]:checked ~ .step h2 [for*="learning-session"], .demo [id*="results"]:checked ~ .step h2 [for*="results"], .demo [id*="profiles"]:checked ~ .step h2 [for*="profiles"] {
  font-weight: bold;
}

.demo {
  counter-reset: demo;
}
.demo .next-button {
  background-color: #e6eacc;
}
.demo .label {
  margin-bottom: 0px;
  margin-bottom: 0rem;
}
.demo label {
  cursor: pointer;
}

.instructions {
  margin-top: 23px;
  margin-top: 1.27778rem;
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  border-width: 1px;
  border-width: 0.05556rem;
  border-style: solid;
  padding: 11px;
  padding: 0.58333rem;
  position: relative;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  clear: both;
  border-color: #cb4b16;
}
.instructions:before {
  content: " ";
  position: absolute;
  height: 0;
  width: 0;
  border: solid transparent;
  pointer-events: none;
  bottom: 100%;
  border-bottom-color: #cb4b16;
  border-width: 0.5em;
  left: 50%;
  margin-left: -0.5em;
}

.step {
  border-top-width: 2px;
  border-top-width: 0.11111rem;
  border-top-style: solid;
  padding-top: 4px;
  padding-top: 0.20833rem;
  counter-increment: demo;
}
.step:after {
  content: "";
  display: table;
  clear: both;
}
.step h2:before {
  content: "Step " counter(demo) ": ";
  font-weight: normal;
  color: #999999;
}

.collaborate {
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
  border: 1px solid;
}
.collaborate:after {
  content: "";
  display: table;
  clear: both;
}
.collaborate .work {
  float: left;
  width: 64.10256%;
  padding: 7.66667rem 1.27778rem;
  border-right: 1px solid;
  text-align: center;
}
.collaborate .session {
  float: right;
  width: 35.89744%;
  height: 100%;
  margin-left: -1em;
  padding: 0.63889rem;
}
.collaborate .time, .collaborate .chat {
  border-bottom-width: 1px;
  border-bottom-width: 0.05556rem;
  border-bottom-style: solid;
  padding-bottom: 11px;
  padding-bottom: 0.58333rem;
}
.collaborate .chat {
  padding-top: 92px;
  padding-top: 5.11111rem;
  padding-bottom: 92px;
  padding-bottom: 5.11111rem;
}
.collaborate .voice {
  padding-top: 12px;
  padding-top: 0.63889rem;
}

.learner-feedback {
  width: 48.71795%;
  float: left;
  margin-right: 2.5641%;
}

.teacher-feedback {
  width: 48.71795%;
  float: right;
  margin-right: 0;
}

.feedback-item {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
}
.feedback-item.positive button {
  background-color: rgba(230, 234, 204, 0.5);
}
.feedback-item.negative button {
  background-color: rgba(248, 214, 213, 0.5);
}
.feedback-item [class$="-count"] {
  font-size: 23px;
  font-size: 1.27778rem;
  line-height: 35px;
  line-height: 1.91667rem;
}

.results-table {
  margin-top: 23px;
  margin-top: 1.27778rem;
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
  border-top-width: 1px;
  border-top-width: 0.05556rem;
  border-top-style: solid;
  padding-top: 11px;
  padding-top: 0.58333rem;
  border-bottom-width: 1px;
  border-bottom-width: 0.05556rem;
  border-bottom-style: solid;
  padding-bottom: 11px;
  padding-bottom: 0.58333rem;
  width: 100%;
}
.results-table th {
  font-weight: bold;
}
.results-table th, .results-table td {
  padding: 0.31944rem;
}
.results-table .yay {
  background: #e6eacc;
}

.learner-profile {
  width: 48.71795%;
  float: left;
  margin-right: 2.5641%;
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
}

.teacher-profile {
  width: 48.71795%;
  float: right;
  margin-right: 0;
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
}

.measure .property {
  font-weight: normal;
  text-transform: uppercase;
}
.measure .value {
  color: #999999;
}
.measure .value:before {
  content: "[";
}
.measure .value:after {
  content: "]";
}
.measure .description {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  margin-top: 12px;
  margin-top: 0.63889rem;
  margin-bottom: 12px;
  margin-bottom: 0.63889rem;
  margin-left: 1.27778rem;
}
