html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridge_round-webfont.woff?c7ba474b557be0488fe28221743e7eb29c1f69ae') format("woff"), url('../fonts/cambridge_round-webfont.ttf?865377a86d1b4904d0f76ba8435166816442a6ab') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridge_round_bold-webfont.woff?df7ddb9e5eaf388adedba2ee0aa4a55e2d6b827b') format("woff"), url('../fonts/cambridge_round_bold-webfont.ttf?acd8deab7e980c6970895de1cd07f253021f64ae') format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridge_round_it-webfont.woff?11ef3d900fe3069ef306b4e3f7a3a41ef6e2cbc9') format("woff"), url('../fonts/cambridge_round_it-webfont.ttf?3abaa0fcd8183c9493ee828b27d7043ff4a946a6') format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "CambridgeRoundCond";
  src: url('../fonts/cambridge_round_cond-webfont.woff?99e7b0e86e336df328bb50ec2d7daed74c72bc53') format("woff"), url('../fonts/cambridge_round_cond-webfont.ttf?c4abd97e162a8e4e6b9e46be80166bc72580848a') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRoundCond";
  src: url('../fonts/cambridge_round_bold_cond-webfont.woff?0b5ba5bfb74943887792d317e945685b51baa1de') format("woff"), url('../fonts/cambridge_round_bold_cond-webfont.ttf?6b044a207b0b8353660a263e55a1e687fe89096d') format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRoundCond";
  src: url('../fonts/cambridge_round_cond_it-webfont.woff?58eada5c8ae1b4f0b4a55a88f972985579e42136') format("woff"), url('../fonts/cambridge_round_cond_it-webfont.ttf?03d4b9da950ac07c8a4bc5a0f579e083ccaf0e55') format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SquareSerif";
  src: url('../fonts/SquareSerif-Book-webfont.woff?31cd36d4e01a68c8d49d3e12a3c08fca83d07465') format("woff"), url('../fonts/SquareSerif-Book-webfont.ttf?b0508596ea07c33ee24cdbb930ab1140a6017dc7') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SquareSerif";
  src: url('../fonts/SquareSerif-Bold-webfont.woff?3da5837fb7ab6755560104f435ed094d325bca58') format("woff"), url('../fonts/SquareSerif-Bold-webfont.ttf?3545979a74333ca540b29546915ca6b74f36e65c') format("truetype");
  font-weight: bold;
  font-style: normal;
}

html {
  font-size: 112.5%;
  line-height: 1.27778em;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "CambridgeRound", "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #4c4c4c;
  background: rgba(229, 229, 229, 0.25);
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
}

a:hover, a:active {
  outline: none;
}
a:link, a:visited {
  color: #007474;
  text-decoration: none;
}
a:focus, a:hover, a:active {
  color: #94001a;
}

.amp {
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-style: italic;
}

.alt-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.terms-of-service h1, .privacy-policy h1, .welcome-title, .teacher-name, .cta-title {
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 43px;
  font-size: 2.38889rem;
  line-height: 58px;
  line-height: 3.19444rem;
}

.terms-of-service h1 a:link, .privacy-policy h1 a:link, .terms-of-service h1 a:visited, .privacy-policy h1 a:visited {
  color: #005c5c;
}
.terms-of-service h1 a:focus, .privacy-policy h1 a:focus, .terms-of-service h1 a:hover, .privacy-policy h1 a:hover, .terms-of-service h1 a:active, .privacy-policy h1 a:active {
  color: #760014;
}
.terms-of-service h2, .privacy-policy h2 {
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin-bottom: 12px;
  margin-bottom: 0.63889rem;
  text-transform: uppercase;
  font-weight: bold;
}
.terms-of-service h3, .privacy-policy h3 {
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin-top: 23px;
  margin-top: 1.27778rem;
  text-transform: uppercase;
}

.terms-of-service strong, .privacy-policy strong, .story-content strong {
  font-weight: bold;
}
.terms-of-service em, .privacy-policy em, .story-content em {
  font-style: italic;
}
.terms-of-service p, .privacy-policy p, .story-content p, .terms-of-service ul, .privacy-policy ul, .story-content ul, .terms-of-service ol, .privacy-policy ol, .story-content ol, .terms-of-service pre, .privacy-policy pre, .story-content pre {
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
}
.terms-of-service ul, .privacy-policy ul, .story-content ul {
  list-style: disc;
}
.terms-of-service ol, .privacy-policy ol, .story-content ol {
  list-style: decimal;
}
.terms-of-service ul ul, .privacy-policy ul ul, .story-content ul ul, .terms-of-service ul ol, .privacy-policy ul ol, .story-content ul ol, .terms-of-service ol ul, .privacy-policy ol ul, .story-content ol ul, .terms-of-service ol ol, .privacy-policy ol ol, .story-content ol ol {
  margin-left: 1.5em;
}
@media (max-width: 46em) {
  .terms-of-service ul, .privacy-policy ul, .story-content ul, .terms-of-service ol, .privacy-policy ol, .story-content ol {
    margin-left: 1.5em;
  }
}

@font-face {
  font-family: "knet";
  src: url('../fonts/knet.woff?ea3e07afb11021754430b10596f37feabe85fe0e') format("woff"), url('../fonts/knet.ttf?92ba68062e26e7ab027978359f4c45e3d4b20ccf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

.user-nav [name="logout"]:before, #messages .close:before, .user-nav .fb-login:before, .announce:before, .message:before, .loading-icon:before, .login .fb-login:before, .icon-addstory:before, .hidden .status-icon:before, .private .status-icon:before, .quoted .status-icon:before, .story-status:before, .delete-story:before, .sample-icon:link:before, .sample-icon:visited:before, .cta .fb-login:before, .top-link .icon-up:before, [data-icon]:before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-family: "knet";
  font-style: normal;
  speak: none;
}

.user-nav [name="logout"], #messages .close {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  min-width: 1em;
  text-indent: -9999px;
}
.user-nav [name="logout"]:before, #messages .close:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-indent: 0;
  text-align: center;
}

[data-icon]:before {
  content: attr(data-icon);
}

.sample-icon:link:before, .sample-icon:visited:before {
  content: "\e000";
}

.delete-story:before {
  content: "\e004";
}

.icon-addstory:before, .cta .fb-login:before {
  content: "\e005";
}

#messages .close:before {
  content: "\e006";
}

.user-nav .fb-login:before, .login .fb-login:before {
  content: "\e007";
}

.announce:before, .message:before {
  content: "\e008";
}

.message.success:before {
  content: "\e009";
}

.message.warning:before {
  content: "\e00a";
}

.message.error:before {
  content: "\e00b";
}

.user-nav [name="logout"]:before {
  content: "\e00c";
}

.private .status-icon:before {
  content: "\e001";
}

.story-status:before {
  content: "\e002";
}

.hidden .status-icon:before {
  content: "\e00d";
}

.loading-icon:before {
  content: "\e00e";
}

.quoted .status-icon:before {
  content: "\f10e";
}

.top-link .icon-up:before {
  content: "\e00f";
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  background: none;
  color: inherit;
  cursor: pointer;
}

.primary-action, .login .fb-login, .teacher-detail .fb-login, .toggle-addstory, .cta .fb-login, .top-link .icon-up {
  border-width: 1px;
  border-width: 0.05556rem;
  border-style: solid;
  padding: 2px;
  padding: 0.10417rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  border-radius: 0.25rem;
  background-image: -webkit-linear-gradient(top, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: -moz-linear-gradient(top, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: -o-linear-gradient(top, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: linear-gradient(to bottom, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  display: inline-block;
  padding-left: 0.63889rem;
  padding-right: 0.63889rem;
  cursor: pointer;
}

.primary-action:hover, .login .fb-login:hover, .teacher-detail .fb-login:hover, .toggle-addstory:hover, .cta .fb-login:hover, .top-link .icon-up:hover, .primary-action:focus, .login .fb-login:focus, .teacher-detail .fb-login:focus, .toggle-addstory:focus, .cta .fb-login:focus, .top-link .icon-up:focus {
  -webkit-box-shadow: rgba(102, 189, 189, 0.25) 0 0 0.31944rem;
  -moz-box-shadow: rgba(102, 189, 189, 0.25) 0 0 0.31944rem;
  box-shadow: rgba(102, 189, 189, 0.25) 0 0 0.31944rem;
}

.primary-action:active, .login .fb-login:active, .teacher-detail .fb-login:active, .toggle-addstory:active, .cta .fb-login:active, .top-link .icon-up:active {
  -webkit-box-shadow: rgba(15, 15, 15, 0.5) 0 0 0.25rem inset;
  -moz-box-shadow: rgba(15, 15, 15, 0.5) 0 0 0.25rem inset;
  box-shadow: rgba(15, 15, 15, 0.5) 0 0 0.25rem inset;
  background-image: -webkit-linear-gradient(bottom, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: -moz-linear-gradient(bottom, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: -o-linear-gradient(bottom, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: linear-gradient(to top, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
}

.primary-action {
  border-width: 1px;
  border-width: 0.05556rem;
  border-style: solid;
  padding: 5px;
  padding: 0.26389rem;
  padding-left: 1.27778rem;
  padding-right: 1.27778rem;
  background-color: #8be266;
}
.primary-action:after {
  content: " »";
}

.login .fb-login, .teacher-detail .fb-login, .toggle-addstory, .cta .fb-login {
  font-size: 32px;
  font-size: 1.77778rem;
  line-height: 46px;
  line-height: 2.55556rem;
  border-top-width: 1px;
  border-top-width: 0.05556rem;
  border-top-style: solid;
  padding-top: 11px;
  padding-top: 0.58333rem;
  border-bottom-width: 1px;
  border-bottom-width: 0.05556rem;
  border-bottom-style: solid;
  padding-bottom: 11px;
  padding-bottom: 0.58333rem;
  padding-left: 1.27778rem;
  padding-right: 1.27778rem;
}

.form-actions {
  text-align: right;
}

.formfield {
  margin-bottom: 12px;
  margin-bottom: 0.63889rem;
}
.formfield:after {
  content: "";
  display: table;
  clear: both;
}

.form-help {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  color: #6f6f6f;
}
.form-help a:link, .form-help a:visited {
  color: #338f8f;
}
.form-help a:focus, .form-help a:hover, .form-help a:active {
  color: #94001a;
}

[type="text"], [type="email"], [type="url"],
[type="password"], [type="datetime"], [type="date"], [type="time"], [type="number"], [multiple], textarea {
  margin: 0;
  padding: 0;
  border: 0;
}

[type="text"], [type="email"], [type="url"],
[type="password"], [type="datetime"], [type="date"], [type="time"], [type="number"], [multiple], textarea, select {
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-size: 1rem;
  line-height: 23px;
  line-height: 1.27778rem;
}

[type="text"], [type="email"], [type="url"],
[type="password"], [type="datetime"], [type="date"], [type="time"], [type="number"], [multiple], textarea {
  border-width: 1px;
  border-width: 0.05556rem;
  border-style: solid;
  padding: 5px;
  padding: 0.26389rem;
  font-size: 23px;
  font-size: 1.27778rem;
  line-height: 35px;
  line-height: 1.91667rem;
  -webkit-box-shadow: rgba(76, 76, 76, 0.5) 0 0 3px inset;
  -moz-box-shadow: rgba(76, 76, 76, 0.5) 0 0 3px inset;
  box-shadow: rgba(76, 76, 76, 0.5) 0 0 3px inset;
  display: block;
  width: 100%;
  color: #6f6f6f;
  background: rgba(229, 229, 229, 0.25);
  border-color: #b2b2b2;
}

[type="text"]:focus, [type="email"]:focus, [type="url"]:focus,
[type="password"]:focus, [type="datetime"]:focus, [type="date"]:focus, [type="time"]:focus, [type="number"]:focus, [multiple]:focus, textarea:focus {
  border-color: #66abab;
  outline: 0;
}

[type="text"]:focus:invalid, [type="email"]:focus:invalid, [type="url"]:focus:invalid,
[type="password"]:focus:invalid, [type="datetime"]:focus:invalid, [type="date"]:focus:invalid, [type="time"]:focus:invalid, [type="number"]:focus:invalid, [multiple]:focus:invalid, textarea:focus:invalid {
  border-color: #ee667e;
}

[type="text"], [type="email"], [type="url"],
[type="password"], [type="datetime"], [type="date"], [type="time"], [type="number"] {
  height: 1.91667rem;
}

[multiple], textarea {
  height: 8.30556rem;
  resize: vertical;
}

[type="file"] {
  display: block;
}

select {
  display: block;
  min-width: 50%;
}

[multiple] {
  font-size: 18px;
  font-size: 1rem;
  line-height: 23px;
  line-height: 1.27778rem;
}

[type="checkbox"] {
  vertical-align: middle;
}

[type="number"] {
  padding-top: 0;
}

.form-type, .radio-type, .checkbox-type {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  cursor: pointer;
}

.form-type {
  font-weight: bold;
}

.formfield.optional .form-type:after {
  content: " [optional]";
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  color: #999999;
  font-weight: normal;
}

.create-profile-form, .add-story-form {
  border-width: 2px;
  border-width: 0.11111rem;
  border-style: solid;
  padding: 21px;
  padding: 1.16667rem;
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
  clear: both;
  background: rgba(255, 255, 255, 0.5);
  border-color: #e5e5e5;
}

[role="banner"], [role="contentinfo"] {
  padding: 0.63889rem 1em;
}
[role="banner"]:after, [role="contentinfo"]:after {
  content: "";
  display: table;
  clear: both;
}

[role="banner"], [role="contentinfo"] {
  background: rgba(235, 235, 235, 0.95);
  border-color: #b2b2b2;
}

[role="banner"] {
  border-bottom-width: 1px;
  border-bottom-width: 0.05556rem;
  border-bottom-style: solid;
  padding-bottom: 11px;
  padding-bottom: 0.58333rem;
}
[role="banner"] .org:link, [role="banner"] .org:visited {
  font-weight: bold;
  color: #4c4c4c;
}
[role="banner"] .org:focus, [role="banner"] .org:hover, [role="banner"] .org:active {
  color: #94001a;
}

.user-nav {
  text-align: right;
}
.user-nav .fb-login:before {
  padding-right: 0.31944rem;
}
.user-nav .user-name, .user-nav .logout-form {
  display: inline-block;
}
.user-nav [name="logout"] {
  padding: 0 0.31944rem;
}
.user-nav [name="logout"]:focus, .user-nav [name="logout"]:hover, .user-nav [name="logout"]:active {
  color: #94001a;
}

[id="create-profile-toggle"]:checked ~ .create-profile-form, [id="story-form-toggle"]:checked ~ .add-story-form {
  display: none;
}

.tooltip {
  position: absolute;
  padding: 0.31944rem 0.63889rem;
  color: #dbdbdb;
  background: #4c4c4c;
  border: 1px solid #dbdbdb;
  white-space: nowrap;
  display: none;
}
[data-tooltip].tooltip:after {
  content: attr(data-tooltip);
}

.tooltip {
  bottom: 100%;
  margin-bottom: 0.31944rem;
}

.tooltip {
  right: 0;
}
.tooltip:before {
  content: " ";
  position: absolute;
  height: 0;
  width: 0;
  border: solid transparent;
  pointer-events: none;
  top: 100%;
  border-top-color: #4c4c4c;
  border-width: 0.31944rem;
  right: 0.31944rem;
}

.hidden .status-icon, .private .status-icon, .quoted .status-icon, .sample-icon:link, .sample-icon:visited, .story-status, .delete-story, .top-link .icon-up {
  position: relative;
}
.no-touch .hidden .status-icon:hover .tooltip, .hidden .no-touch .status-icon:hover .tooltip, .no-touch .private .status-icon:hover .tooltip, .private .no-touch .status-icon:hover .tooltip, .no-touch .quoted .status-icon:hover .tooltip, .quoted .no-touch .status-icon:hover .tooltip, .no-touch .sample-icon:hover:link .tooltip, .no-touch .sample-icon:hover:visited .tooltip, .no-touch .story-status:hover .tooltip, .no-touch .delete-story:hover .tooltip, .no-touch .top-link .icon-up:hover .tooltip, .top-link .no-touch .icon-up:hover .tooltip {
  display: block;
}

@-moz-keyframes announce-in {
  0% {
    opacity: 0;
    -moz-transform: translateY(-12.77778rem);
    transform: translateY(-12.77778rem);
  }

  100% {
    opacity: 0.95;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes announce-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-12.77778rem);
    transform: translateY(-12.77778rem);
  }

  100% {
    opacity: 0.95;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes announce-in {
  0% {
    opacity: 0;
    -o-transform: translateY(-12.77778rem);
    transform: translateY(-12.77778rem);
  }

  100% {
    opacity: 0.95;
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes announce-in {
  0% {
    opacity: 0;
    transform: translateY(-12.77778rem);
  }

  100% {
    opacity: 0.95;
    transform: translateY(0);
  }
}

@-moz-keyframes announce-out {
  0% {
    opacity: 0.95;
    -moz-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -moz-transform: translateX(38.33333rem);
    transform: translateX(38.33333rem);
  }
}

@-webkit-keyframes announce-out {
  0% {
    opacity: 0.95;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(38.33333rem);
    transform: translateX(38.33333rem);
  }
}

@-o-keyframes announce-out {
  0% {
    opacity: 0.95;
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -o-transform: translateX(38.33333rem);
    transform: translateX(38.33333rem);
  }
}

@keyframes announce-out {
  0% {
    opacity: 0.95;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(38.33333rem);
  }
}

#messages {
  position: fixed;
  top: 0.63889rem;
  right: 0.63889rem;
  width: 80%;
  max-width: 20em;
  z-index: 999;
}
#messages .close {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  position: absolute;
  display: inline-block;
  right: .125rem;
  top: 0;
  width: 1em;
}

.announce, .message {
  font-size: 23px;
  font-size: 1.27778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  -webkit-animation: announce-in 1s ease backwards;
  -moz-animation: announce-in 1s ease backwards;
  -o-animation: announce-in 1s ease backwards;
  animation: announce-in 1s ease backwards;
  border-width: 1px;
  border-width: 0.05556rem;
  border-style: solid;
  padding: 16px;
  padding: 0.90278rem;
  overflow: hidden;
  opacity: 0.95;
  -webkit-box-shadow: #4c4c4c 0 0 0.31944rem;
  -moz-box-shadow: #4c4c4c 0 0 0.31944rem;
  box-shadow: #4c4c4c 0 0 0.31944rem;
  position: relative;
}
.announce:before, .message:before {
  position: absolute;
  top: 0.95833rem;
  left: 0.95833rem;
}
.announce .body, .message .body {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  margin: 0 0.31944rem 0 1.91667rem;
}
.announce .body a:link, .message .body a:link, .announce .body a:visited, .message .body a:visited {
  color: #007474;
  text-decoration: underline;
}
.announce .body a:focus, .message .body a:focus, .announce .body a:hover, .message .body a:hover, .announce .body a:active, .message .body a:active {
  color: #e9ccd1;
}

.closed.announce, .closed.message, .message.closed-timeout {
  -webkit-animation: announce-out 800ms ease forwards;
  -moz-animation: announce-out 800ms ease forwards;
  -o-animation: announce-out 800ms ease forwards;
  animation: announce-out 800ms ease forwards;
}

.announce, .message {
  color: #e5e5e5;
  background: #009191;
}
.announce .close:link, .message .close:link, .announce .close:visited, .message .close:visited {
  color: rgba(229, 229, 229, 0.75);
}
.announce .close:focus, .message .close:focus, .announce .close:hover, .message .close:hover, .announce .close:active, .message .close:active {
  color: #e5e5e5;
}

.message.success {
  color: #4c4c4c;
  background: #3ed000;
}
.message.success .close:link, .message.success .close:visited {
  color: rgba(76, 76, 76, 0.75);
}
.message.success .close:focus, .message.success .close:hover, .message.success .close:active {
  color: #4c4c4c;
}

.message.warning {
  color: #4c4c4c;
  background: #f2ac00;
}
.message.warning .close:link, .message.warning .close:visited {
  color: rgba(76, 76, 76, 0.75);
}
.message.warning .close:focus, .message.warning .close:hover, .message.warning .close:active {
  color: #4c4c4c;
}

.message.error {
  color: #e5e5e5;
  background: #e30028;
}
.message.error .close:link, .message.error .close:visited {
  color: rgba(229, 229, 229, 0.75);
}
.message.error .close:focus, .message.error .close:hover, .message.error .close:active {
  color: #e5e5e5;
}

.logo {
  position: relative;
  height: 0;
  padding-top: 36.95833%;
  width: 100%;
  background: url('../images/wordmark.svg?c2ba4f4cd8028a60a7d8ab360e81e63e7036d0c5') no-repeat scroll top;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}
.logo > * {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin: 0;
  padding: 0;
}

.tagline {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #007474;
  font-weight: bold;
}
@media (min-width: 30em) {
  .tagline {
    text-align: right;
  }
}

.logo {
  text-indent: -9999px;
  overflow: hidden;
}

.tagline {
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
}

.js .message.js-warning {
  display: none;
}

@-moz-keyframes loadingStart {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes loadingStart {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes loadingStart {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes loadingStart {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes loading {
  0% {
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
    color: rgba(0, 116, 116, 0.5);
  }

  50% {
    -moz-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    color: rgba(0, 116, 116, 0.75);
  }

  100% {
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
    color: rgba(0, 116, 116, 0.5);
  }
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    color: rgba(0, 116, 116, 0.5);
  }

  50% {
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    color: rgba(0, 116, 116, 0.75);
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    color: rgba(0, 116, 116, 0.5);
  }
}

@-o-keyframes loading {
  0% {
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    color: rgba(0, 116, 116, 0.5);
  }

  50% {
    -o-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    color: rgba(0, 116, 116, 0.75);
  }

  100% {
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    color: rgba(0, 116, 116, 0.5);
  }
}

@keyframes loading {
  0% {
    transform: scale(1, 1);
    color: rgba(0, 116, 116, 0.5);
  }

  50% {
    transform: scale(1.5, 1.5);
    color: rgba(0, 116, 116, 0.75);
  }

  100% {
    transform: scale(1, 1);
    color: rgba(0, 116, 116, 0.5);
  }
}

.loading {
  position: relative;
}
.loading .loading-overlay {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-animation: loadingStart 3s 300ms linear 1 both;
  -moz-animation: loadingStart 3s 300ms linear 1 both;
  -o-animation: loadingStart 3s 300ms linear 1 both;
  animation: loadingStart 3s 300ms linear 1 both;
  text-align: center;
  z-index: 990;
}

.loading-spinner {
  margin: -1.91667rem auto 0;
  color: #191919;
  text-align: center;
}

.loading-text {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  margin-top: -35px;
  margin-top: -1.91667rem;
  text-shadow: white 0 0 1em, white 0 0 0.5em, white 0 0 0.25em;
  position: relative;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 992;
}
.loading-text:after {
  content: "...";
}

.loading-icon {
  font-size: 43px;
  font-size: 2.38889rem;
  line-height: 58px;
  line-height: 3.19444rem;
  text-shadow: rgba(255, 255, 255, 0.75) 0 0 0.5em;
  -webkit-animation: loading 3s linear infinite;
  -moz-animation: loading 3s linear infinite;
  -o-animation: loading 3s linear infinite;
  animation: loading 3s linear infinite;
  display: block;
  vertical-align: middle;
}
.loading-icon:before {
  vertical-align: middle;
}

.brand {
  width: 40%;
  float: left;
}

.user-nav {
  width: 60%;
  float: left;
}

[role="main"] {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  background-origin: content-box;
  -webkit-background-clip: content;
  -moz-background-clip: content;
  background-clip: content-box;
  min-height: -webkit-calc(100% - 5.23889rem);
  min-height: -moz-calc(100% - 5.23889rem);
  min-height: -o-calc(100% - 5.23889rem);
  min-height: calc(100% - 5.23889rem);
  padding: 1.27778rem 1em;
}
[role="main"]:after {
  content: "";
  display: table;
  clear: both;
}

[role="contentinfo"] {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  border-top-width: 1px;
  border-top-width: 0.05556rem;
  border-top-style: solid;
  padding-top: 11px;
  padding-top: 0.58333rem;
  clear: both;
  color: #6f6f6f;
}
[role="contentinfo"] strong {
  font-weight: bold;
}
[role="contentinfo"] a {
  display: inline-block;
}
[role="contentinfo"] a:before {
  content: " | ";
  color: #6f6f6f;
}

.login {
  text-align: center;
}
.login .fb-login {
  margin-top: 23px;
  margin-top: 1.27778rem;
}
.login .fb-login:before {
  padding-right: .4em;
}

.login-title {
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-size: 1.77778rem;
  line-height: 46px;
  line-height: 2.55556rem;
}

.welcome-title {
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
}

.create-profile-form {
  position: relative;
}
.create-profile-form:before {
  content: " ";
  position: absolute;
  height: 0;
  width: 0;
  border: solid transparent;
  pointer-events: none;
  bottom: 100%;
  border-bottom-color: #e5e5e5;
  border-width: 0.95833rem;
  left: 2.55556rem;
}

.toggle-profile, .skip-profile {
  font-size: 18px;
  font-size: 1rem;
  line-height: 23px;
  line-height: 1.27778rem;
  border-width: 1px;
  border-width: 0.05556rem;
  border-style: solid;
  padding: 22px;
  padding: 1.22222rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  border-radius: 0.25rem;
  background-image: -webkit-linear-gradient(top, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: -moz-linear-gradient(top, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: -o-linear-gradient(top, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: linear-gradient(to bottom, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  -webkit-box-shadow: white 0 0 0.31944rem inset;
  -moz-box-shadow: white 0 0 0.31944rem inset;
  box-shadow: white 0 0 0.31944rem inset;
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
  display: block;
  text-align: center;
  cursor: pointer;
}
.toggle-profile strong, .skip-profile strong {
  font-size: 32px;
  font-size: 1.77778rem;
  line-height: 46px;
  line-height: 2.55556rem;
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}
.toggle-profile strong:after, .skip-profile strong:after {
  content: " »";
}

[id="create-profile-toggle"]:not(:checked) ~ .toggle-profile {
  background-image: -webkit-linear-gradient(bottom, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: -moz-linear-gradient(bottom, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: -o-linear-gradient(bottom, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: linear-gradient(to top, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  -webkit-box-shadow: #4c4c4c 0 0 0.63889rem inset;
  -moz-box-shadow: #4c4c4c 0 0 0.63889rem inset;
  box-shadow: #4c4c4c 0 0 0.63889rem inset;
}

[id="create-profile-toggle"] {
  position: absolute;
  left: -9999px;
  opacity: .01;
}

.teacher-detail {
  position: relative;
}
.teacher-detail .fb-login {
  display: block;
}
.teacher-detail .fb-login .icon-addstory:before {
  content: "\e007";
}

.teacher-info {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  border-width: 2px;
  border-width: 0.11111rem;
  border-style: solid;
  padding: 10px;
  padding: 0.52778rem;
  margin-bottom: 46px;
  margin-bottom: 2.55556rem;
  color: #6f6f6f;
  border-color: #e5e5e5;
  background: rgba(229, 229, 229, 0.25);
}

.teacher-data {
  margin-bottom: 12px;
  margin-bottom: 0.63889rem;
}
.teacher-data .data-item {
  display: inline-block;
  margin-right: 1.27778rem;
}

.submitter_name-field {
  width: 48.71795%;
  float: left;
  margin-right: 2.5641%;
}

.nominal_date-field {
  width: 48.71795%;
  float: right;
}

.private-field {
  padding-top: 6px;
  padding-top: 0.31944rem;
  float: left;
}

.icon-addstory {
  font-size: 43px;
  font-size: 2.38889rem;
  line-height: 58px;
  line-height: 3.19444rem;
  margin-right: 0.63889rem;
}

.icon-addstory, .text-addstory {
  display: inline-block;
  vertical-align: middle;
}

.teacher-detail .fb-login, .toggle-addstory, .cta .fb-login {
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 23px;
  font-size: 1.27778rem;
  line-height: 35px;
  line-height: 1.91667rem;
  color: #007474;
  background-color: rgba(204, 227, 227, 0.5);
  text-align: center;
  cursor: pointer;
}
.teacher-detail .fb-login:focus, .toggle-addstory:focus, .cta .fb-login:focus, .teacher-detail .fb-login:hover, .toggle-addstory:hover, .cta .fb-login:hover, .teacher-detail .fb-login:active, .toggle-addstory:active, .cta .fb-login:active {
  color: #94001a;
}

.toggle-addstory {
  display: none;
}

[id="story-form-toggle"] {
  position: absolute;
  left: -9999px;
  opacity: .01;
}
[id="story-form-toggle"]:checked ~ .toggle-addstory {
  display: block;
}

.no-stories-message {
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding-top: 23px;
  padding-top: 1.27778rem;
  padding-bottom: 23px;
  padding-bottom: 1.27778rem;
  font-size: 23px;
  font-size: 1.27778rem;
  line-height: 35px;
  line-height: 1.91667rem;
  color: #b2b2b2;
  text-align: center;
}

.share-profile-link {
  display: block;
  color: #66abab;
}

.story {
  margin-top: 46px;
  margin-top: 2.55556rem;
  margin-bottom: 46px;
  margin-bottom: 2.55556rem;
  position: relative;
}
.story:after {
  content: "";
  display: table;
  clear: both;
}

.hidden .status-icon, .private .status-icon, .quoted .status-icon, .sample-icon:link, .sample-icon:visited {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 29px;
  line-height: 1.59722rem;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  position: absolute;
  top: -0.63889rem;
  right: -0.47917rem;
  padding: 0 .5em;
  z-index: 900;
}

.hidden .status-icon {
  background: #f7cd66;
  color: #191919;
}
.private .status-icon {
  background: #b2b2b2;
  color: #191919;
}
.quoted .status-icon {
  background: #7bd3d3;
  color: #191919;
}

.story-body {
  margin-bottom: 12px;
  margin-bottom: 0.63889rem;
  border-width: 2px;
  border-width: 0.11111rem;
  border-style: solid;
  padding: 21px;
  padding: 1.16667rem;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  position: relative;
  background: rgba(255, 255, 255, 0.75);
  border-color: #007474;
}
.story-body:before {
  content: " ";
  position: absolute;
  height: 0;
  width: 0;
  border: solid transparent;
  pointer-events: none;
  top: 100%;
  border-top-color: #007474;
  border-width: 0.63889rem;
  left: 0.31944rem;
}
.hidden .story-body {
  border-color: #f7cd66;
}
.hidden .story-body:before {
  border-top-color: #f7cd66;
}
.private .story-body {
  border-color: #b2b2b2;
}
.private .story-body:before {
  border-top-color: #b2b2b2;
}
.quoted .story-body {
  border-color: #7bd3d3;
}
.quoted .story-body:before {
  border-top-color: #7bd3d3;
}

.story-content {
  overflow: hidden;
}
.story-content ul, .story-content ol {
  padding-left: 1.27778rem;
}
.story-content :last-child {
  margin-bottom: 0px;
  margin-bottom: 0rem;
}

.story-info {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  float: left;
  width: 50%;
}
.story-info:last-child {
  float: none;
  width: auto;
}

.author-name, .pubdate {
  display: inline-block;
}

.author-name {
  font-weight: bold;
}

.pubdate {
  color: #999999;
}

.story-actions {
  text-align: right;
}

.story-status, .delete-story {
  padding: 0 0.31944rem;
  color: #999999;
}

.story-status:focus, .story-status:hover, .story-status:active {
  color: #007474;
}
.story-status.hide:before {
  content: "\e00d";
}
.story-status.hide:focus, .story-status.hide:hover, .story-status.hide:active {
  color: #f2ac00;
}

.delete-story:focus, .delete-story:hover, .delete-story:active {
  color: #e30028;
}

.oembed {
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
  text-align: center;
}
.oembed.video-embed {
  position: relative;
  height: 0;
  padding-top: 56.25%;
  width: 100%;
}
.oembed.video-embed > * {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin: 0;
  padding: 0;
}
.oembed.video-embed, .oembed img {
  border: 1px solid #6f6f6f;
}
.oembed iframe, .oembed img {
  vertical-align: top;
}
.oembed img {
  max-width: 100%;
}
.oembed a {
  display: block;
}
.oembed.twitter iframe {
  margin: 0 auto !important;
}

.cta-title {
  margin-top: 23px;
  margin-top: 1.27778rem;
  color: #94001a;
}
.cta-title b {
  display: block;
  font-weight: bold;
}

.sample-icon:link, .sample-icon:visited {
  background: #007474;
  color: white;
}
.sample-icon:link:before, .sample-icon:visited:before {
  padding-right: .4em;
}
.sample-icon:focus, .sample-icon:hover, .sample-icon:active {
  background: #94001a;
  color: white;
}

.cta .fb-login {
  margin-bottom: 46px;
  margin-bottom: 2.55556rem;
  display: block;
}
.cta .fb-login:before {
  font-size: 43px;
  font-size: 2.38889rem;
  line-height: 58px;
  line-height: 3.19444rem;
  margin-right: 0.63889rem;
  vertical-align: middle;
}

.landing-footer {
  margin-top: 46px;
  margin-top: 2.55556rem;
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  position: relative;
  color: #6f6f6f;
  z-index: 20;
}
.landing-footer .license {
  text-transform: uppercase;
}
.landing-footer .tax-exempt {
  color: #999999;
}
.landing-footer strong {
  font-weight: bold;
}
@media (min-width: 30em) {
  .landing-footer {
    margin-top: 115px;
    margin-top: 6.38889rem;
    margin-bottom: 0px;
    margin-bottom: 0rem;
    padding-left: 50%;
  }
}

.landing-header {
  margin-bottom: 46px;
  margin-bottom: 2.55556rem;
}
@media (min-width: 30em) {
  .landing-header {
    margin-top: -22%;
  }
}

.top-link .icon-up {
  display: block;
  position: fixed;
  bottom: 0.63889rem;
  right: 0.63889rem;
  opacity: .25;
  background-color: #e5e5e5;
}
.top-link .icon-up:before {
  vertical-align: middle;
}
.top-link .icon-up:focus, .top-link .icon-up:hover, .top-link .icon-up:active {
  opacity: 1;
}
