.story-body-group [id*="body-field"], .story-body-group [id*="video-field"] {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridge_round-webfont.woff?1342738619') format("woff"), url('../fonts/cambridge_round-webfont.ttf?1358363476') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridge_round_bold-webfont.woff?1342738619') format("woff"), url('../fonts/cambridge_round_bold-webfont.ttf?1358363476') format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRound";
  src: url('../fonts/cambridge_round_it-webfont.woff?1342738619') format("woff"), url('../fonts/cambridge_round_it-webfont.ttf?1358363477') format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "CambridgeRoundCond";
  src: url('../fonts/cambridge_round_cond-webfont.woff?1351286140') format("woff"), url('../fonts/cambridge_round_cond-webfont.ttf?1358363477') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRoundCond";
  src: url('../fonts/cambridge_round_bold_cond-webfont.woff?1351286140') format("woff"), url('../fonts/cambridge_round_bold_cond-webfont.ttf?1358363476') format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CambridgeRoundCond";
  src: url('../fonts/cambridge_round_cond_it-webfont.woff?1351286140') format("woff"), url('../fonts/cambridge_round_cond_it-webfont.ttf?1358363477') format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SquareSerif";
  src: url('../fonts/SquareSerif-Book-webfont.woff?1342738619') format("woff"), url('../fonts/SquareSerif-Book-webfont.ttf?1358363476') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SquareSerif";
  src: url('../fonts/SquareSerif-Bold-webfont.woff?1342738619') format("woff"), url('../fonts/SquareSerif-Bold-webfont.ttf?1358363476') format("truetype");
  font-weight: bold;
  font-style: normal;
}

html {
  font-size: 112.5%;
  line-height: 1.27778em;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "CambridgeRound", "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #4c4c4c;
  background: rgba(229, 229, 229, 0.25);
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
}

a:hover, a:active {
  outline: none;
}
a:link, a:visited {
  color: #007474;
  text-decoration: none;
}
a:focus, a:hover, a:active {
  color: #94001a;
}

.amp {
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-style: italic;
}

.alt-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.teacher-name {
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 86px;
  font-size: 4.77778rem;
  line-height: 92px;
  line-height: 5.11111rem;
}

@font-face {
  font-family: "knet";
  src: url('../fonts/knet.woff?1370583578') format("woff"), url('../fonts/knet.ttf?1370583578') format("truetype");
  font-weight: normal;
  font-style: normal;
}

.user-nav [name="logout"]:before, #messages .close:before, .toggle-addstory-main:before, .toggle-addstory-body:before, .story-status:before, .delete-story:before, .user-nav .fb-login:before, .announce:before, .message:before, .story.hidden:before, .story.private:before, .story-private-notice:before, [data-icon]:before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-family: "knet";
  font-style: normal;
  speak: none;
}

.user-nav [name="logout"], #messages .close, .toggle-addstory-main, .toggle-addstory-body, .story-status, .delete-story {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  min-width: 1em;
  text-indent: -9999px;
}
.user-nav [name="logout"]:before, #messages .close:before, .toggle-addstory-main:before, .toggle-addstory-body:before, .story-status:before, .delete-story:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-indent: 0;
  text-align: center;
}

[data-icon]:before {
  content: attr(data-icon);
}

.delete-story:before {
  content: "\e004";
}

.toggle-addstory-main:before, .toggle-addstory-body:before {
  content: "\e005";
}

#messages .close:before {
  content: "\e006";
}

.user-nav .fb-login:before {
  content: "\e007";
}

.announce:before, .message:before {
  content: "\e008";
}

.message.success:before {
  content: "\e009";
}

.message.warning:before {
  content: "\e00a";
}

.message.error:before {
  content: "\e00b";
}

.user-nav [name="logout"]:before {
  content: "\e00c";
}

.story.private:before, .story-private-notice:before {
  content: "\e001";
}

.story-status:before {
  content: "\e002";
}

.story.hidden:before {
  content: "\e00d";
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  background: none;
  color: inherit;
  cursor: pointer;
}

.primary-action, .story-body-group .tab-options .tab-type .radio-value + .radio-type, .story-body-group .tab-options .tab-type {
  border-width: 1px;
  border-width: 0.05556rem;
  border-style: solid;
  padding: 2px;
  padding: 0.10417rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  border-radius: 0.25rem;
  background-image: -webkit-linear-gradient(top, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: -moz-linear-gradient(top, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: -o-linear-gradient(top, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: linear-gradient(to bottom, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  display: inline-block;
  padding-left: 0.63889rem;
  padding-right: 0.63889rem;
  cursor: pointer;
}

.primary-action:hover, .story-body-group .tab-options .tab-type .radio-value + .radio-type:hover, .story-body-group .tab-options .tab-type:hover, .primary-action:focus, .story-body-group .tab-options .tab-type .radio-value + .radio-type:focus, .story-body-group .tab-options .tab-type:focus {
  -webkit-box-shadow: rgba(102, 189, 189, 0.25) 0 0 0.31944rem;
  -moz-box-shadow: rgba(102, 189, 189, 0.25) 0 0 0.31944rem;
  box-shadow: rgba(102, 189, 189, 0.25) 0 0 0.31944rem;
}

.primary-action:active, .story-body-group .tab-options .tab-type .radio-value + .radio-type:active, .story-body-group .tab-options .tab-type:active, .story-body-group .tab-options .tab-type .radio-value:checked + .radio-type, .story-body-group [id*="body-field"]:checked ~ .tab-options [for*="body-field"], .story-body-group [id*="video-field"]:checked ~ .tab-options [for*="video-field"] {
  -webkit-box-shadow: rgba(15, 15, 15, 0.5) 0 0 0.25rem inset;
  -moz-box-shadow: rgba(15, 15, 15, 0.5) 0 0 0.25rem inset;
  box-shadow: rgba(15, 15, 15, 0.5) 0 0 0.25rem inset;
  background-image: -webkit-linear-gradient(bottom, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: -moz-linear-gradient(bottom, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: -o-linear-gradient(bottom, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
  background-image: linear-gradient(to top, rgba(76, 76, 76, 0) 40%, rgba(229, 229, 229, 0.25));
}

.primary-action {
  border-width: 1px;
  border-width: 0.05556rem;
  border-style: solid;
  padding: 5px;
  padding: 0.26389rem;
  padding-left: 1.27778rem;
  padding-right: 1.27778rem;
  background-color: #8be266;
}
.primary-action:after {
  content: " »";
}

.form-actions {
  text-align: right;
}

.formfield {
  margin-bottom: 12px;
  margin-bottom: 0.63889rem;
}
.formfield:after {
  content: "";
  display: table;
  clear: both;
}

.form-help {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  color: #6f6f6f;
}

[type="text"], [type="email"], [type="password"], [type="url"], textarea {
  margin: 0;
  padding: 0;
  border: 0;
}

[type="text"], [type="email"], [type="password"], [type="url"], textarea {
  border-width: 1px;
  border-width: 0.05556rem;
  border-style: solid;
  padding: 5px;
  padding: 0.26389rem;
  font-size: 12px;
  font-size: 0.66667rem;
  line-height: 23px;
  line-height: 1.27778rem;
  display: block;
  width: 100%;
  border-color: #b2b2b2;
}

[type="text"], [type="email"], [type="password"], [type="url"] {
  height: 1.91667rem;
}

textarea {
  min-height: 4.47222rem;
  resize: vertical;
}

label {
  display: inline-block;
  cursor: pointer;
}

.story-body-group .tab-options .tab-type .radio-value + .radio-type, .story-body-group .tab-options .tab-type {
  border-radius: 0;
}

.story-body-group .tab-options .tab-type .radio-value {
  display: none;
}

.story-body-group .tab-options:after {
  content: "";
  display: table;
  clear: both;
}
.story-body-group .tab-options .tab-type {
  float: left;
  border-right-width: 0;
}
.story-body-group .tab-options .tab-type:first-child {
  -moz-border-radius-topleft: 0.25rem;
  -webkit-border-top-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  -moz-border-radius-bottomleft: 0.25rem;
  -webkit-border-bottom-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.story-body-group .tab-options .tab-type:last-child {
  -moz-border-radius-topright: 0.25rem;
  -webkit-border-top-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  -moz-border-radius-bottomright: 0.25rem;
  -webkit-border-bottom-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-right-width: 1px;
}

[role="banner"] {
  border-bottom-width: 1px;
  border-bottom-width: 0.05556rem;
  border-bottom-style: solid;
  padding-bottom: 11px;
  padding-bottom: 0.58333rem;
  padding-top: 12px;
  padding-top: 0.63889rem;
  background: rgba(255, 255, 255, 0.95) -webkit-linear-gradient(bottom, rgba(229, 229, 229, 0.75), rgba(229, 229, 229, 0));
  background: rgba(255, 255, 255, 0.95) -moz-linear-gradient(bottom, rgba(229, 229, 229, 0.75), rgba(229, 229, 229, 0));
  background: rgba(255, 255, 255, 0.95) -o-linear-gradient(bottom, rgba(229, 229, 229, 0.75), rgba(229, 229, 229, 0));
  background: rgba(255, 255, 255, 0.95) linear-gradient(to top, rgba(229, 229, 229, 0.75), rgba(229, 229, 229, 0));
  padding-left: 1em;
  padding-right: 1em;
}
[role="banner"]:after {
  content: "";
  display: table;
  clear: both;
}
[role="banner"] .org:link, [role="banner"] .org:visited {
  font-weight: bold;
  color: #4c4c4c;
}
[role="banner"] .org:focus, [role="banner"] .org:hover, [role="banner"] .org:active {
  color: #94001a;
}

.brand {
  width: 40%;
  float: left;
}

.user-nav {
  width: 60%;
  float: left;
  text-align: right;
}
.user-nav .fb-login:before {
  padding-right: 0.31944rem;
}
.user-nav .user-name, .user-nav .logout-form {
  display: inline-block;
}
.user-nav [name="logout"] {
  padding: 0 0.31944rem;
}
.user-nav [name="logout"]:focus, .user-nav [name="logout"]:hover, .user-nav [name="logout"]:active {
  color: #94001a;
}

[role="main"] {
  max-width: 49em;
  margin-left: auto;
  margin-right: auto;
  padding: 1.27778rem 1em;
}
[role="main"]:after {
  content: "";
  display: table;
  clear: both;
}

[id="story-form-toggle"]:checked ~ .add-story-form {
  display: none;
}

@-moz-keyframes announce-in {
  0% {
    opacity: 0;
    -moz-transform: translateY(-12.77778rem);
    transform: translateY(-12.77778rem);
  }

  100% {
    opacity: 0.95;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes announce-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-12.77778rem);
    transform: translateY(-12.77778rem);
  }

  100% {
    opacity: 0.95;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes announce-in {
  0% {
    opacity: 0;
    -o-transform: translateY(-12.77778rem);
    transform: translateY(-12.77778rem);
  }

  100% {
    opacity: 0.95;
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes announce-in {
  0% {
    opacity: 0;
    transform: translateY(-12.77778rem);
  }

  100% {
    opacity: 0.95;
    transform: translateY(0);
  }
}

@-moz-keyframes announce-out {
  0% {
    opacity: 0.95;
    -moz-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -moz-transform: translateX(38.33333rem);
    transform: translateX(38.33333rem);
  }
}

@-webkit-keyframes announce-out {
  0% {
    opacity: 0.95;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(38.33333rem);
    transform: translateX(38.33333rem);
  }
}

@-o-keyframes announce-out {
  0% {
    opacity: 0.95;
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -o-transform: translateX(38.33333rem);
    transform: translateX(38.33333rem);
  }
}

@keyframes announce-out {
  0% {
    opacity: 0.95;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(38.33333rem);
  }
}

#messages {
  position: fixed;
  top: 0.63889rem;
  right: 0.63889rem;
  width: 80%;
  max-width: 20em;
  z-index: 999;
}
#messages .close {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  position: absolute;
  display: inline-block;
  right: .125rem;
  top: 0;
  width: 1em;
}

.announce, .message {
  font-size: 23px;
  font-size: 1.27778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  -webkit-animation: announce-in 1s ease backwards;
  -moz-animation: announce-in 1s ease backwards;
  -o-animation: announce-in 1s ease backwards;
  animation: announce-in 1s ease backwards;
  border-width: 1px;
  border-width: 0.05556rem;
  border-style: solid;
  padding: 16px;
  padding: 0.90278rem;
  overflow: hidden;
  opacity: 0.95;
  -webkit-box-shadow: #4c4c4c 0 0 0.31944rem;
  -moz-box-shadow: #4c4c4c 0 0 0.31944rem;
  box-shadow: #4c4c4c 0 0 0.31944rem;
  position: relative;
}
.announce:before, .message:before {
  position: absolute;
  top: 0.95833rem;
  left: 0.95833rem;
}
.announce .body, .message .body {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  margin: 0 0.31944rem 0 1.91667rem;
}
.announce .body a:link, .message .body a:link, .announce .body a:visited, .message .body a:visited {
  color: #007474;
  text-decoration: underline;
}
.announce .body a:focus, .message .body a:focus, .announce .body a:hover, .message .body a:hover, .announce .body a:active, .message .body a:active {
  color: #e9ccd1;
}

.closed.announce, .closed.message, .message.closed-timeout {
  -webkit-animation: announce-out 800ms ease forwards;
  -moz-animation: announce-out 800ms ease forwards;
  -o-animation: announce-out 800ms ease forwards;
  animation: announce-out 800ms ease forwards;
}

.announce, .message {
  color: #e5e5e5;
  background: #009191;
}
.announce .close:link, .message .close:link, .announce .close:visited, .message .close:visited {
  color: rgba(229, 229, 229, 0.75);
}
.announce .close:focus, .message .close:focus, .announce .close:hover, .message .close:hover, .announce .close:active, .message .close:active {
  color: #e5e5e5;
}

.message.success {
  color: #4c4c4c;
  background: #3ed000;
}
.message.success .close:link, .message.success .close:visited {
  color: rgba(76, 76, 76, 0.75);
}
.message.success .close:focus, .message.success .close:hover, .message.success .close:active {
  color: #4c4c4c;
}

.message.warning {
  color: #4c4c4c;
  background: #f2ac00;
}
.message.warning .close:link, .message.warning .close:visited {
  color: rgba(76, 76, 76, 0.75);
}
.message.warning .close:focus, .message.warning .close:hover, .message.warning .close:active {
  color: #4c4c4c;
}

.message.error {
  color: #e5e5e5;
  background: #e30028;
}
.message.error .close:link, .message.error .close:visited {
  color: rgba(229, 229, 229, 0.75);
}
.message.error .close:focus, .message.error .close:hover, .message.error .close:active {
  color: #e5e5e5;
}

.logo {
  position: relative;
  height: 0;
  padding-top: 36.95833%;
  width: 100%;
  background: url('../images/wordmark.svg?1369776473') no-repeat scroll top;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}
.logo > * {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin: 0;
  padding: 0;
}

.tagline {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #007474;
  font-weight: bold;
}
@media (min-width: 30em) {
  .tagline {
    text-align: right;
  }
}

.logo {
  text-indent: -9999px;
  overflow: hidden;
}

.tagline {
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
}

.js .message.js-warning {
  display: none;
}

.teacher-detail {
  position: relative;
}

.teacher-info {
  border-bottom-width: 1px;
  border-bottom-width: 0.05556rem;
  border-bottom-style: solid;
  padding-bottom: 11px;
  padding-bottom: 0.58333rem;
  border-color: #b2b2b2;
}

.teacher-data {
  color: #999999;
}
.teacher-data .data-item {
  display: inline-block;
  margin-right: 1.27778rem;
}

.toggle-addstory-main {
  margin-top: 12px;
  margin-top: 0.63889rem;
  font-size: 86px;
  font-size: 4.77778rem;
  line-height: 92px;
  line-height: 5.11111rem;
  float: right;
  margin-left: 1.27778rem;
  min-height: 5.11111rem;
  color: #007474;
}
.toggle-addstory-main:focus, .toggle-addstory-main:hover, .toggle-addstory-main:active {
  color: #94001a;
}

.add-story-form {
  padding-top: 12px;
  padding-top: 0.63889rem;
  border-bottom-width: 1px;
  border-bottom-width: 0.05556rem;
  border-bottom-style: solid;
  padding-bottom: 22px;
  padding-bottom: 1.22222rem;
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
  border-color: #999999;
}

.story-body-group [class*="body-field"], .story-body-group [class*="video-field"] {
  display: none;
}
.story-body-group [id*="body-field"]:checked ~ [class*="body-field"], .story-body-group [id*="video-field"]:checked ~ [class*="video-field"] {
  display: block;
}
.story-body-group .tab-options {
  margin-bottom: -23px;
  margin-bottom: -1.27778rem;
  float: right;
}
.story-body-group .formfield {
  clear: both;
}
.story-body-group .form-type {
  padding-top: 3px;
  padding-top: 0.15972rem;
  padding-bottom: 3px;
  padding-bottom: 0.15972rem;
}

[id="story-form-toggle"] {
  position: absolute;
  left: -9999px;
  opacity: .01;
}

.no-stories-message {
  font-family: "SquareSerif", "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding-top: 46px;
  padding-top: 2.55556rem;
  padding-bottom: 46px;
  padding-bottom: 2.55556rem;
  font-size: 32px;
  font-size: 1.77778rem;
  line-height: 46px;
  line-height: 2.55556rem;
  color: #b2b2b2;
  text-align: center;
}

.toggle-addstory-body {
  margin-top: 23px;
  margin-top: 1.27778rem;
  font-size: 135px;
  font-size: 7.5rem;
  line-height: 150px;
  line-height: 8.30556rem;
  min-height: 7.66667rem;
}
.toggle-addstory-body:focus, .toggle-addstory-body:hover, .toggle-addstory-body:active {
  color: #007474;
}

.story.hidden:before, .story.private:before {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 .5em;
}

.story {
  margin-top: 23px;
  margin-top: 1.27778rem;
  margin-bottom: 23px;
  margin-bottom: 1.27778rem;
  width: 48.97959%;
  float: left;
  margin-right: -100%;
  position: relative;
}
.story:after {
  content: "";
  display: table;
  clear: both;
}
.story:nth-child(2n + 1) {
  clear: left;
}
.story:nth-child(2n + 2) {
  margin-left: 51.02041%;
}
.story.hidden:before {
  background: #f2ac00;
  color: #191919;
}
.story.private:before {
  background: #e30028;
  color: white;
}
.story.hidden.private:before {
  content: "\e001";
}

.story-body {
  margin-bottom: 12px;
  margin-bottom: 0.63889rem;
  border-width: 2px;
  border-width: 0.11111rem;
  border-style: solid;
  padding: 21px;
  padding: 1.16667rem;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  position: relative;
  border-color: #007474;
}
.story-body:before {
  content: " ";
  position: absolute;
  height: 0;
  width: 0;
  border: solid transparent;
  pointer-events: none;
  top: 100%;
  border-top-color: #007474;
  border-width: 0.63889rem;
  left: 0.31944rem;
}
.hidden .story-body {
  border-color: #f2ac00;
}
.hidden .story-body:before {
  border-top-color: #f2ac00;
}
.private .story-body {
  border-color: #e30028;
}
.private .story-body:before {
  border-top-color: #e30028;
}

.story-info {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  float: left;
  width: 50%;
}
.story-info:last-child {
  float: none;
  width: auto;
}

.author-name, .pubdate {
  display: inline-block;
}

.author-name {
  font-weight: bold;
}

.pubdate {
  color: #999999;
}

.story-actions {
  text-align: right;
}

.story-status, .delete-story {
  padding: 0 0.31944rem;
  color: #999999;
}

.story-private-notice {
  font-size: 14px;
  font-size: 0.77778rem;
  line-height: 23px;
  line-height: 1.27778rem;
  display: inline-block;
  color: #b2b2b2;
}
.story-private-notice:before {
  padding-right: .4em;
}

.story-status:focus, .story-status:hover, .story-status:active {
  color: #007474;
}
.story-status.hide:before {
  content: "\e00d";
}
.story-status.hide:focus, .story-status.hide:hover, .story-status.hide:active {
  color: #f2ac00;
}

.delete-story:focus, .delete-story:hover, .delete-story:active {
  color: #e30028;
}
