<div class="no-stories-message">
  {{#if my_profile}}
    <p>You have no stories.</p>
  {{else}}
    <p>Be the first to leave a story{{#if teacher_name}} for {{teacher_name}}{{/if}}.</p>
  {{/if}}
</div>
