// Banner
// ======

%banner-layout {
  @include pie-clearfix;
  padding: rhythm(.5) 1em;
}

%banner-colors {
  background: color(85%,.95);
  border-color: color(lighter);
}

%banner {
  @extend %banner-layout;
  @extend %banner-colors;
  @include trailing-border(1px,.5);

  .org {
    #{$link} {
      font-weight: bold;
      color: $base;
    }
    #{$focus} { color: $accent; }
  }
}

%fixed-banner {
  @extend %banner;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 900;
}

// User Nav
// --------

%user-nav {
  text-align: right;

  .fb-login {
    @include icon(facebook) { padding-right: rhythm(.25); }
  }
  .user-name, .logout-form { display: inline-block; }

  [name="logout"] {
    @include icon-replace(exit);
    padding: 0 rhythm(.25);
    #{$focus} { color: $accent; }
  }
}