// ---------------------------------------------------------------------------
// Color Palette (Solarized: http://ethanschoonover.com/solarized)

$yellow   : #f2ac00;
$orange   : #f26e00;
$red      : #e30028;
$pink     : #f16c84;
$maroon   : #94001a;
$blue     : #009191;
$cyan     : #5ac8c8;
$green    : #3ed000;

// ---------------------------------------------------------------------------
// Color System

$base     : #005e5e;
$alt      : $blue;
$accent   : $maroon;

$contrasted-dark-default  : $base;
$contrasted-light-default : color($base lightest);

