// ---------------------------------------------------------------------------
// Grid Backgrounds

$grid-background-baseline-height  : $base-line-height;
$grid-background-baseline-color   : rgba($base,.25);
$grid-background-column-color     : rgba($alt,.25);

$show-column-grid-backgrounds     : true;
$show-baseline-grid-backgrounds   : true;
$show-grid-backgrounds            : false;

// ---------------------------------------------------------------------------
// Grids

@include set-grid(38em 8 1/4 hide);
