// Icons
// =====

$icon-search:         "\e000";
$icon-remove:         "\e004";
$icon-bubble-heart:   "\e005";
$icon-cancel-circle:  "\e006";
$icon-facebook:       "\e007";
$icon-info:           "\e008";
$icon-checkmark:      "\e009";
$icon-warning:        "\e00a";
$icon-close:          "\e00b";
$icon-enter:          "\e003";
$icon-exit:           "\e00c";
$icon-lock:           "\e001";
$icon-eye:            "\e002";
$icon-eye-blocked:    "\e00d";
$icon-heart:          "\e00e";
$icon-quote-right:    "\f10e";

// Debug
$debug: append($debug, icons);

$debug-icons: 'search'          $icon-search,
              'remove'          $icon-remove,
              'bubble-heart'    $icon-bubble-heart,
              'cancel-circle'   $icon-cancel-circle,
              'facebook'        $icon-facebook,
              'info'            $icon-info,
              'checkmark'       $icon-checkmark,
              'warning'         $icon-warning,
              'close'           $icon-close,
              'enter'           $icon-enter,
              'exit'            $icon-exit,
              'lock'            $icon-lock,
              'eye'             $icon-eye,
              'eye-blocked'     $icon-eye-blocked,
              'heart'           $icon-heart,
              'quote-right'     $icon-quote-right;

@mixin debug-icons {
  @debug '# Icons';
  @each $icon in $debug-icons { @debug '"#{nth($icon,2)}" - #{nth($icon,1)}'; }
}
