// Icons
// =====

$icon-menu          : '\e000';
$icon-lock          : '\e001';
$icon-unlocked      : '\e002';
$icon-bubble-plus   : '\e003';
$icon-remove        : '\e004';
$icon-bubble-heart  : '\e005';

// Debug
$debug: append($debug, icons);

$debug-icons: 'menu'          $icon-menu,
              'lock'          $icon-lock,
              'unlocked'      $icon-unlocked,
              'bubble-plus'   $icon-bubble-plus,
              'remove'        $icon-remove,
              'bubble-heart'  $icon-bubble-heart;

@mixin debug-icons {
  @debug '# Icons';
  @each $icon in $debug-icons { @debug '"#{nth($icon,2)}" - #{nth($icon,1)}'; }
}
