// Sizes
// =====

$base-size    : 16px;
$ratio        : major-third() fourth();

// Scale
// -----

$xxxsmallpx   : ms(-6);
$xxsmallpx    : ms(-4);
$xsmallpx     : ms(-3);
$smallpx      : ms(-1);

$normpx       : $base-size;
$medpx        : ms(1);

$largepx      : ms(4);
$xlargepx     : ms(6);
$xxlargepx    : ms(11);
$xxxlargepx   : ms(14);

// Debug
// -----

$debug: append($debug, sizes);
$debug-sizes: '$xxxsmallpx'   $xxxsmallpx,
              '$xxsmallpx'    $xxsmallpx,
              '$xsmallpx'     $xsmallpx,
              '$smallpx'      $smallpx,
              '$normpx'       $normpx,
              '$medpx'        $medpx,
              '$largepx'      $largepx,
              '$xlargepx'     $xlargepx,
              '$xxlargepx'    $xxlargepx,
              '$xxxlargepx'   $xxxlargepx;

@mixin debug-sizes {
  @debug '# Sizes';

  @each $size in $debug-sizes { @debug '#{nth($size,1)}: #{nth($size,2)}'; }
}
