// Sizes
// =====

$base-size    : 18px;
$ratio        : major-third() fifth();

// Scale
// -----

$xxxsmallpx   : ms(-6);
$xxsmallpx    : ms(-4);
$xsmallpx     : ms(-2);
$smallpx      : ms(-1);

$normpx       : $base-size;
$medpx        : ms(1);

$largepx      : ms(4);
$xlargepx     : ms(6);
$xxlargepx    : ms(12);
$xxxlargepx   : ms(16);

// Debug
// -----

$debug: append($debug, sizes);
$debug-sizes: '$xxxsmallpx : ms(-6) '   $xxxsmallpx,
              '$xxsmallpx : ms(-4) '    $xxsmallpx,
              '$xsmallpx : ms(-2) '     $xsmallpx,
              '$smallpx : ms(-1) '      $smallpx,
              '$normpx : $base-size '   $normpx,
              '$medpx : ms(1) '         $medpx,
              '$largepx : ms(4) '       $largepx,
              '$xlargepx : ms(6) '      $xlargepx,
              '$xxlargepx : ms(12) '    $xxlargepx,
              '$xxxlargepx : ms(16) '   $xxxlargepx;

@mixin debug-sizes {
  @debug '# Sizes';

  @each $size in $debug-sizes { @debug '#{nth($size,1)}: #{nth($size,2)}'; }
}
