// -------
// Buttons

@mixin reset-button {
  @include reset-box-model;
  @include reset-font;
  background: none;
  color: inherit;
  cursor: pointer;
}

button { @include reset-button; }

// Button Styles
// -------------

$button-gradient: color($base,0) 40%, color(lightest,.25);

%button-base {
  @include rhythm-borders(1px,.25);
  @include border-radius;
  @include background-image(linear-gradient(to bottom, $button-gradient...));
  display: inline-block;
  padding-left: rhythm(.5);
  padding-right: rhythm(.5);
  cursor : pointer;
}

%button-base-focus {
  @include box-shadow(color($blue lighter,.25) 0 0 rhythm(.25));
}

%button-base-active {
  @include box-shadow($base 0 0 rhythm(.25) inset);
  @include background-image(linear-gradient(to top, $button-gradient...));
}

%button {
  @extend %button-base;
  &:hover, &:focus { @extend %button-base-focus; }
  &:active { @extend %button-base-active; }
}

%button-active {
  @extend %button-base;
  @extend %button-base-active;
}

%button-disabled {
  opacity: .5;
  background: color($yellow lightest,.5);
  cursor: default;
  #{$focus} {
    @include box-shadow(none);
    background-image: none;
  }
}

%button-large {
  @extend %button;
  @include adjust-font-size-to($largepx);
  @include h-borders(1px,.5);
  padding-left: rhythm(1);
  padding-right: rhythm(1);
}

// Defaults
// --------

.form-actions { text-align: right; }

.primary-action { @extend %button; }
