// -----------
// Form fields

.formfield {
  @include pie-clearfix;
  @include trailer(.5);
}

.form-help {
  @include adjust-font-size-to($smallpx);
  color: color($base light);

  a {
    #{$link} { color: color($alt light); }
    #{$focus} { color: color($accent); }
  }
}
