// Labels
// ======

%label-base {
  @include adjust-font-size-to($smallpx);
  // display: inline-block;
  cursor: pointer;
}

%label {
  @extend %label-base;
  font-weight: bold;
}

%sub-label {
  @extend %label-base;
}

.form-type {
  @extend %label;
  .formfield.optional & {
    @include after(' [optional]') {
      @include adjust-font-size-to($smallpx);
      color: color(light);
      font-weight: normal;
    }
  }
}

.radio-type, .checkbox-type {
  @extend %sub-label;
}
