// Radio Select
// ============

%select-button-inactive {
  @extend %button;
  border-radius: 0;
}

%select-button-active {
  @extend %button-base-active;
}

%select-button-base {
  .radio-value {
    display: none;
    & + .radio-type { @extend %select-button-inactive; }
    &:checked + .radio-type { @extend %select-button-active; }
  }
}

%select-buttons {
  @extend %select-button-base;
  .radio-options { padding-top: 0; }
  .option {
    float: left;
    border-right-width: 0;
    &:first-child .radio-type { @include border-left-radius($button-border-radius); }
    &:last-child .radio-type {
      @include border-right-radius($button-border-radius);
      border-right-width: $button-border-width;
    }
  }
}

// ---------------------------------------------------------------------------
// Tab buttons

%tab-buttons {
  @include pie-clearfix;

  .tab-type {
    @extend %select-button-base;
    @extend %select-button-inactive;
    float: left;
    border-right-width: 0;
    &:first-child { @include border-left-radius($button-border-radius); }
    &:last-child {
      @include border-right-radius($button-border-radius);
      border-right-width: $button-border-width;
    }
  }
}

