<form id="add-story-form" class="add-story-form" method="POST">
  {% csrf_token %}
  {% include "forms/errors.html" with errors=form.non_field_errors %}

  {% with help_text="Include photos & video by pasting links from services like <a href='http://youtube.com/'>youtube</a>, <a href='http://vimeo.com/'>vimeo</a>, <a href='http://flickr.com/'>flickr</a>, and <a href='http://instagram.com/'>instagram</a>. Links should be posted on their own line." %}
  {% include "forms/formfield.html" with field=form.body label="Your Message" help_text=help_text %}
  {% endwith %}

  {% if user == teacher.user %}
    {% include "forms/formfield.html" with field=form.submitter_name label="From" help_text="Who sent you this story? (First name only)." %}
    {% include "forms/formfield.html" with field=form.nominal_date label="Date" help_text="When did you receive this story? (MM/DD/YYYY)"%}
  {% else %}
    {% with label="For "|add:teacher.full_name|add:"'s eyes only" %}
      {% include "forms/formfield.html" with field=form.private label=label %}
    {% endwith %}
  {% endif %}

  <div class="form-actions">
    <button class="primary-action" type="submit" name="submit">Send</button>
  </div>
</form>
