<form class="add-story-form" method="POST">
  {% csrf_token %}
  {% include "forms/errors.html" with errors=form.non_field_errors %}

  {% with label="Leave a story for "|add:teacher.get_name %}
  {% with help_text="Write a thank-you note, or post a <a href='http://youtube.com/'>youtube</a> link for video stories." %}
  {% include "forms/formfield.html" with field=form.body label=label help_text=help_text %}
  {% endwith %}
  {% endwith %}

  {% include "forms/formfield.html" with field=form.private label="Keep this story private" %}
  {% include "forms/formfield.html" with field=form.submitter_name label="Name" %}
  {% include "forms/formfield.html" with field=form.submitter_email label="Email" %}

  <div class="form-actions">
    <button class="primary-action" type="submit" name="submit">Send</button>
  </div>
</form>
