{% load cache markup micawber_tags %}
<article class="story {{ story.published|yesno:'published,hidden' }} {{ story.private|yesno:'private,public' }}">
  {% if not story.published %}
  <span class="status-icon">
    <span class="tooltip">
      {% if story.private %}
        For {% if user == teacher.user %}your{% else %}{{ teacher }}'s{% endif %} eyes only
      {% else %}
        Currently hidden from {% if user == teacher.user %}your{% else %}{{ teacher }}'s{% endif %} public profile
      {% endif %}
    </span>
  </span>
  {% endif %}

  {% cache STORY_CACHE_TIMEOUT|default:1 story-body story.id %}
  <div class="story-body">
  <div class="story-content">
    {{ story.body|escape|oembed:'642x642'|markdown:'unsafe' }}
  </div>
  </div>
  {% endcache %}

  <header class="story-info">
    <h1 class="author-name">{{ story.attribution }}</h1>
    <time class="pubdate" pubdate>{{ story.date|date:'F j, Y' }}</time>
  </header>

  {% if user == teacher.user %}
    <div class="story-actions">
      <form id="story-{{ story.id }}-actions-form" method="POST">
        {% csrf_token %}
        {% if story.published %}
          <button type="submit" name="hide-story" value="{{ story.id }}" class="story-status hide">
            <span class="tooltip">Hide this story</span>
          </button>
        {% elif not story.private %}
          <button type="submit" name="publish-story" value="{{ story.id }}" class="story-status publish">
            <span class="tooltip">Publish this story</span>
          </button>
        {% endif %}
        <button type="submit" name="delete-story" value="{{ story.id }}" class="delete-story">
          <span class="tooltip">Delete this story.</span>
        </button>
      </form>
    </div>
  {% endif %}
</article>
