<input type="checkbox" id="mark-private-{{ story_id }}">
<article class="story">
  <div class="story-body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
  </div>

  <header class="story-info">
    <h1 class="author-name">{ Author Name }</h1>
    <time class="pubdate" pubdate>{ pubdate }</time>
  </header>

  {# if user == teacher #}
  <div class="story-actions">
    <label for="mark-private-{{ story_id }}">Private</label>
    <button class="delete-story">Delete</button>
  </div>
</article>