{% load cache markup micawber_tags %}
<article class="story {{ story.published|yesno:'published,hidden' }} {{ story.private|yesno:'private,public' }}">
  {% cache STORY_CACHE_TIMEOUT|default:1 story-body story.id %}
  <div class="story-body">
  <div class="story-content">
    {{ story.body|escape|oembed:'642x642'|markdown:'unsafe' }}
  </div>
  </div>
  {% endcache %}

  <header class="story-info">
    <h1 class="author-name">{{ story.attribution }}</h1>
    <time class="pubdate" pubdate>{{ story.date|date:'F j, Y' }}</time>
  </header>

  {% if user == teacher.user %}
    <div class="story-actions">
      <form id="story-{{ story.id }}-actions-form" method="POST">
        {% csrf_token %}
        {% if story.published %}
          <button type="submit" name="hide-story" value="{{ story.id }}" class="story-status hide" title="Hide this story">hide</button>
        {% elif story.private %}
          <p class="story-private-notice" title="This is a private note, just for you.">private</p>
        {% else %}
          <button type="submit" name="publish-story" value="{{ story.id }}" class="story-status publish" title="Publish this story">publish</button>
        {% endif %}
        <button type="submit" name="delete-story" value="{{ story.id }}" class="delete-story" title="Delete this story.">Delete</button>
      </form>
    </div>
  {% endif %}
</article>
