{% extends "base.html" %}

{% load accounts teachers %}

{% block body %}
{% block top %}{% include "messages_ui/_messages.html" %}{% endblock %}

<header role="banner">
  <h1 class="brand vcard">
    <a href="/" rel="home" class="fn org">The K Network</a>
  </h1>

  {% block banner %}
  <nav class="user-nav">
    {% if user.is_authenticated %}
      <p class="user-name">
        {% if user|teacher_profile %}
          <a href="{% url 'teacher_detail' username=user.username %}">{{ user }}</a>
        {% else %}
          <a href="{% url 'create_profile' %}?next={{ request.path }}">{{ user }}</a>
        {% endif %}
      </p>
      <form id="nav-logout-form" class="logout-form" method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <button type="submit" name="logout" title="logout">Log out</button>
      </form>
    {% elif ENABLE_LOGIN %}
      <a href="{% oauth_authorize_url request login_next|default:request.path %}" class="fb-login">Login with Facebook</a>
    {% endif %}
  </nav>
  {% endblock %}
</header>

<div role="main">
  {% block main %}{% endblock %}
</div>

<footer role="contentinfo">
  <span class="license">Copyright &copy; 2013 <strong>The K Network</strong></span>
  <a href="/terms/">Terms of Service</a>
  <a href="/privacy/">Privacy Policy</a>
</footer>
{% endblock %}
