<!DOCTYPE html>
{% load compressed %}
<!--[if lte IE 8 ]>             <html class="no-js lt-ie9" lang="en" dir="ltr">   <![endif]-->
<!--[if IE 9 ]>                 <html class="no-js ie9" lang="en" dir="ltr">  <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->  <html class="no-js" lang="en" dir="ltr">      <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Page Info -->
  <title>{% block title %}The K Network{% endblock %}</title>
  <meta name="description" content="{% block description %}Teachers, use your computer to text parents in seconds. Free. Simple. Organized.{% endblock description %}" />

  <!-- Site Info -->
  {% block robots %}<meta name="robots" content="index, follow" />{% endblock %}
  <meta name="author" content="K Network" />
  <meta name="keywords" content="keywords" />
  <meta name="language" content="en-us" />

  <meta name="p:domain_verify" content="5deb9fa05f1845e9f0ffca0716b22c6c" />

  <!-- Microformat Profiles -->
  <!-- hCard, hCalendar, rel-license, rel-tag, XOXO, XFN, VoteLinks -->
  <link rel="profile" href="http://microformats.org/profile/specs/" />

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
  <meta http-equiv="cleartype" content="on">
  <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />

  {% block mobile-optimized %}
  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1">
  {% endblock mobile-optimized %}

  <!--iOS. Delete if not required -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="apple-touch-startup-image" href="{{ STATIC_URL }}images/favicons/splash.png">

  {% block styles %}
  {% compressed_css "screen" %}
  {% endblock styles %}

  <!-- Modernizr -->
  {% compressed_js "modernizr" %}

  <!-- Page-Specific Head -->
  {% block extrahead %}{% endblock %}

  {% if GOOGLE_ANALYTICS_ID %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ GOOGLE_ANALYTICS_ID }}', 'theknetwork.org');
    ga('send', 'pageview');
  </script>
  {% endif %}

</head>

<body id="knet" class="{% block bodyclasses %}{% endblock %}">
{% block body %}

{% endblock body %}

<!-- JavaScript -->
{% block js %}
{% compressed_js "plugins" %}
{% compressed_js "main" %}
{% endblock js %}

{% block extrajs %}
{% endblock extrajs %}

</body>
</html>
