{% extends "base.html" %}

{% load accounts %}

{% block body %}
{% block top %}{% include "messages_ui/_messages.html" %}{% endblock %}

<header role="banner">
  <h1 class="brand vcard">
    <a href="/" rel="home" class="fn org">The K Network</a>
  </h1>

  {% block banner %}
  <nav class="user-nav">
    {% if user.is_authenticated %}
      <p class="user-name"><a href="{% url 'teacher_detail' username=user.username %}">{{ user }}</a></p>
      <form class="logout-form" method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <button type="submit" name="logout" title="logout">Log out</button>
      </form>
    {% else %}
      {% if ENABLE_LOGIN %}
        <a href="{% oauth_authorize_url %}" class="fb-login">Login with Facebook</a>
      {% endif %}
    {% endif %}
  </nav>
  {% endblock %}
</header>

<div role="main">
  {% block main %}{% endblock %}
</div>
{% endblock %}
