{% extends "base.html" %}

{% load accounts %}

{% block body %}
{% block top %}{% include "messages_ui/_messages.html" %}{% endblock %}

<header role="banner">
  <h1 class="brand vcard">
    <a href="/" rel="home" class="fn org">The K Network</a>
    {% if user.is_authenticated %}
      <form class="logout-form" method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" name="logout">Log out</button>
      </form>
    {% else %}
      <a href="{% oauth_authorize_url %}">Login with Facebook</a>
    {% endif %}
  </h1>
  {% block banner %}{% endblock %}
</header>

<div role="main">
  {% block main %}{% endblock %}
</div>
{% endblock %}
