{% extends "base_site.html" %}

{% block main %}
<div class="create-profile">
  <h1 class="welcome-title">Welcome to The K Network!</h1>

  <input type="checkbox" id="create-profile-toggle" checked />
  <label for="create-profile-toggle" class="toggle-profile">
    I'm a teacher:
    <strong>create a profile</strong>
    where I can receive thank-you notes.
  </label>

  <form id="create-profile-form" class="create-profile-form" method="POST">
    {% csrf_token %}
    {% include "forms/errors.html" with errors=form.non_field_errors %}

    {% include "forms/formfield.html" with field=form.school label="School" %}

    {% with 'Provide enough detail for students to identify you.' as help_text %}
    {% include "forms/formfield.html" with field=form.bio label="Bio" help_text=help_text %}
    {% endwith %}

    <div class="form-actions">
      <button class="primary-action" type="submit" name="submit">Create Profile</button>
    </div>
  </form>

  <a href="{{ profile_next }}" class="skip-profile">
    I'm not a teacher:
    <strong>skip this step</strong>
    I'm just here to thank inspiring teachers.
  </a>

</div>
{% endblock %}
