{% extends "base_site.html" %}

{% block main %}
<p>Welcome to the K Network!</p>

<p>
  If you're a teacher and you'd like to create a public teacher profile, fill
  out your school name and a brief bio (enough for your students to know they've
  got the right teacher!) below and click "Create Teacher Profile."
</p>

<p>
  If you're just here to submit stories for your favorite teachers, not receive
  stories, you can <a href="{{ profile_next }}">skip this</a>.
</p>

<form method="POST">
  {% csrf_token %}
  {% include "forms/errors.html" with errors=form.non_field_errors %}

  {% include "forms/formfield.html" with field=form.school label="School" %}
  {% include "forms/formfield.html" with field=form.bio label="Bio" %}

  <div class="form-actions">
    <button class="primary-action" type="submit" name="submit">Create Teacher Profile</button>
  </div>

</form>

{% endblock %}
