{% extends "base.html" %}

{% block body %}
<article class="demo">
  <h1 class="logo">The K Network.</h1>
  <p class="tagline">exploring what's possible in the world of teaching and learning</p>
  <div>
    Teacher name:
    <span class="teacher-name"></span>
  </div>
  <div>
    Learner name:
    <span class="learner-name"></span>
  </div>

  <div id="step-1">
    <h2>What's Possible | Step 1</h2>
    <label for="teacher-name">As a teacher, enter your name:</label>
    <input type="text" id="teacher-name" placeholder="e.g. John Doe">
    <p class="instructions">Pretend you are a teacher and that you are about to tutor someone in mathematics. Enter your name, hit return.</p>
  </div>

  <div id="step-2">
    <h2>What's Possible | Step 2</h2>
    <p>As a learner, log into Khan Academy:</p>
    <img src="{{ STATIC_URL }}images/login.jpg">
    <button>Login Peter K</button>
    <p class="instructions">Pretend you have someone to tutor, and his name is Peter K. <strong>Press the “Login Peter K” button</strong></p>
  </div>

  <div id="step-3">
    <h2>What's Possible | Step 3</h2>
    <p>With Peter K, choose a math topic for the session:</p>
    <img src="{{ STATIC_URL }}images/KA-data.jpg">
    <button>Select</button>
    <p class="instructions"><strong>Press the Select button</strong></p>
  </div>

  <div id="step-4">
    <h2>What's Possible | Step 4</h2>
    <p>Engage in a learning session</p>
    <p>Play with the 3 interactive tools:</p>
      <div class="timer">
        <p class="time">00:00</p>
        <button>start</button>
        <button>stop</button>
        <button>reset</button>
        <p>this will be automatically tracked in the final version</p>
      </div>

      <div class="learner-feedback">
        <button class="explained">Explained it well</button>
        <span class="explained-count">0</span>
        <button class="connected-count">Connected with me</button>
        <span class="connected-count">0</span>
        Learner Feedback Buttons to track teacher performance (click them, watch how the feedback count goes up)
      </div>

      <div class="teacher-feedback">
        <button class="grit">Grit</button>
        <span class="grit-count">0</span>
        <button class="optimism">Optimism</button>
        <span class="optimism-count">0</span>
        <button class="curiosity">Curiosity</button>
        <span class="curiosity-count">0</span>
        Teacher Feedback buttons to track learner performance (click them, watch how the feedback count goes up)
      </div>

      <p>NOTE: The K Network wants Teacher-Learner Feedback to go both ways. Users will be able to build reputations both as teachers AND as learners.</p>
    </p>
    <img src="{{ STATIC_URL }}images/screenshot.jpg">
    <button>Done</button>
    <p class="instructions"><strong>When finished, press the Done button</strong></p>
  </div>

  <div id="step-5">
    <h2>What's Possible | Step 5</h2>
    <p>Get end-of-session feedback:</p>
    <div class="hard-data">
      Hard Data:
      Before
      <img src="{{ STATIC_URL }}images/KA-data.jpg">
      After
      <img src="{{ STATIC_URL }}images/KA-data.jpg">
      <p>Now looks like 11 / 11 Skills</p>
      <p>Now Word Problems is a Gold Star</p>
    </div>
    <div class="soft-data">
      Learner Feedback goes to Teacher
      Teacher Feedback goes to Learner
      (reflected in User Profiles, next page)
    </div>
    <button>Next</button>
    <p class="instructions"><strong>Press the Next button when ready</strong></p>
  </div>

  <div id="step-6">
    <h2>What's Possible | Step 6</h2>
    <p>“Hard Data” stats and “Soft Data” Stats go into user profile system</p>
    <div class="teacher-profile">
      <h3>Teacher Profile for <span class="teacher-name"></span></h3>
      <div class="hard-data">
        <p>5 students, 12 sessions, 23 proficiencies gained</p>
        <p>[note: available when / if Khan Academy is used]</p>
      </div>
      <div class="soft-data">
        <p>Ability to Teach: Very High</p>
        <p>Ability to Connect: Moderate to Good</p>
      </div>
    </div>
    <div class="learner-profile">
      <h3>Learner Profile for <span class="learner-name"></span></h3>
      <div class="grit">
        Grit:
        <span>67</span>
        <span>Extremely High</span>
        <div class="description">
          Finishing what one starts; completing something despite obstacles; a combination of persistence and resilience.
          <ul>
            <li>Finishes whatever he or she begins</li>
            <li>Tries very hard even after experiencing failure</li>
            <li>Works independently with focus</li>
          </ul>
        </div>
      </div>
      <div class="optimism">
        Optimism:
        <span>54</span>
        <span>Average</span>
      </div>
      <div class="curiosity">
        Curiosity:
        <span>25</span>
        <span>Moderate to Good</span>
      </div>
    </div>
    <div class="instructions">
      <ul>
        <li>Teachers can use their profile for applying in the teaching industry.</li>
        <li>Learners can use their profile to show they have the character traits that mean they are good to work with, worthy of their first job, etc.</li>
      </ul>
    </div>
  </div>

</article>
{% endblock %}
