{% extends "base.html" %}

{% load accounts teachers %}

{% block body %}
{% block top %}{% include "messages_ui/_messages.html" %}{% endblock %}

<header role="banner">
  {% block banner %}
  <h1 class="brand vcard">
    <a href="/" rel="home" class="fn org">The K Network</a>
  </h1>
  {% endblock banner %}
</header>

<div role="main">
  {% block main %}{% endblock %}
</div>

{% block footer %}
<footer role="contentinfo">
  <span class="license">Copyright &copy; 2013 <strong>The K Network</strong></span>
  <a href="mailto:support(put the 'at' sign here)theknetwork.org" class="email">support(put the 'at' sign here)theknetwork.org</a>
  <span class="phone">212.625.1833</span>
</footer>
{% endblock footer %}

{% endblock %}
