{% extends "base_site.html" %}

{% load markup stories accounts %}

{% block main %}
<article class="teacher-detail">

  {# Teacher Info #}
  {% include "_teacher_info.html" %}

  {# Story Form #}
  {% if user.is_authenticated %}
  <input type="checkbox" id="story-form-toggle" checked/>
  <label for="story-form-toggle" class="toggle-addstory">
    <span class="icon-addstory"></span>
    <span class="text-addstory">
      {% if user == teacher.user %}
        Post messages you've received elsewhere.
      {% else %}
        Tell us how {{ teacher }} changed your life.
      {% endif %}
    </span>
  </label>

  {% include "_add_story_form.html" %}

  {% elif not user.is_authenticated %}
  <a href="{% oauth_authorize_url request login_next|default:request.path %}" class="fb-login">
    <span class="icon-addstory"></span>
    <span class="text-addstory">
      Login to thank {{ teacher }}
    </span>
  </a>
  {% endif %}

  {# Stories #}
  <section class="teacher-stories" data-teacher="{{ teacher.user.id }}" data-teacher-name="{{ teacher }}" data-user="{{ user.id }}" data-url="{% if user == teacher.user %}{{ BASE_URL }}{% url 'teacher_detail' username=user.username %}{% endif %}">
    {% for story in teacher|stories_visible_to:user %}
    {% include "_story.html" %}
    {# if empty, msg inserted via js #}
    {% endfor %}
  </section>
</article>
{% endblock %}
