{% extends "base_site.html" %}

{% load markup %}

{% block main %}{% with profile=teacher.teacher_profile %}
<article class="teacher-detail">

  {# Teacher Info #}
  <header class="teacher-info">
    {% if teacher != user %} {# no leaving stories for yourself! #}
      <label for="story-form-toggle">Hide Form</label>
    {% endif %}
    <h1 class="teacher-name">{{ teacher }}</h1>

    <ul class="teacher-data">
      {% if profile.school %}
      <li class=" data-item school">
        <span class="value">{{ profile.school }}</span>
      </li>
      {% endif %}
      <li class=" data-item membership">
        <b class="type">Network Member Since</b>
        <span class="value">{{ teacher.date_joined|date }}</span>
      </li>
    </ul>
    <div class="teacher-bio">{{ teacher.bio|markdown }}</div>
  </header>

  {# Story Form #}
  {% if teacher != user %} {# no leaving stories for yourself! #}
  <input type="checkbox" id="story-form-toggle" checked/>

  {% include "_add_story_form.html" %}
  {% endif %}

  {# Stories #}
  <section class="teacher-stories">
    {% for story in teacher.stories.all %}
    {% include "_story.html" %}
    {% empty %}
    <p>No stories yet!</p>
    {% endfor %}
  </section>
</article>
{% endwith %}{% endblock %}
