// Add Story
// =========

.add-story-form {
  @include padding-leader(.5);
  @include trailing-border(1px);
  @include trailer;
  border-color: color(light);
}

// Toggle
// ------

[id="story-form-toggle"] {
  position: absolute;
  left: -9999px;
  opacity: .01;

  &:checked ~ .add-story-form { @extend %toggle-content-hidden; }
}
