// Add Story
// =========

.add-story-form {
  @include padding-leader(.5);
  @include trailing-border(1px);
  @include trailer;
  border-color: color(light);
}

.story-body-group {
  @include tabs(body-field video-field, '.tab-options' null);

  %hide-tab-content { display: none; }
  %show-tab-content { display: block; }
  %active-tab-title { @extend %select-button-active; }

  .tab-options {
    @extend %tab-buttons;
    @include trailer(-1);
    float: right;
  }

  .formfield { clear: both; }

  .form-type { @include rhythm-padding($button-border-rhythm); }
}

// Toggle
// ------

[id="story-form-toggle"] {
  position: absolute;
  left: -9999px;
  opacity: .01;

  &:checked ~ .add-story-form { @extend %toggle-content-hidden; }
}
