// Add Story
// =========

.add-story-form {
  @extend %main-form-base;
}

.submitter_name-field, .submitter_email-field { @include span(6); }
.submitter_email-field { @include last; }
.private-field {
  clear: both;
  text-align: right;
}

// Toggle
// ------

.icon-addstory {
  @include icon(bubble-heart);
  @include adjust-font-size-to($xxlargepx);
  margin-right: rhythm(.5);
}

.icon-addstory, .text-addstory {
  display: inline-block;
  vertical-align: middle;
}

%addstory-button {
  @extend %button-large;
  @include serif;
  @include adjust-font-size-to($largepx);
  color: $alt;
  text-align: center;
  cursor: pointer;

  #{$focus} { color: $accent; }
}

.toggle-addstory {
  @extend %addstory-button;
  display: none;
}

[id="story-form-toggle"] {
  position: absolute;
  left: -9999px;
  opacity: .01;

  &:checked ~ .toggle-addstory { display: block; }
  &:checked ~ .add-story-form { @extend %toggle-content-hidden; }
}
