// Demo
// ====

$steps: teacher-login learner-login topic-select learning-session results profiles;

%hide-tab-content {
  @include trailer(0);
  opacity: 0;
  max-height: 0;
}
%show-tab-content {
  @include transition(all 200ms linear);
  @include trailer(1);
  opacity: 1;
  max-height: 80em;
}
%active-tab-title { font-weight: bold; }

.demo {
  @extend %type;
  counter-reset: demo;

  button, .next-button { @extend %button; }
  .next-button { background-color: color($green lightest); }
  .label { @include trailer(0); }
  label { cursor: pointer; }

  @include tabs($steps, '.step h2' '.step');
}

// Instructions
// ------------

.instructions {
  @include leader;
  @include adjust-font-size-to($smallpx);
  @include rhythm-borders(1px,.5);
  @include arrow(top center .5em $orange);
  @include border-radius(.25em);
  clear: both;
  border-color: $orange;
}

// Steps
// -----

.step {
  @include pie-clearfix;
  @include leading-border(2px,.25);
  counter-increment: demo;

  h2 {
    @include before(unquote('"Step " counter(demo) ": "')) {
      font-weight: normal;
      color: color(light);
    }
  }

  [class$="-content"] {
    overflow: hidden;
  }
}

.collaborate {
  @include pie-clearfix;
  @include trailer;
  height: rhythm(12);
  border: 1px solid;
  .work {
    float: left;
    width: space(5);
    height: 100%;
  }
  .session {
    float: right;
    width: columns(3);
    height: 100%;
    margin-left: -1em;
  }
}

.learner-feedback {
  @include span-columns(4);
}

.teacher-feedback {
  @include span-columns(4 omega);
}

