// Landing
// =======

.landing {
  max-width: 60em;
  header { @include gone; }
}

.call-to-action {
  @include prefix(5);
  @include padding-leader(1);
  @include trailer(2);
  @include background(image-url('wordmark.svg') no-repeat scroll bottom);
  @include background-size(contain);
  padding-bottom: 10%;
}

.intro {
  @include serif;
  @include adjust-font-size-to($medpx + $xxxsmallpx);
  @include trailer(2);
}

.signup {
  @include pie-clearfix;
  @include trailer(2);
  label { font-style: italic; }
  input { @include span-columns(3,5); }
  button {
    @extend %button;
    @include span-columns(2 omega,5);
    @include serif;
    background-color: color(lightest $green);
    border-color: color(light $alt);
    font-weight: bold;
  }
}

.message {
  @include trailer;
  @include rhythm-borders(1px,.5);
  position: relative;
  color: color(lightest);
  border-color: $base;

  &.success { background: color(darker $green); }
  &.error { background: color(darker $red); }

  .close {
    @extend %icon-replace;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    color: color(lightest, .5);
    #{$focus} { color: white; }
    @include before('x') { font-family: inherit; };
  }
}

.desc {
  @include pre(5);

  p { @include trailer; }
}

.metrics {
  @include span-columns(5);
}

.outro {
  @include span-columns(5 omega);
  @include padding-leader(.5);
}