// Story
// =====

.story {
  @include rhythm-margins();
}

.story-info {
  float: left;
  width: 50%;

  &:last-child {
    float: none;
    width: auto;
  }
}

.story-actions {
  text-align: right;
}
