// Stories
// =======

.no-stories-message {
  @include serif;
  @include rhythm-padding(2);
  @include adjust-font-size-to($largepx);
  color: color(lighter);
  text-align: center;
}

.toggle-addstory-body {
  @extend %toggle-addstory;
  @include leader;
  @include adjust-font-size-to($xxxlargepx);
  min-height: px-to-rhythm($xxxlargepx);

  #{$focus} { color: $alt; }
}


// Story
// -----

.story {
  @include clearfix;
  @include rhythm-margins;
  @include gallery(5 isolate);
  position: relative;

  &.private {
    @include icon(lock) {
      @include border-radius(.25em);
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 .125em 0 .5em;
      background: $red;
      color: white;
    }
  }
}

// Story Body
// ----------

.story-body {
  @include trailer(.5);
  @include rhythm-borders(2px,1);
  @include border-radius(.25em);
  @include arrow(bottom rhythm(.25) rhythm(.5) $alt);
  border-color: $alt;

  .private & {
    border-color: $red;
    &:before { border-top-color: $red; }
  }
}

// Story Info
// ----------

.story-info {
  @include adjust-font-size-to($smallpx);
  float: left;
  width: 50%;

  &:last-child {
    float: none;
    width: auto;
  }
}

.author-name, .pubdate { display: inline-block; }
.author-name { font-weight: bold; }
.pubdate { color: color(light); }

// Story Actions
// -------------

.story-actions {
  text-align: right;
}

.story-status {
  &.unlock {
    @include icon-replace(lock);
    #{$focus} { @include icon(unlocked); }
  }
  &.lock {
    @include icon-replace(unlocked);
    #{$focus} { @include icon(lock); }
  }
}

.delete-story {
  @include icon-replace(remove);

  #{$focus} { color: $red; }
}
