// Stories
// =======

.no-stories-message {
  @include serif;
  @include rhythm-padding(1);
  @include adjust-font-size-to($medpx);
  color: color(lighter);
  text-align: center;
}

.share-profile-link {
  display: block;
  color: color($alt lighter);
}

// Story
// -----

$status-published-color: $alt;
$status-hidden-color: color($yellow lighter);
$status-hidden-icon: eye-blocked;
$status-private-color: color(lighter);
$status-private-icon: lock;

%story-status {
  @include adjust-font-size-to($smallpx,1.25);
  @include border-radius(.25em);
  position: absolute;
  top: rhythm(-.375);
  right: rhythm(-.375);
  padding: 0 .5em;
  z-index: 900;
}

@mixin story-status-icon(
  $status,
  $icon,
  $color: $status-published-color
) {
  &.#{$status} {
    @include icon($icon) {
      @extend %story-status;
      background: $color;
      color: contrast($color, white color(darkest));
    }
  }
}

.story {
  @include pie-clearfix;
  @include rhythm-margins(2);
  position: relative;

  @include story-status-icon('hidden', $status-hidden-icon, $status-hidden-color);
  @include story-status-icon('private', $status-private-icon, $status-private-color);
  &.hidden.private { @include before($icon-lock); }
}


// Story Body
// ----------

@mixin story-body-status(
  $status,
  $color
) {
  .#{$status} & {
    border-color: $color;
    &:before { border-top-color: $color; }
  }
}

.story-body {
  @include trailer(.5);
  @include rhythm-borders(2px,1);
  @include border-radius(.25em);
  @include arrow(bottom rhythm(.25) rhythm(.5) $status-published-color);
  background: color(white, .75);
  border-color: $alt;

  @include story-body-status('hidden', $status-hidden-color);
  @include story-body-status('private', $status-private-color);
}

.story-content {
  @extend %type;
  overflow: hidden;

  ul, ol { padding-left: rhythm(1); }
  :last-child { @include trailer(0); }
}

// Story Info
// ----------

.story-info {
  @include adjust-font-size-to($smallpx);
  float: left;
  width: 50%;

  &:last-child {
    float: none;
    width: auto;
  }
}

.author-name, .pubdate { display: inline-block; }
.author-name { font-weight: bold; }
.pubdate { color: color(light); }

// Story Actions
// -------------

.story-actions {
  text-align: right;
}

%story-action {
  padding: 0 rhythm(.25);
  color: color(light);
}

.story-private-notice {
  @include adjust-font-size-to($smallpx);
  display: inline-block;
  color: color(lighter);

  @include icon(lock) { padding-right: .4em; }
}

.story-status {
  @extend %story-action;
  @include icon-replace(eye);

  #{$focus} { color: $alt; }

  &.hide {
    @include before($icon-eye-blocked);
    #{$focus} { color: $yellow; }
  }
}

.delete-story {
  @extend %story-action;
  @include icon-replace(remove);

  #{$focus} { color: $red; }
}

// Embeded Content
// ---------------

.oembed {
  @include trailer;

  &.video-embed { @include fluid-ratio; }

  &.video-embed, img {
    border: 1px solid color($base light);
  }

  iframe, img { vertical-align: top; }
  img { max-width: 100%; }
  a { display: block; }
}


