// Teacher Detail
// ==============

.teacher-detail {
  position: relative;
}

.teacher-info {
  @include trailer(1);
}

.teacher-name {
  @extend %main-title;
}

.teacher-data, .teacher-bio {
  color: color(light);
}

.teacher-data {
  @include trailer(.5);

  .data-item {
    display: inline-block;
    margin-right: rhythm(1);
  }
}
