// Teacher Detail
// ==============

.teacher-detail {
  position: relative;
}

.teacher-info {
  @include trailer(1);
  border-color: color(lighter);
}

.teacher-name {
  @extend %main-title;
}

.teacher-data {
  color: color(light);

  .data-item {
    display: inline-block;
    margin-right: rhythm(1);
  }
}
