// Teacher Detail
// ==============

.teacher-detail {
  position: relative;

  .fb-login {
    @extend %addstory-button;
    display: block;

    .icon-addstory { @include before($icon-facebook); }
  }
}

.teacher-info {
  @include adjust-font-size-to($smallpx);
  @include rhythm-borders(2px,.5);
  @include trailer(2);
  color: color($base light);
  border-color: color(lightest);
  background: color(lightest,.25);
}

.teacher-name {
  @extend %main-title;
}

.teacher-data {
  @include trailer(.5);

  .data-item {
    display: inline-block;
    margin-right: rhythm(1);
  }
}
